[2016-02-07 23:50] anuvarsh commented on #242
All unit tests have been written. Closing this issue.

[2016-02-07 23:50] #242 closed

[2016-02-07 23:57] anuvarsh opened #255 "value-replaced–w-spaces-net-only-input.xlsx causes TypeError"
When uploading `value-replaced–w-spaces-net-only-input.xlsx` onto the beta site, an Uncaught TypeError appears in the console:
![image](https://cloud.githubusercontent.com/assets/8509674/12876245/c4db4df0-cdb2-11e5-85f3-773da18bc653.png)
The server does not crash, but the graph does not appear. Graph statistics are still reported at the top right corner of the window. The unit test for this file i

[2016-02-08 05:32] dondi commented on #254
You can use `npm list` or `npm list -g` to see what you have installed in a particular */node_modules* directory (with `-g` listing the globally-installed modules):

http://stackoverflow.com/questions/10972176/find-the-version-of-an-installed-npm-package

Might be useful to compare what `npm list` gives you on your respective installations. The one that I have on grnsight.cs.lmu.edu (i.e., the one

[2016-02-10 07:52] anuvarsh commented on #204
In order to take steps towards this process, I started looking for information that may provide insight regarding the specific changes made to the object produced by the older version of node-xlsx. Documentation on the node-xlsx GitHub Wiki has been minimal, and the little that I have found has not provided much clarification. Moving forward, I will make a few test excel sheets and play around wit

[2016-02-10 08:03] anuvarsh commented on #241
In anticipation of the discussion we were planning to have at our next meeting regarding the data structure design, I have reviewed the previously mentioned wiki pages about GRNmap's input and output sheets.

[2016-02-10 20:18] dondi commented on #226
@anuvarsh and @dondi have synced up our respective npm versions and @anuvarsh now owns the server processes on grnsight.cs.lmu.edu. We can move on to verifying [Library Requirements](https://github.com/dondi/GRNsight/wiki/Library-Requirements) versions and also addressing #254.

[2016-02-10 20:23] kdahlquist commented on #252
With the edits I just made, this is ready for submission.

[2016-02-10 20:23] dondi commented on #226
The procedures and commands that are in the document have been completed, so we can close this issue.

[2016-02-10 20:26] dondi commented on #254
This is issue has been adjusted as the general "version audit" issue. A new item is to contextualize the different dependencies because not every context needs all dependencies (e.g., mocha et al is only needed for developer installations where unit tests are being run; googleapis is only needed by server for interacting with Google Analytics, etc.).

@mihirsamdarshi and @cazinge can serve as init

[2016-02-11 06:28] anuvarsh commented on #252
The abstract has been submitted.

[2016-02-11 06:49] #252 closed

[2016-02-16 07:51] kdahlquist opened #256 "Investigate libraries that would give us graph properties"
I am interested in investigating if there are any libraries out there that we can easily adopt/adapt to give us some graph properties of the loaded graph "for free".

Currently, we display the number of nodes and edges.  We could also display the following graph properties:
* diameter: longest of the shortest path lengths between pairs of nodes
* vertex (node) connectivity: minimum number of nodes

[2016-02-16 08:00] kdahlquist commented on #256
forgot to provide link to jsPlumb: https://jsplumbtoolkit.com/docs/toolkit/graph.html

[2016-02-17 19:31] kdahlquist commented on #226
@anuvarsh will update the wiki page:  https://github.com/dondi/GRNsight/wiki/Server-Setup

with what she has documented and then we can close this again.

[2016-02-17 19:32] kdahlquist commented on #254
Wiki is now up-to-date.

[2016-02-17 19:32] #254 closed

[2016-02-17 20:01] kdahlquist commented on #256
Another feature would be a byproduct of this would be a converter that converts the adjacency matrix to a pairwise interactions.

As a milestone for next week, try loading each of these libraries and mess around with them (run the tests?).

[2016-02-17 20:03] kdahlquist commented on #255
This should get kicked back to the user as an error so that they can fix it.

[2016-02-17 20:06] kdahlquist commented on #230
This is related to #254.  Name the version that is on grnsight.cs.lmu.edu.  There can be a disclaimer that others will work, but we need to document at least one.

[2016-02-22 00:44] mihirsamdarshi commented on #230
I have found and updated the version of npm required. However, in our packages.json file, we can add a bit of code alerting the user to update their version of node if their version is not up to date. More information can be found [here](https://docs.npmjs.com/files/package.json#engines) on the npm wiki.

[2016-02-23 17:40] anuvarsh commented on #226
The wiki page has been updated.

[2016-02-23 20:04] anuvarsh commented on #253
A unit test case has been created for this problem but it is not passing quite yet (still in red cap).

This is the unit test error:
![image](https://cloud.githubusercontent.com/assets/8509674/13264949/625531b2-da25-11e5-934c-8f177c634f18.png)

This is what I currently have in the code:
![image](https://cloud.githubusercontent.com/assets/8509674/13264973/7e1ef2a2-da25-11e5-9c4b-ecc5313fc491.png)

[2016-02-24 19:52] dondi commented on #253
It looks like this can be managed in a reasonable way with the benefit of making the code overall more robust. I would first define this function:

    var addMessageToArray = function (messageArray, message) {
        messageArray.push(message);
    }

This is a helper function that both warnings and errors would now use:

    var addWarning = function (message) {
        addMessageToArray(networ

[2016-02-24 19:55] dondi commented on #230
This looks good to me; a warning message will be useful, after which we can close this ticket.

[2016-02-24 20:03] dondi commented on #230
The Library Requirements wiki page has been updated with a procedure for keeping up with dependency version changes.

[2016-02-24 20:05] dondi commented on #226
Changes look good; closing.

[2016-02-24 20:05] #226 closed

[2016-02-24 20:11] dondi commented on #256
@mihirsamdarshi can get started on this while @anuvarsh is wrapping up the errors/warnings infrastructure. The general process here would be:

- Visit the various options listed by @kdahlquist here
- Determine whether the package runs on the server (node) or the browser, or both
- Try out the packages one by one, to get the feel for how they are used
- There is a high likelihood that some kind of

[2016-02-24 20:21] anuvarsh opened #257 "LMU Symposium 2016 Poster"
We want to have an updated version of our poster by March 9th to leave time for review and edits.

[2016-03-04 00:40] kdahlquist opened #258 "Add a Privacy Policy to GRNsight web site as required by our use of Google Analytics"
Our use of Google Analytics and their terms of service requires us to have a Privacy Policy on our web site.

http://www.davemulder.com/2010/07/01/using-google-analytics-wheres-your-privacy-policy/

The author of that blog has a policy that we might modify:

http://www.davemulder.com/privacy-policy/

I like how he provides links to opt-out (I'm not saying we should write our own, but that we could

[2016-03-09 05:40] anuvarsh commented on #225
All of the updates made to the warnings list (collapsing if more than 3 of same warning appear and adjusting the size of the warning box according to screen size) seem to have been lost when we merged with the refactoring branch. Will need redo these updates.

[2016-03-09 06:22] anuvarsh commented on #257
An updated version of the poster can be found below. Information was updated or confirmed to be accurate except the Google Analytics graph. Currently, the old graph is outlined with a red box to indicate it must be replaced. I had trouble logging into the GA account so could not do it in advance. Other GA statistics were updated and reflect the data currently presented on the website.

[Varshneya_

[2016-03-09 07:43] anuvarsh commented on #253
I completed this a few days ago and found that the unit tests are not passing, as we expected. 21 unit tests for errors and 16 unit tests for warnings are not recognizing "network" as an object (image below). I found that when I only replaced network.errors.push with addError, 2 unit tests were failing (both were error unit tests). When only network.warnings.push was replaced with addWarning, 35 u

[2016-03-09 07:57] anuvarsh commented on #253
I pushed the code with both network.warnings.push and network.errors.push replaced with the corresponding function to beta for ease of discussion tomorrow.

[2016-03-09 20:11] anuvarsh commented on #253
The reason the `addWarning` and `addError` functions were not working is because they were calling the `network` array before it was defined. Simply adding `network` as a parameter to those functions fixed the problem. All unit tests are passing now.

Updated code:
![image](https://cloud.githubusercontent.com/assets/8509674/13648936/1b573f22-e5f0-11e5-9214-da2c25778a07.png)

[2016-03-09 20:11] #253 closed

[2016-03-09 20:21] dondi commented on #258
@dondi and @kdahlquist will determine the final language, after which @mihirsamdarshi will execute the change.

[2016-03-09 20:23] dondi commented on #256
@mihirsamdarshi has installed them locally and is halfway through putting together some tests to take them through their paces.

[2016-03-09 20:23] dondi commented on #255
Still open because it is a web-client issue.

[2016-03-14 06:40] dondi commented on #258
I looked around a bit and it seems that a lot of sites leave the details to a link:

<img width="1048" alt="screen shot 2016-03-13 at 11 34 04 pm" src="https://cloud.githubusercontent.com/assets/382242/13736740/8b5cc4d6-e974-11e5-9c58-889f9e258fa1.png">

Of course our version (if we adopted this style) would not mention ads nor other services because we don’t do those, so it would read more like t

[2016-03-16 18:55] anuvarsh opened #259 "Add News item and upload work(s) to Publications for LMU Symposium and Experimental Biology 2016"
Create a news item for the LMU Symposium 2016. The program is linkable, and can be found here: http://academics.lmu.edu/media/lmuacademics/undergraduateresearchsymposium/documents/ei8ht_Symposium_Long_Program_16_Secured.pdf

[2016-03-16 19:04] anuvarsh commented on #255
Instead of checking this on the web-client side, we will do a type check in the server to make sure that all of the weights are numbers.

[2016-03-16 19:09] #230 closed

[2016-03-30 18:53] #257 closed

[2016-03-30 18:53] dondi commented on #257
The task itself is done and the final copy is linked above; however @anuvarsh has the physical version and she was wondering what to do with it.

[2016-03-30 19:04] dondi commented on #255
@anuvarsh has converted this issue from a warning to an error, thus preventing the spreadsheet from fully loading and displaying an error. This results in prior warnings to now also become errors, which we have concluded is the better way to go anyway. (i.e., prior behavior was too forgiving)

[2016-03-30 19:19] dondi commented on #256
Two aspects here:
- One is from the use case perspective. Anecdote from GRNmap group regarding an observation with number of nodes vs. edges.
- @mihirsamdarshi will start a branch for the graph work. We can list the graph modules that we are testing in the Node.js requirements.
- @mihirsamdarshi and @anuvarsh and possibly @dondi can meet to investigate how we might inject these libraries into the

[2016-03-30 19:20] dondi commented on #256
Let's try to get enough done so we have something to discuss at the April 6th meeting.

[2016-03-30 19:24] dondi commented on #256
Very initial test is verifying proper installation. This can be done through a unit test that `require`s the pertinent library then asserts that it is present.

If there is some need to do more work with the library(ies) prior to integration with the GRNsight server code, these can be done as unit tests as well.

Comparison of graph libraries can potentially be done solely via these unit tests.

[2016-04-04 03:43] anuvarsh commented on #256
Cytoscape.js's graph statistics algorithms seem to only directly hit about 1/2 of the graph statistics we were looking for (as listed by Dahlquist in the top comment). The statistics not included are: node and edge connectivity, longest path, global clustering coefficient, and degree distribution. There are functions that we can combine/manipulate to get the information we want for some graph stat

[2016-04-04 04:18] mihirsamdarshi commented on #258
Has there been an update to the specific wording we want for the privacy policy on the website, and whether we want a banner over the top directing users to the policy?

[2016-04-04 05:06] kdahlquist commented on #258
I think I am a reluctant "yes" to the banner; I remember discussion at the meeting where @mihirsamdarshi said it was required by the EU.

There isn't any update on the wording.  I don't think I will have time to think about this for at least another week, sorry.  Let's hold off on implementing the banner until then.

[2016-04-04 05:08] kdahlquist commented on #256
Was jsPlumb a bust then?

[2016-04-04 05:17] anuvarsh commented on #256
Yes, jsPlumb had fewer and more simple statistics than Cytoscape

[2016-04-04 05:22] anuvarsh commented on #225
The scrolling has been fixed.

[2016-04-04 05:29] anuvarsh commented on #255
Though the code is in place and I have manually confirmed that the error is functioning, the unit test code needs to be revisited as it is not currently passing.

[2016-04-06 06:12] anuvarsh commented on #259
These have been added to the code. @kdahlquist, is there a link to the poster on SlideShare as of now? Also, the changes have not been pushed because jekyll needed me to update some of the dependencies and one of the dependencies (nokogiri) is taking an impressively long time to install.

[2016-04-06 06:31] dondi commented on #256
I looked at this with @mihirsamdarshi on Tuesday afternoon and I gave some pointers on how to convert our graph representation into the format that Cytoscape expects. It looks pretty straightforward and @mihirsamdarshi thinks he will be able to give it a shot. We can review this at the meeting Wednesday.

[2016-04-06 19:18] anuvarsh commented on #255
Slight edits were made so that the unit tests are now running, however it seems as if data-type-header-date-input.xlsx has a different number of errors than it's corresponding output file. This will require some digging.

[2016-04-06 19:19] anuvarsh commented on #259
Will link directly to the powerpoint that is committed in beta instead of putting up the SlideShare.

[2016-04-06 19:22] anuvarsh commented on #256
We started up graph-library-tests.js which will contain the code that @dondi referred to above. The `genes` array of the parsed sheet will become the `node` data in the Cytoscape graph, while the `links` array will become the edges, where `source` and `target` need to be converted from the array index in the parsed `genes` array into the `name` property of the referenced gene.

[2016-04-10 19:04] mihirsamdarshi commented on #256
@dondi We are having trouble with the cytoscape library showing up in our test file. [Our code](https://www.dropbox.com/s/5lo6cpxwviiv4uq/Screen%20Shot%202016-04-10%20at%2011.59.54%20AM.png?dl=0) should be correct and follows the [documentation](http://js.cytoscape.org/#getting-started/including-cytoscape.js) on the website to correctly include it. Our console.log in the code shows up false every

[2016-04-10 20:20] dondi commented on #256
The `console.log` statement that you have will log the value of `cy == true`. But `cy` is supposed to be the Cytoscape library—highly doubtful that this is merely `true`. Try doing `console.log(cy)` instead and tell me what you get.

[2016-04-10 21:00] mihirsamdarshi commented on #256
doing `console.log(cy)` gave me `false`

[2016-04-10 21:08] dondi commented on #256
`false` means it’s not installed. Try `npm install`ing it again, or if you are sure that it should be installed, check the location of your node modules to see if the files are there.

[2016-04-11 02:50] mihirsamdarshi commented on #256
cytoscape is there, and all the files are present but I'm still getting `false` on the Terminal

[2016-04-11 02:53] mihirsamdarshi commented on #256
Yeah, the files were missing for some reason, I deleted the Cytoscape folder and reinstalled it.

[2016-04-11 03:05] dondi commented on #256
Ah—so not false anymore?

[2016-04-13 06:27] anuvarsh commented on #259
The link has been updated.

[2016-04-13 18:58] kdahlquist commented on #256
cytoscape.js has been successfully installed.  closing this and opening new issue for exploring what cytoscape can give us

[2016-04-13 18:58] #256 closed

[2016-04-13 19:00] kdahlquist opened #260 "Explore cytoscape.js functions on known test graphs"
Now that cytoscape.js is functional, we need to explore what it can give us with simple graphs.  At our next meeting we'll report back and talk about what we want to implement and options.

[2016-04-17 23:29] mihirsamdarshi commented on #260
We tried to make cytoscape.js account for directed graphs using the eles.dijkstra() function.
http://js.cytoscape.org/#eles.dijkstra

However, the directed boolean doesn't seem to work. It was also referenced in this issue.
https://github.com/cytoscape/cytoscape.js/issues/993

The administrator opened the issue, but then closed it, presumably without fixing it.

[2016-04-18 00:12] mihirsamdarshi commented on #260
We can't seem to figure out how to set the directed function for many of the functions we have been testing.[ Attached is the documentation](http://js.cytoscape.org/#eles.dijkstra) for the `dijkstra` function.

Take a look at our code and let us know if we're setting it wrong.

`  var dijkstra = cy.elements().dijkstra("#f", true);
            console.log(dijkstra.distanceTo("#a"));`

[2016-04-18 00:15] dondi commented on #260
What does your code look like when doing that? Are you supplying a weight function too? Which graph(s) have you tried?

The issue that you reference does point to some commits which purportedly fix the bug, but I don't know the code well enough to anticipate the result. First we need to establish a case with clear expectations for what this computation should return. After that, we can potentially

[2016-04-18 00:17] dondi commented on #260
Oops, I just realized, you had code right there. So you aren't setting a weight function. It might be good to visit the actual Djikstra code to see if it is handling the lack of weight function correctly.

[2016-04-18 00:25] dondi commented on #260
I looked at the code more closely (particularly as highlighted by this commit: https://github.com/cytoscape/cytoscape.js/commit/72f6a98c883e07d61add01b059c4b92275cbd466) and can confirm that you can't "skip" the weight function argument. Insert a `null` in there and see what happens:

        var dijkstra = cy.elements().dijkstra("#f", null, true);

[2016-04-18 00:27] anuvarsh commented on #260
var dijkstra = cy.elements().dijkstra("#f", function(){return 1;}, false);
    console.log(dijkstra.distanceTo("#b"));

With the above code, we were getting accurate directed graph shortest paths. After updating this code to reflect @dondi most recent comment, we are also getting the correct shortest path. The mistake we were making was completely ignoring the "weight" parameter instead of setting

[2016-04-18 01:39] anuvarsh commented on #260
Unit tests have been created to check data conversion from GRNsight to Cytoscape, shortest paths, and betweenness centrality of all of the nodes. However, when manually checking the betweenness centrality of a couple nodes, @mihirsamdarshi and I got different answers than what the cytoscape function returned. Not sure if this is a miscalculation on our part or an implementation problem. The follow

[2016-04-18 02:30] dondi commented on #260
Are you counting paths that start or end with the node in question? I don’t think those are included. Outside of that, it might be useful to list the paths you calculated, then make sure that the paths you listed truly are the shortest ones.

If you omit paths where the node is the start or end, for `f` for example it would make sense that the function returns 0, because nothing passes “through” `

[2016-04-20 18:45] kdahlquist commented on #260
We have finished with this phase, next steps will be outlined as new issues.

[2016-04-20 18:45] #260 closed

[2016-04-20 18:47] kdahlquist opened #261 "Stress test for cytoscape.js: unit test with maxed out nodes and edges"
Now that we've finished the exploration phase, we want to do a "stress" test for cytoscape.js where we create a unit test with an input file with maxed out nodes (75) and edges (150) and a smaller one with nodes fully connected to other nodes.

[2016-04-20 19:02] kdahlquist opened #262 "Write the graph report function for cytoscape.js"
Write the function that calculates the data and produces the report object for the graph properties.

Shortest path to every other node
- a matrix (note that there should be 1's in every place there is an 1 in the adjacency matrix, 0 where there is no possible connection, and an integer for all the other path lengths (note fun things for later here: https://bost.ocks.org/mike/miserables/).

Betwee

[2016-04-20 19:03] kdahlquist commented on #262
1. Refactor the converter function:  take it out of the test code and put it in production code.
2. When converter function is part of code, then work on the reporter function.

[2016-04-20 19:13] kdahlquist opened #263 "Wrap up for Spring 2016"
- [ ] let's make sure that master, beta, and graph-statistics branches are in a good place.
- [ ] versioning and releasing tasks can be done in the summer

[2016-04-22 22:14] kdahlquist opened #264 "Allow user to set maximum weight value against which all other weights are normalized"
In the GRNmap meeting today, @GraceJohnson made a feature request regarding the display of weighted edges.

Right now, since each graph is normalized to the max weight of its own adjacency matrix, it is not really fair to compare two graphs with each other because they were normalized differently.

If we allowed the user to set the max value for normalization, then the user could compare two diffe

[2016-04-27 02:45] anuvarsh commented on #255
This was fixed last week in the graph-statistics branch. Unit tests associated with this problem are passing.

[2016-04-27 02:45] #255 closed

[2016-04-27 03:35] anuvarsh commented on #261
Stress tests have been created for 75-genes-150-edges, 10-genes-max-edges, and 12-genes-max-edges and all of them are passing with ease.

[2016-04-27 18:49] #261 closed

[2016-04-27 19:11] kdahlquist commented on #262
@anuvarsh did in fact write the graph report function, but she has technical debt and needs to write the test now.  Next time we will do TDD in the right order! :)

[2016-04-27 19:15] kdahlquist commented on #264
Just another idea--maybe we might want an option to transform the weights on a log scale which might help with some types of visualizations.

[2016-04-27 19:20] kdahlquist opened #265 "Fall 2016 meeting schedule"
Tentatively, Mondays at 4:00 works for @dondi , @kdahlquist, @mihirsamdarshi , @anuvarsh  for the Fall 2016 semester.

[2016-05-04 20:18] kdahlquist opened #266 "Register persistent URL for GRNsight at BioWeb.me?"
http://www.bioweb.me/ is a service for providing short, persistent URLs for web services.

Should we register with them or do you think that http://dondi.github.io/GRNsight/ will be good enough for the long term?

[2016-05-04 20:43] kdahlquist opened #267 "Submission checklist for GRNsight manuscript"
- [x] upload .docx version of manuscript to repository
- [x] @dondi, answer highlighted blue questions in manuscript (including blue references)
- [x] @kdahlquist, redo Figure 1, upload to repository
- [x] @kdahlquist, redo Figure 2, upload to repository
- [x] @kdahlquist, redo Figure 5, upload to repository
- [x] check reference formatting, find DOI's (all references added to @kdahlquist's Zotaro

[2016-05-04 22:33] kdahlquist commented on #267
I uploaded the manuscript.  Please make any revisions in "track changes" mode in Word.  @dondi , the stuff highlighted in blue has questions/comments, mostly for you.  The yellow highlighting is for references.

Figures 1 and 2 have been uploaded in several versions.  "zoom100" or "zoom145" refers to the zoom level in Excel used when taking the screenshot.  I'm not sure which will be better.  I ha

[2016-05-05 21:51] kdahlquist opened #268 "F2F Meeting Notes 2-6-14"
I'm pasting the meeting notes from the wiki to here so I can delete the wiki page, but still preserve the notes in an accessible form.

Notes from Face-to-Face Meeting on 2/6/14

=== Web site ===
* Nicole could not get scrollspy to work; Dondi will look into it, we may not need it.
* Nicole created side links to all pages needed for site.  Will start populating with content.
* She fixed the font.

[2016-05-05 21:51] #268 closed

[2016-05-05 21:52] kdahlquist opened #269 "Face-to-face Meeting Notes from 2/13/14"
I am copying over these meeting notes from the wiki so that I can delete the page there, but still have the notes in an accessible form.

Meeting Notes from 2/13/14

=== Web Site Update ===

* Dummy pages are live
* No new layouts yet
* Nicole will prepare tutorial of Jekyll to see whether it is worth doing: software needs to be installed on user machine in order to use it
* Nicole may not be at m

[2016-05-05 21:52] #269 closed

[2016-05-05 21:54] kdahlquist opened #270 "F2F Meeting Notes 2-26-14"
I am copying over these notes from the wiki so that I can delete the wiki page, but still preserve the notes in an accessible form.

Notes from today's meeting.

=== Web site ===
* Created new milestone for web site issues due on May 1.  Any edits to web site will be set up as issues assigned to that milestone.
* Chose color for main banner, links, and hover.
* Will change "Download" page to "Deve

[2016-05-05 21:54] #270 closed

[2016-05-06 21:35] kdahlquist opened #271 "Prepare lightning talk and poster for BOSC/ISMB 2016"
Our abstract:
PAPER: 31
TITLE: GRNmap and GRNsight: open source software for dynamical systems modeling and visualization of medium-scale gene regulatory networks
AUTHORS: Kam D. Dahlquist, Ben G. Fitzpatrick, John David N. Dionisio, Nicole A. Anguiano, Juan S. Carrillo, Trixie Anne M. Roque, Anindita Varshneya, Mihir Samdarshi and Chukwuemeka E. Azinge

was accepted for a lightning talk at BOSC.

[2016-05-06 21:43] kdahlquist opened #272 "Bug: test failure due to missing file: value-replaced­w-spaces-net-only-input.xlsx"
One of the reviewers of our BOSC abstract noted that one of the tests failed due to a missing file:

Error: ENOENT: no such file or directory, open 'test-files/adjacency-matrix-modifications/value-replaced­w-spaces-net-only-input.xlsx'

Even though the file seems to be there, the problem arises from a long dash (before the w-spaces) which is represented differently in the Mac file system.

[2016-05-06 23:37] kdahlquist commented on #267
I have been working on Figure 5.  I've committed the individual parts to the repository; I'm still fiddling with the layout of figure 5E and to some extent figure 5B, but I need to go today.  Once I've finalized it, I will compile the final figure and put the letter labels on it for the parts.

[2016-05-10 22:38] kdahlquist opened #273 "GRNsight server down as of 5/10/16"
Hey, the GRNsight server is down...

[2016-05-10 22:45] dondi commented on #273
I tried `ssh`ing and that did not connect, so it appears to be a network access issue as opposed to a server crash. I have notified Masao about it.

[2016-05-10 22:46] kdahlquist commented on #271
Here is the reference for MIMIx format:
http://www.nature.com/nbt/journal/v25/n8/full/nbt1324.html

[2016-05-10 22:49] kdahlquist opened #274 "Explore Cytoscape 3.1 to D3.js exporter"
Came across this Cytoscape 3.1 to D3.js exporter, could be useful to us in the future:

https://github.com/keiono/cytoscape-d3/blob/master/README.md

[2016-05-10 23:30] kdahlquist commented on #271
Here is some discussion of Cytoscape vs D3

https://groups.google.com/forum/#!topic/cytoscape-discuss/Ny8_1HuT0vo

http://stackoverflow.com/questions/16776005/what-is-the-difference-between-d3-js-and-cytoscape-js/16992523#16992523

[2016-05-11 01:53] dondi commented on #273
Back up now. There was a name server outage that has since been resolved.

[2016-05-11 01:53] #273 closed

[2016-05-11 16:39] kdahlquist commented on #267
Figure 5 is done and pushed to the repository.  I need to delete some of the individual part files that were not used, but it's done.  Moving on to formatting references.

[2016-05-11 19:26] kdahlquist commented on #267
I'm pretty much done with my tasks.  Waiting on @dondi and @bengfitzpatrick to review, give feedback, and edit, if necessary.  All updated files have been pushed to the repository here:

https://github.com/dondi/GRNsight/tree/peerj/documents/PeerJ

[2016-05-12 19:35] kdahlquist commented on #259
I made a bunch of changes to both the Publications and News pages, going through and fixing phrasing, links, formatting, etc. I uploaded the poster and slides to SlideShare and linked to them.  I made all of these changes to the html files on the gh-pages branch, I hope that I didn't mess something up for Jekyll.

[2016-05-12 19:35] #259 closed

[2016-05-12 19:36] kdahlquist commented on #263
I think we're "wrapped" so I'm closing this.

[2016-05-12 19:36] #263 closed

[2016-05-12 19:39] kdahlquist commented on #264
This is actually a duplicate with an issue that @GraceJohnson created last summer, #218.  I'm going to close the other one and keep this one because it has a little more detail in its description.

[2016-05-12 19:40] kdahlquist commented on #218
Duplicate with #264 so I'm closing this one.

[2016-05-12 19:40] #218 closed

[2016-05-12 20:00] kdahlquist commented on #258
OK, I've had a chance to look this over and reflect upon it.  What @dondi suggested above for the banner, i.e.,

and the "Learn more" link out to the Google page here:  https://www.google.com/policies/technologies/cookies/ is fine for the banner.  I'm going to add a little bit of explanation to our Privacy statement on the About page explaining that we are counting pageviews and uploads to track u

[2016-05-12 21:08] kdahlquist opened #275 "move instructions on how to format YEASTRACT matrix to documentation page on website"
I want to move the instructions on our wiki on how to format the YEASTRACT regulation matrix for GRNsight over to a section on the Documentation page of our website.

We need a new collapsible section called

"1a.  Formatting a YEASTRACT Regulation Matrix for Use with GRNsight"

and it should go underneath section 1., indented, like we do for the release notes on the About page.

It should default

[2016-05-12 21:35] kdahlquist commented on #120
I sent a follow-up e-mail to links{at}bioinformatics{dot}ca to find out the status of being added to the links directory.

[2016-05-12 21:47] kdahlquist commented on #120
My forum post about GRNsight at bioinformatics.org was posted on January 4, 2016 here:
http://www.bioinformatics.org/forums/forum.php?forum_id=11896

I submitted another request to join their wiki so that I could get a login and create a wiki page for GRNsight.

[2016-05-12 22:27] kdahlquist commented on #120
I was in the midst of setting up my wiki account for bioinformatics.org and getting a password reset from Elixir and I stopped receiving e-mails.  I think that there is a problem with LMU's e-mail server since I was able to get some messages and then they just stopped.  Sigh.  I guess I will have to finish this another day.

[2016-05-12 23:21] kdahlquist commented on #120
OK, bioinformatics.org is done.  I created wiki pages there for GRNsight, GRNmap, and XMLPipeDB.  I put links to those pages on the GRNsight and GRNmap Links pages as well.

[2016-05-12 23:31] kdahlquist commented on #120
I have sent an e-mail to registry-core@elixir-dk.org to try to see if I can get my login for Elixir fixed.

[2016-05-14 23:40] dondi commented on #266
Sounds like a good idea; it would at least clean up the URL so that `dondi` isn't in it (identifies it more with the group). Plus if we move our work to `lmu-bioinformatics` then this shorter URL will not need to change.

So we would go to http://www.bioweb.me/GRNsight, right?

[2016-05-15 05:26] dondi commented on #267
I’ve done an initial pass of the paper; many of the blue highlights were addressed. Minor edits happened here and there. One loose end: for the testing results which were noted as coming from beta, the intent is to replace these completely with the current master, yes? Also, for the note re: why D3.js, I added some sentences that may need additional review. (track changes is active)

[2016-05-16 17:05] kdahlquist commented on #266
Yes, that would be the URL.  Another option would be to just register www.GRNsight.org as a domain name, which would be shorter and simpler, but incur a fee.

A tiny part of me worries about what happens if bioweb.me goes away.

[2016-05-16 20:28] kdahlquist commented on #267
Going through your changes now and merging with some that @bengfitzpatrick sent me via e-mail.  Quick question.  I'm assuming that if you didn't change it (blue text), you're OK with it.  I'll comment when I've committed new changes.

[2016-05-16 22:14] dondi commented on #267
Yes, if blue text is untouched, that means the text can stay. I think there are 1 or 2 where I attached a comment or question, but otherwise untouched blue was OK with me. I figured the blue would be easy to spot in case you wanted to review any nearby text that was edited. I also changed blue citations to yellow once I finalized the entry in the bibliography.

[2016-05-16 22:43] kdahlquist commented on #267
OK, so I've pushed the manuscript and references file to the repository, incorporating both @dondi and @bengfitzpatrick 's comments.  A few things to note:

1. @bengfitzpatrick 's comments were on a much older version of the manuscript, a lot of the changes he suggested were superseded by changes already made.  In a lot of the cases, they were similar to changes he suggested, so great minds think

[2016-05-16 22:49] kdahlquist commented on #267
Ack.  My revised docx is not showing up in the repository, even though the push seemed to work.  I'm going to try again, but I don't really know what happened.

[2016-05-16 22:57] kdahlquist commented on #267
OK, now the new version is really up there.  Of course, I fixed this by recloning the repository...

[2016-05-17 06:11] dondi commented on #267
Blue highlights all handled with my latest push, including test coverage numbers now based on master.

[2016-05-17 21:14] kdahlquist commented on #267
I have accepted @dondi 's changes and pushed to repository.

[2016-05-17 21:29] kdahlquist commented on #275
Done and done!

[2016-05-17 21:29] #275 closed

[2016-05-17 21:55] kdahlquist commented on #266
As per the discussion between @dondi and @kdahlquist on 5/17, we decided against using bioweb.me because:
1. it is still labeled beta with a copyright notice from 2011, so it is unclear whether this is actually going to be a stable and persistent service
2. we decided against getting our own domain because we have to pay for it and register with a home address

[2016-05-17 21:55] #266 closed

[2016-05-17 22:07] bengfitzpatrick opened #276 "LMU.BUILD site for GRNsight (and map)"
I saw the back-and-forth about bioweb.me, and it occurred to me we may be able to do something like

GRNsight.lmu.build

if ITS does the build thing right.  I asked Michelle Yeung about the possibility of research groups having a shared website, and she said she'd look into it.  If you think it's worthwhile, ping Michelle.  maybe enough squeaky wheels will get some grease.

[2016-05-17 22:10] kdahlquist commented on #276
I saw the notice about build.  It doesn't solve the problem of the length of the URL; it's still approximately as long as the github one.  I'm also not thrilled about having no control over whether ITS decides to support it in the future (e.g. Lionshare).  I think github has a better chance of being persistent as a URL.

[2016-05-17 22:17] bengfitzpatrick commented on #276
that's fine with me. ITS has a poor record of persistence.

[2016-05-17 22:23] kdahlquist commented on #120
@dondi should create a login for the Elixir Tools and Data registry so that he can register GRNsight since @kdahlquist is not hearing back from them.

[2016-05-17 22:49] kdahlquist commented on #59
As per the reviewer comment on #271 we will
* explore exporting the GRNsight graph to svg (which it is natively anyway)
* to cytoscape format (already have a converter that goes the other direction)
* print to pdf
* and if there are libraries for converting svg to other graphics formats

[2016-05-17 22:50] kdahlquist commented on #262
Because we already wrote a converter from cytoscape to GRNsight, we can make this an option for the user to import their file that way.

[2016-05-17 22:54] kdahlquist commented on #208
This is not a concrete task, but a stylistic piece of advice, so we are closing now.

[2016-05-17 22:54] #208 closed

[2016-05-17 22:55] kdahlquist commented on #57
I don't think we need this.

[2016-05-17 22:55] #57 closed

[2016-05-17 22:56] #276 closed

[2016-05-17 22:59] kdahlquist opened #277 "Search engine optimization for GRNsight web site"
We want to do some things to optimize the GRNsight home page so it is found by search engines.
* add search metatags
    * gene regulatory network
    * gene regulatory network visualization
    * +/- web app
    * automatic graph layout
    * adjacency matrix
    * add others here
* possibly other techniques

[2016-05-18 18:10] kdahlquist commented on #267
I'm going through the submission process on the PeerJ web site right now.  Some items for potential discussion:
1. Subject areas: must have at least 2, I chose "bioinformatics", "graphics", and "software engineering" from the list shown here:  https://peerj.com/subjects/cs  We are allowed up to 5.  Do you want to add anything?
2. Keywords: we are allowed up to 10 keywords that we make up ourselves

[2016-05-18 18:23] kdahlquist commented on #267
On the declarations page of the submission, it asks the following questions:
1. Which authors conceived and designed the experiments?
2. Which authors performed the experiments?
3. Which authors analyzed the data?
4. Which authors contributed reagents/materials/analysis tools?
5. Which authors wrote the manuscript?
6. Which authors prepared the figures and/or tables?
7. Which authors wrote the cod

[2016-05-18 18:40] dondi commented on #267
Regarding subject areas, I looked at the list and I didn’t see anything further to add. I would have wanted “information visualization” but they don’t have that (“visual analytics” is related but not applicable to us directly).

Nothing further for the keywords; I think the current list captures it.

No specific reviewers in mind either. I figure these would be more on the bioinformatics side rath

[2016-05-18 19:05] kdahlquist commented on #267
Sorry, I didn't mean to apply that the declarations are all or none, you can check specific boxes for specific authors.  I just meant that items 1, 2, and 3 seem to apply more to a biology paper than to us.  I can read them either way, but I'm leaning to including them as you suggest, i.e., not clicking "none" for them.

[2016-05-18 19:15] dondi commented on #267
Ah I see. But yes, I do still agree that 1, 2, and 3 can be considered as “not none.” (I can also go either way, and like you said it’s more of leaning toward it)

[2016-05-18 20:19] kdahlquist commented on #267
I also forgot to ask you about Figures 1 and 2.  There are two different versions for each that were made at 100% zoom and 145% zoom in Excel before making the screenshot.  They are saved as .png, .jpg, and .psd in the repository, although the journal is only going to want them as .png.  Can you take a look and recommend which one to use?

[2016-05-18 20:42] dondi commented on #267
The 145s look better to my eyes (I only looked at the .pngs since that is what they will take).

[2016-05-18 20:47] kdahlquist commented on #267
OK, 145s it is.

They are counting characters instead of words for their abstract count and we are over by 191 characters.  I'm going to work on paring it down now.

[2016-05-18 21:49] kdahlquist commented on #267
Something else we should know about... http://biojs.net

[2016-05-18 22:28] kdahlquist commented on #267
Manuscript submitted!  I'm closing this and will open a new issue to follow our progress through the review process.  Congratulations to us!

[2016-05-18 22:28] #267 closed

[2016-05-18 22:34] kdahlquist opened #278 "Status of GRNsight manuscript submission to PeerJ Computer Science"
The GRNsight manuscript was submitted to PeerJ Computer Science on May 18, 2016 with simultaneous submission to the PeerJ Preprint server.  Submission ID is 10823.

It will now be checked by PeerJ staff, who will email me if any changes are required.
After passing checks, it will be assigned to an Academic Editor, who will invite reviewers to carry out peer-review.

Co-authors on the manuscript ar

[2016-05-18 22:42] dondi commented on #278
Yay to us! I've confirmed authorship.

[2016-05-18 22:47] kdahlquist commented on #278
Once it officially enters the review process and is live as a preprint, I'll create a news item about this.

[2016-05-19 23:47] kdahlquist opened #279 "Create collapsible sections for Publications page"
I'd like to have collapsible sections on the Publications page like we did at GRNmap:  http://kdahlquist.github.io/GRNmap/publications.html

It should look like the GRNmap page and have the sections in the same order:  Papers, Presentations, Posters

As soon as PeerJ CS puts our manuscript up on the preprint server, we can population the Papers section with a reference to that.

[2016-05-20 00:05] mihirsamdarshi commented on #279
I could do this. It seems easy enough.

Sent from my iPhone

[2016-05-23 19:24] kdahlquist commented on #278
Over the weekend, I received several status update e-mails as follows:
1. The manuscript passed staff checks and was sent on to be assigned an academic editor.
2.  I was asked to confirm that we wanted to submit it to the preprint server, to which I replied "yes".
3.  I was notified that the manuscript has been assigned to an academic editor (but not which one).  It said that it will be sent out f

[2016-05-24 08:41] dondi commented on #278
The preprint has been published! https://peerj.com/preprints/2068/

[2016-05-27 01:36] dondi commented on #272
The filename has been changed (along with the equivalent name in the test code). As a “hot fix,” the change was made and validated directly in `master` then merged with `beta`. 134 tests passing in `master`. 144 tests passing and 17 failing in `beta`. (the failures were already there beforehand)

[2016-05-27 01:38] dondi commented on #272
(just to follow procedure I have added the `review requested` label to this issue, although I don’t think @kdahlquist’s workstations are configured to run the test suite—we can just close if this is enough)

[2016-05-31 19:13] kdahlquist commented on #272
I'm not configured to run the test suite, so I'll close this.  In the future, you can assign me "review requested" when it is something that is user verifiable (web site, functionality that a user can see).

[2016-05-31 19:13] #272 closed

[2016-05-31 19:14] kdahlquist commented on #279
@mihirsamdarshi, did you mean sometime soon or in the Fall.  I'd like to take care of this soon because I want to put up the information about our preprint.

[2016-05-31 19:26] kdahlquist commented on #279
Hey--just noticed that we can now assign multiple people to an issue!

[2016-05-31 19:33] mihirsamdarshi commented on #279
I actually did this this morning, I'll commit as soon as I get a wifi connection on my laptop.

Sent from my iPhone

[2016-06-02 23:51] kdahlquist commented on #279
I saw @mihirsamdarshi committed the collapsible sections, can you make one for Papers, too and put it at the top of the page?  Could you put Presentations in the middle and Posters at the bottom?  Thanks.

[2016-06-05 00:50] dondi commented on #279
Shall I go ahead and add the PeerJ paper to the new Papers section, or wait until we are past the pre-print stage?

[2016-06-05 06:13] dondi commented on #279
Section and placeholder link added.

[2016-06-05 16:40] kdahlquist commented on #279
Please add it.  Thanks.

[2016-06-05 23:01] dondi commented on #279
OK, it's in. I used the text that they recommended except names are spelled out to match the other entries.

[2016-06-05 23:08] dondi commented on #258
@mihirsamdarshi Would you happen to have the slideup/popup/banner code that you showed us during the semester for the privacy statement? I’ve scoured your commits on the repo and could not find it. Now that the statement is finalized, this can be implemented.

[2016-06-06 17:43] kdahlquist commented on #279
Can we reverse the order of the poster and presentation sections and default presentations and posters to closed?

[2016-06-06 17:57] kdahlquist commented on #279
I'd like to format the section on the paper like on the GRNmap page here:
http://kdahlquist.github.io/GRNmap/publications.html

I'd try to do it myself, but I'm a little nervous about screwing up the formatting.

[2016-06-06 17:58] kdahlquist commented on #271
I submitted a slightly revised version of the BOSC abstract last Thursday (6/2), taking into account some of the reviewer feedback.

[2016-06-06 19:47] kdahlquist commented on #271
The BOSC talk is scheduled for 12:21-12:26 on Saturday, July 9.  See the BOSC schedule here:

https://www.open-bio.org/wiki/BOSC_2016_Schedule

[2016-06-07 06:58] dondi commented on #279
OK, the above two changes have been made. The format links are different due to the way PeerJ formats the paper; we can make adjustments to whatever labeling is clearest, of course.

[2016-06-07 19:57] kdahlquist commented on #279
Confirmed and closing.

[2016-06-07 19:57] #279 closed

[2016-06-07 21:09] kdahlquist commented on #262
* @dondi has it running locally.
* We need to validate the results with answers computed independently.
* Need to get ownership of the servers back from @anuvarsh
* Once results are verified, then merge branches and release to beta (increment version to 2.1)

[2016-06-07 21:10] kdahlquist commented on #262
We need to figure out what is the right shortest path value for a auto-regulatory edge.  Right now it is returning 0, but it seems that it should be 1 and that nodes that are not self-regulatory would be 0.

[2016-06-07 21:21] anuvarsh commented on #262
Anything I need to do to pass ownership of the servers?

[2016-06-12 01:21] dondi commented on #120
OK, I’ve logged in and created an entry. I did some “educated guesses” for topics and functions plus other content was largely copy/pasted from our About page. More information can probably be added here and there. But at least we're in: https://bio.tools/tool/lmu.edu/GRNsight/1.12

[2016-06-13 06:46] dondi commented on #258
OK, a preliminary version of the banner is now active on the website. Note that it appears only once; it uses a cookie to track whether it has appeared. To avoid having to manage cookies manually, you can test this functionality using "Incognito" or "Private" browser windows (Chrome's and Firefox/Safari's terms, respectively). This type of browser window can be opened from the File menu on a Mac;

[2016-06-13 22:39] kdahlquist commented on #258
If I click the "Learn more" link, the banner is dismissed, presumably because of the behavior you describe.  But I don't think it should be dismissed until someone clicks "Got it".  If you change the URL to open in a new tab/frame, would it not be dismissed?  If that will work, I think we should change it.

[2016-06-13 22:44] kdahlquist commented on #258
I think I have a preference for the banner to say our statement from the Privacy policy:

This site uses Google Analytics to count pageviews and file uploads to demonstrate usage of our software to interested parties such as our employers and funding agencies. Information about your use of this site is shared with Google. By using this site, you agree to its use of cookies.

It's not too much long

[2016-06-13 22:47] kdahlquist commented on #120
OK, I see it.  I think we'll need to tweak it when we have our face-to-face meeting this week and can work on it together.  It seems the info that is now in our about paragraph should go into credits and that our about paragraph should describe more about the functionality.

[2016-06-13 23:15] kdahlquist commented on #262
Based on the data @dondi sent me, the first thing I notice is that the orientation of the matrix for shortest path is transposed from how we expect the imported data, i.e., the regulators are the columns and the targets the rows.  It makes sense that we should transpose our report to conform to our expected input data format.

[2016-06-13 23:15] dondi commented on #120
Yes, definitely. I just guessed a few in order to throw something up there, so I was expecting we would indeed revise it.

[2016-06-13 23:17] dondi commented on #258
OK I'll see what I can do with the revised message. Also for the "Learn More," I'll send it to a different window. That should keep it open. It goes away right now because hitting Back counts as a reload, and by then the browser already thinks you've seen it. Linking to a new tab/window will keep it around.

[2016-06-13 23:47] kdahlquist commented on #262
I verified the shortest path lengths for the demo 3 file.  The demo 1 is harder because it has 50 edges and it will take me longer.

[2016-06-13 23:58] dondi commented on #258
OK, new tab/window version is up.

[2016-06-14 06:01] dondi commented on #258
And now the new language is up also. I tweaked the sizing a bit so despite being longer I think it still looks OK.

[2016-06-14 16:02] kdahlquist commented on #258
Looking good.  I'm closing this.

[2016-06-14 16:02] #258 closed

[2016-06-15 23:15] kdahlquist commented on #120
I updated the Elixir entry.  It is strange that the free text description of the function does not actually appear on the GRNsight Elixer page, but does in the search results.  Anyway, I'm not going to mess with it any more and will close this now.

[2016-06-21 07:05] dondi commented on #277
After doing some reading, the final approach taken for this was to use [Google Search Console](https://www.google.com/webmasters/tools). This entailed:
- Adding a verification file to the site
- Generating a sitemap (fortunately this can be [automated by Jekyll](https://help.github.com/articles/sitemaps-for-github-pages/))
- Waiting for indexing/analysis to arrive (not yet arrived as of this writi

[2016-06-21 21:02] kdahlquist commented on #277
Need to add 155 descriptions to each page.  See beta page for how to do this.

[2016-06-21 22:56] kdahlquist commented on #277
I went ahead and added the metadescriptions to each page, but now the About page is broken.  I can't tell that there is anything wrong with the code, but the page isn't styled anymore.  @dondi, can you take a look?  Sorry.

[2016-06-22 00:39] dondi commented on #277
OK, I was able to fix it. You'll love the root issue: it's the apostrophe problem all over again! But this time, it's the _colon_ because as you can see, in this file format, the colon serves as the separator between the attribute name `description` and its value. The solution is special notation to deactivate recognition of the colon—you will see it now in _about.html_.

[2016-06-22 16:48] kdahlquist commented on #277
Urgh--I thought it might be something like that, but I thought it might have been the comma's.  Silly me.  Maybe we just shouldn't have punctuation at all.  Thanks for fixing it.  I'm closing this just for the satisfaction of closing something, even though we are going to look at it again when some data has been collected by Google in a few weeks.

[2016-06-22 16:48] #277 closed

[2016-07-05 18:32] kdahlquist commented on #278
We have received a decision on our manuscript.  The letter from the editor and the reviews are found below.  I will start parsing this into issues in the next few days.

----
Dear Kam,
Thank you for your submission to PeerJ Computer Science.
It is my opinion as the Academic Editor for your article - GRNsight: a web application and service for visualizing models of small- to medium-scale gene regul

[2016-07-08 16:12] kdahlquist commented on #271
Poster has been made and uploaded to F1000Research here:  http://f1000research.com/posters/5-1618.

[2016-07-08 18:17] kdahlquist opened #280 "Investigate handsontable, a JavaScript Excel-like Spreadsheet library"
Investigate handsontable, a JavaScript Excel-like Spreadsheet library as something that might be useful for GRNsight or GRNmap in the future.

https://handsontable.com/

https://github.com/handsontable/handsontable

[2016-07-08 21:39] kdahlquist commented on #278
I received an e-mail today from PeerJ saying that no technical changes were required for our manuscript and that we just need to address the editorial changes found in the previous comment on this issue.

[2016-07-09 15:23] kdahlquist commented on #271
Lightning talk slides have now been posted on F1000Research here:  http://f1000research.com/slides/5-1637

[2016-07-11 14:36] kdahlquist commented on #120
I spoke face-to-face with the Elixir team and they are currently working on an overhaul of the site.  The new site can be found at https://dev.bio.tools/.  The new version has a password reset link.

We can review our listing and give them feedback as well.

Our tool is now up on bioinformatics.ca here:

https://bioinformatics.ca/links_directory/resource/83363/grnsight-web-application-and-service-

[2016-07-11 15:49] kdahlquist commented on #120
More discussion with Elixir group:  keyword/description was confusing, information is available on a rollover of the "i" icon in the keyword cloud tag.

[2016-07-14 21:02] kdahlquist opened #281 "Investigate influence of weights on force graph layout"
Idea from talk by Anastasia Baryshnikova at NetBio SIG:  use the weight parameters to influence the force graph layout of the network.  Larger weights bring nodes closer together; smaller weights push nodes further apart.

[2016-07-14 21:28] kdahlquist opened #282 "Investigate uptime robot for GRNsight"
Investigate uptime robot for GRNsight

https://uptimerobot.com/

[2016-07-20 16:17] kdahlquist commented on #278
I'm working on breaking out the feedback from the reviewers into individual, actionable issues.  My draft of the response to the reviewers where I'm starting with a copy of the reviews will be deposited to the repository shortly.

[2016-07-20 16:20] kdahlquist opened #283 "Update documentation page with new sections and descriptions of new features"
From Reviewer 1 (#278):

" It is not so clear that the force algorithm is disabled on specific nodes once that node has been manually relocated to a new position. This may be described under the help section, but I could not find it although it is mentioned in the manuscript (line 217)."

It is mentioned in the Documentation page, under the section how GRNsight displays the graph, third to last bu

[2016-07-20 16:21] kdahlquist opened #284 "Mouseover edges not displaying weights on Safari, Chrome, Firefox on OSX"
From Reviewer 1 (#278):

"However, the only platform for which mouse over on links revealed the underlying weights was firefox on windows 7. Neither safari, chrome not firefox on OSX or Chrome on windows 7 showed the weights."

We need to investigate this and fix.

[2016-07-20 16:25] kdahlquist opened #285 "Option for showing or hiding all weights"
From Reviewer 1 (#278):

"I would like to see an option on the tool for showing or hiding all weights."

This is related to issue #284.  What I think this means is that you would click a menu option or button and all of the weights would display without mouseover and then would be hidden again by turning the option off.  Once they were off, we would have to decide whether they could still be displ

[2016-07-20 16:30] kdahlquist commented on #159
This issue has come up again with regards to the feedback from Reviewer 1:

"The visualisation of the weight parameters described in lines 290-322 is the key behaviour here. Figure 5 D,E show clearly the impact of the addition of this weight information, yet E is the clearest visualisation and the only node within it that is located in anything close to its original position is Ace2 � almost every

[2016-07-20 16:35] kdahlquist commented on #59
Reviewer 1 comment (#278):

"As it does not accept a standard input file type, the output of any other network analysis package requires conversion in to the matrix format required here. Similarly, the tool provides no export function (the option in the File menu remained stubbornly greyed out) and so I can’t take a network from GRNsight and utilise it elsewhere. I also can’t use GRNsight to conve

[2016-07-20 16:44] kdahlquist opened #286 "Make GRNsight package accessible via BioJS registry"
From Reviewer 2 (#278):

"Bioinformatics web tools like GRNsight are published in the literature but they are not made accessible via a centralised repository like the BioJS registry. I would thoroughly recommend authors to make accessible their tool via the BioJS registry. The requirements for making a package accessible through the BioJS registry are minimal:

- The source code has be made avail

[2016-07-20 16:51] kdahlquist commented on #278
I've gone through the reviewers comments and made or updated issues related to their comments.  They are all priority 0.5 for the moment until we decide what we are going to tackle first at our meeting today.  There are other things to address in the manuscript, but I only made issues that would require changes to the code or website.  The related issues are:

- [ ] #59: import/export functionalit

[2016-07-20 18:38] kdahlquist commented on #284
We are using a web page attribute called title=

There is no obligatory, standardized action of what to do with a title.

When we first developed GRNsight, the default was to display as a tooltip, but now as browsers have diverged and new tools like Bootstrap are available, it is doing this less and less.

We need to programmatically, intentionally build that in now with new code.

[2016-07-20 18:40] kdahlquist commented on #285
This is related to #284.  Since we will need to code weights intentionally, this could be implemented at the same time.

Need to decide where to place the weight, middle of edge, near arrowhead?

[2016-07-20 19:07] kdahlquist commented on #159
* Could dynamically set size of bounding box (although D3 needs an initial setting).
* Could do universal zoom and make everything smaller (macroview and microview according to Tufty)
* Make the current bounding box a little larger to maximize real estate on a ~24" screen, and call that "medium", "large" would be for larger monitors, and "small" would be for laptops.
* option to have "full screen

[2016-07-20 19:11] kdahlquist opened #287 "Export data to cytoscape sif and graphml format"
This has been separated from issue #59 because image export is a different issue than data export.

Reviewer 1 comment (#278):

"As it does not accept a standard input file type, the output of any other network analysis package requires conversion in to the matrix format required here. Similarly, the tool provides no export function (the option in the File menu remained stubbornly greyed out) and

[2016-07-20 19:11] kdahlquist opened #288 "Import data from cytoscape sif and graphml"
Related to issue #287, but importing is a different task.

[2016-07-20 19:27] kdahlquist commented on #262
We are downgrading this for the time being, but we are going to deploy the latest beta code on the web in the meantime.

[2016-07-20 19:37] kdahlquist commented on #280
@dondi says there is a lot of resources for this.

[2016-07-20 19:38] kdahlquist commented on #286
Refer to issue #231

[2016-07-20 20:42] kdahlquist commented on #287
Another format to investigate that was mentioned by a BOSC reviewer is MIMIx.

[2016-07-20 23:26] kdahlquist commented on #271
I decided to post the slides and poster on Slideshare even though they are already on F1000Research.

I've been down the rabbit hole of slideshare for a couple of hours now and the Publications pages of both GRNsight and GRNmap have suffered from it.

Slideshare crashed many times when I was trying to upload slides in the first place because the text I pasted in the description field was too long,

[2016-07-21 17:43] kdahlquist commented on #271
I'm done messing with the GRNsight publications page.  Slideshare changed its embed code to create a generic slideshelf and not show a particular presentation.  I have simply removed the embed link for the ISMB poster.  The next time we upload something to Slideshare, we will have to bear this in mind.

I'm going to spend just a few minutes trying to fix the GRNmap publications page before I close

[2016-07-21 18:21] kdahlquist commented on #271
The way to get the embed link for only the presentation you want is to first click the "share" button and it is hidden underneath there.

However, there seems to be a bug that it is not providing a link to the correct presentation, so I'm not going to mess with it further.

There also seems to be a bug on Firefox where the slide won't advance with the slideshelf, but it works on Chrome.  I'm just

[2016-07-21 18:21] #271 closed

[2016-07-21 19:22] kdahlquist commented on #284
Presumably this option would go under the Edit > Preferences menu item.

[2016-07-21 19:52] kdahlquist commented on #287
Notes on BioTapestry:  http://www.biotapestry.org/
* written in Java
* latest version 7.0.0, released 9/22/14
* locally installable executable
* BioTapestry Viewer runs in a web browser as of version 7.0.0
* It supports import of
    * root network from SIF
        * SIF is "simple interaction file", see http://wiki.cytoscape.org/Cytoscape_User_Manual/Network_Formats
        * space-delimited file

[2016-07-21 20:22] kdahlquist opened #289 "branch clean-up"
We talked about this yesterday, but I thought maybe it needs to be an issue.

Note that I was doing clean-up of the documents folder on the master branch (posters and talk slides).

I forgot that we had the peerj branch and just put up the response to the reviewers on master instead of the peerj branch (sorry)

I was doing some investigating of BioTapestry and created a SIF version of our 21-genes

[2016-07-21 20:27] kdahlquist commented on #287
I have created a .sif version of the 21-genes_31-edges_Schade-data_input.xlsx demo file that loads in BioTapestry
[21-genes_31-edges_Schade-data_input.sif.zip](https://github.com/dondi/GRNsight/files/376894/21-genes_31-edges_Schade-data_input.sif.zip)
![biotapestry_21-gene_31-edges_schade-data_input sif](https://cloud.githubusercontent.com/assets/6463867/17037682/e915d8be-4f46-11e6-9924-d9f406cdbb

[2016-07-21 20:34] kdahlquist commented on #287
SIF format can only be used to export unweighted networks (it does not support attributes like weights).  Cytoscape can read SIF (as well as BioTapestry, in previous comment).

[2016-07-21 22:21] kdahlquist commented on #287
Notes on yED:  http://www.yworks.com/products/yed
* Stand-alone Java Swing program, requires Java 1.8
* current version is 3.16
* not specific to GRNs or biology (e.g., can be used for UML diagrams)
* File formats that can be imported:
    *  ?, an XML format which supports arbitrary, user-defined element properties (this was blank on the web site, but might be GraphML)
    * Excel® XLS spreadshee

[2016-07-21 22:36] kdahlquist commented on #287
* GML format is described here:  http://www.fim.uni-passau.de/index.php?id=17297&L=1
    * it can be read by Cytoscape and yED
* GraphML format is described here: http://graphml.graphdrawing.org/
    * it can be read by yED

[2016-07-22 18:45] kdahlquist commented on #264
Another idea related to this:  allow the user to choose a threshold at which point the edges get greyed out.  Currently, the program automatically does this at 5% on either side of zero, but we could allow the users to choose another threshold (like 2.5%, 10%, etc.), possibly through a slider.

[2016-07-22 22:03] kdahlquist commented on #120
GRNsight is now listed in the Bioinformatics Links Directory at bioinformatics.ca here:  https://bioinformatics.ca/links_directory/resource/83363/grnsight-web-application-and-service-visualizing-models-small-medium-scale-gene

@kdahlquist is responsible for maintaining our entry in this resource.

[2016-07-22 22:12] kdahlquist commented on #120
I got a password reset from the Elixir group, but it doesn't work and I could not create an account on the dev.bio.tools because it said the username was taken.  I've e-mailed them this result.

[2016-07-22 22:37] kdahlquist opened #290 "Investigate hierarchical layout"
Comment from Reviewer 1 (#278):

"Furthermore when looking at figure 5 I am always drawn to panels C and F as being the most informative view. Thus I would argue that the force-spring algorithm used here does not provide much benefit to the layout of the network other than separating nodes from one another. The useful layout requires manipulation. Taking the network from E and recreating it in YeD

[2016-07-22 23:18] kdahlquist opened #291 "Investigate collapsible nodes"
In response to Reviewer 2 (#278):

"I am not sure that the visualisation of 75 nodes or 150 edges is the kind of magnitude that would be valuable to many potential users. I would find it more impressive if the capacity to render nodes was in the order of thousands (even though this may be impractical to visualise and some data reductions might be necessary)."

This might be accomplished by using c

[2016-07-22 23:46] kdahlquist commented on #278
I have finished an initial pass through the response to reviewers and pushed it to the repository.  I have referenced issue numbers throughout and there are a couple questions for @dondi also highlighted in green.  I wrote it as if we have implemented all requested features/changes, but we might need to revise based on what we can actually accomplish.

I created two new issues, #290 and #291 that

[2016-07-25 06:27] dondi commented on #286
I started this by signing out for an npm account, which I have acquired for myself. While reading about how to upload a package to npm, I encountered the concept of an “organization,” which serves as an umbrella that can group related packages together:

https://docs.npmjs.com/orgs/what-are-orgs

My question is: What do you think serves as the better basis for this organization—our overall group (

[2016-07-25 17:13] kdahlquist commented on #286
Well, let's think of it this way, our license (and masthead) describes GRNsight as a joint project of the LMU Bioinformatics and Biomathematics Groups.

With the creation of the LMU Bioinformatics group on GitHub, I think we intended that future projects would go under that umbrella.

So, I think we should probably go with LMU Bioinformatics Group, if there's a chance (however small) that we would

[2016-07-25 17:50] dondi commented on #286
Got it, yes, I was thinking along those lines but just wanted to double-check. I think the reminder that we already attribute GRNsight that way, plus the GitHub organization, seal the deal for me. I’ll proceed with "LMU Bioinformatics Group" as the organization.

[2016-07-27 06:56] dondi commented on #289
I looked into our branch tree and noted the following:
- The `peerj` branch was actually merged into `master` on June 15 with no new commits since, so actually it’s OK that the response to reviewers went to `master`
- Contrary to my recollection, `graph-statistics` was actually branched from the bigger `beta` branch rather than `master`. In-keeping with our discussion about thinking of our revisio

[2016-07-27 07:00] dondi commented on #286
As noted by email, it turns out that the organization option is a paid one, so we will forego that.

[2016-07-27 07:59] dondi commented on #286
GRNsight (current version 1.12 as of this writing) has been published to NPM: https://www.npmjs.com/package/grnsight

It’s very rudimentary and definitely needs more documentation, but it’s there. I did a trial installation via _npm install grnsight_ and the files downloaded and ran correctly. However this was accomplished because I was familiar with the software and knew what to run and how to ru

[2016-07-27 08:03] dondi commented on #286
…and, as it turns out, publishing on _npmjs_ got it onto the BioJS registry automatically.

[2016-07-27 08:08] dondi commented on #262
As noted in #289 it turns out that the branch on which this work was done came from `beta` and not `master` and thus will need more work before it can be merged back.

[2016-07-27 08:08] dondi commented on #289
In-keeping with the “hot fix” mentality, I’ve concluded that the way I’d like to proceed is to apply each self-contained change as its own small, transitory branch, to be branched from `master` then merged back in short order, once finished. As an initial instance, I used this approach in preparing for NPM publication. The work was done in a branch called `npm-prep` then merged into `master` once

[2016-07-27 08:52] dondi commented on #289
I’ve now started an `import-export` branch, and have added the manually-build _.sif_ files there.

[2016-07-27 08:56] dondi commented on #287
Initial design decisions have been made for this functionality, with a SIF export function implemented for non-weighted graphs. Key design decisions are:
- Perform all import/export work on the server side (facilitates unit tests; decouples import/export functionality from web client)
- Define routes that accept `POST` requests with the GRNsight-formatted JSON network to export in the body; the ro

[2016-07-27 16:48] kdahlquist commented on #289
Do we need the Peerj branch anymore?  It might be simpler to just commit manuscript documents to master since the documents directory is pretty separate from any of the other code.

[2016-07-27 16:49] kdahlquist commented on #262
Does this mean that we won't deploy the beta code?

[2016-07-27 17:11] kdahlquist commented on #287
http://pynetconv.sourceforge.net/ PyNetConv is a python program that can convert cytoscape sif to gml.

I've been searching for additional documentation about SIF format and am puzzled by two things:
* the default is to use a space character as a delimiter, but of course this is a problem if there is a space character in the gene IDs/labels.  So, in this case one uses a tab delimiter instead.  Why

[2016-07-27 18:36] kdahlquist commented on #262
As discussed at our meeting, we will deploy beta.  As discussed in issue #289, we will perhaps pull out code from the graph-statistics branch separately into master after some of the other more pressing issues are resolved.

[2016-07-27 18:37] kdahlquist commented on #289
peerj branch is deleted.

@dondi can branch new graph-statistics from master and find just changes from graph-statistics branch that pertain to graph statistics and semi-manually put them on the new branch. #262.

[2016-07-27 18:37] #289 closed

[2016-07-27 18:38] kdahlquist opened #293 "Merge graph-statistics with beta branch and deploy beta code on the beta web site"
As discussed in #262, merge graph-statistics with beta branch and deploy beta code on the beta web site

[2016-07-27 18:46] kdahlquist commented on #286
So I checked it out on npmjs.  We should probably include some kind of longer readme.  How about copying over the text from the About page with a note that says typical users will just use our web site and that you would only need to npm install if you wanted to set up your own GRNsight server.

Also, for the keywords, I suggest adding "network", singular, and "visualization" as separate keywords

[2016-07-27 19:23] kdahlquist opened #294 "Signal that node is not responding to physics"
As per Reviewer 1 suggestion #278:

We need to have a visual cue that a certain node is not responding to physics.

[2016-07-27 19:24] kdahlquist opened #295 "Turn off physics in a blanket way, not node-per-node"
As shown in the Ontology Lookup Viewer, have a button to turn off the physics for all the nodes (and restore it).  E.g. http://www.ebi.ac.uk/ols/ontologies/efo/terms/graph?iri=http://www.ebi.ac.uk/efo/EFO_0000400&&ed=http://www.ebi.ac.uk/efo/EFO_0000400&&

[2016-07-27 19:44] kdahlquist commented on #290
@dondi says that he has only been able to work with them in D3 when it is a strict hierarchy with no child nodes pointing back up to parents.

[2016-07-27 20:18] kdahlquist commented on #284
Bootstrap tooltip utility doesn't work with SVG.  We do not have the option of using a premade HTML tooltip library.  At the time, we used the easier option of using "title", but now we have to roll our own.

[2016-07-27 20:20] kdahlquist commented on #284
https://codepen.io/recursiev/pen/zpJxs

[2016-07-27 21:42] kdahlquist commented on #283
OK, @dondi, here are the collapsible sections that I want on the Documentation page (sub sections are denoted by 1a, 2b, etc.)

Default to opening section 1 (but not the subsections to 1) with all the other sections closed.  This will essentially give an outline for the help.

1. Formatting the input file

    [leave first two bullet points under this main heading]

    1a. Creating a GRNsight inp

[2016-07-27 21:45] kdahlquist commented on #264
See an example of such a slider at giant-api-biojs:  http://www.biojs.io/d/giant-api-biojs
![giant-api-biojs](https://cloud.githubusercontent.com/assets/6463867/17193606/c43af224-5408-11e6-9014-5d73eaa45c82.png)

[2016-07-27 21:46] kdahlquist commented on #295
![ols-graphview_screenshot](https://cloud.githubusercontent.com/assets/6463867/17193634/d875bcf6-5408-11e6-9735-b9ed30b9ba94.png)

[2016-07-27 21:48] kdahlquist commented on #159
See zoom and navigation implementation at:  http://www.ebi.ac.uk/ols/ontologies/efo/terms/graph?iri=http://www.ebi.ac.uk/efo/EFO_0000400&&ed=http://www.ebi.ac.uk/efo/EFO_0000400&&

![ols-graphview_screenshot](https://cloud.githubusercontent.com/assets/6463867/17193712/24023dde-5409-11e6-9cc8-1c46915a974b.png)

[2016-07-27 21:50] kdahlquist commented on #288
We decided that the File > Open menu item will refer to the native .xlsx format and that we will have a separate menu item File > Import > Cytoscape SIF, etc.

[2016-07-27 21:52] kdahlquist commented on #288
Tasks for @kdahlquist:
* Convert demo files 1-4 to SIF, GraphML, GML.
* Once converted, load into Cytoscape

[2016-07-27 22:30] kdahlquist commented on #287
Here is my exploration of Cytoscape for an unweighted network.

Version 3.4.0 (Windows 64-bit)

* Launch Cytoscape
* In "Session" Start-up window, select button "From Network File" button and select the 21-genes_31-edges_Schade-data_input.sif file.
![21-gene_31-edge_schade-data_input_cytoscape-default-view](https://cloud.githubusercontent.com/assets/6463867/17194465/00f5af70-540d-11e6-9076-b904716

[2016-07-27 23:07] kdahlquist commented on #287
OK, here is my exploration of a weighted network in Cytoscape.

I made a .sif file where the relationship type was the weight itself.  This then labeled the edges with the weights.
![21-gene_31-edges_schade-data_estimation_output_cytoscape-edge-weight](https://cloud.githubusercontent.com/assets/6463867/17195651/02c6c828-5414-11e6-8842-9014e393ecd6.png)

I should be able to set edge colors and widt

[2016-07-27 23:18] kdahlquist commented on #287
Latest Cytoscape user manual v3.4.0: http://manual.cytoscape.org/en/3.4.0/index.html

[2016-07-27 23:33] kdahlquist commented on #287
So, it turns out that the stand-alone Cytoscape v3.4.0 can directly import json from cytoscape.js (and export json, too.)
[21-genes_31-edges_Schade-data_estimation_output_weights_json.zip](https://github.com/dondi/GRNsight/files/387371/21-genes_31-edges_Schade-data_estimation_output_weights_json.zip)

I need a break from this right now.  From what I've seen so far we can leave the relationship typ

[2016-07-27 23:58] dondi commented on #286
As partially expected, npmjs does not allow just publishing "on top" of the same version, and so GRNsight is now publicly labeled as 1.12.1. The updated README, it turns out, is read at publish time, so that is an automated process. Keywords and license have been corrected. You can see it at the same URL indicated above.

[2016-07-28 00:00] kdahlquist commented on #286
OK.  If we end up further patching 1.12, we should increment the versioning to 1.12.2 so as not to overlap with this new version.  I'm closing this now.

[2016-07-28 00:00] #286 closed

[2016-07-28 00:02] kdahlquist commented on #120
With the registration on the BioJS repository #286, I'm going to close this one.  We'll look into updating Elixir at some point in the future, but it is not worth holding this issue open for.

[2016-07-28 00:02] #120 closed

[2016-07-28 00:07] dondi commented on #286
Yes, and actually I applied a v1.12.1 to this incarnation of `master`. May not merit a full-blown release but at least it shows up on GitHub officially.

[2016-07-28 07:13] dondi commented on #293
OK, `graph-statistics` has been merged into `beta`, and the web app in http://dondi.github.io/GRNsight/beta.html now includes the Graph Statistics tab at the bottom (when a GRN is loaded).

[2016-07-28 17:58] kdahlquist commented on #293
Shouldn't beta now be 1.15 or at least 1.13.1?  This version is distinct from the 1.13 that was there before.  I think I was saying yesterday that I would like beta to increment each time we deploy a new version on beta to indicate that it is a new version.  Also, the last modified date on the page needs to be updated.  I could make these changes (on gh-pages) myself, but need agreement on the ver

[2016-07-28 18:04] kdahlquist commented on #283
I updated the outline in the previous comment to include graph statistics.

[2016-07-28 18:28] kdahlquist commented on #262
I know we don't want to spend a lot of time on this, but I have some immediate suggestions that, I think, would greatly clarify the interface:

* There is now a left-right scroll (both on Firefox and Chrome) that is kind of annoying because it's not scrolling very far and it doesn't seem to need to be there (at least until the graph statistics are opened).  I hope we can get rid of it.
* The up/do

[2016-07-28 19:12] kdahlquist opened #296 "Shortest path table in graph statistics needs to be transposed"
Related to issue #262.

We need to transpose the table that shows the shortest path results to conform to the orientation we use for the input file.  Regulators in columns and targets in rows.

We should also be clear about our orientation.  In the label "Shortest Path", could you change it to "Shortest Path (columns regulators/rows targets)"

I thought it was that way already (at least in the tes

[2016-07-28 19:18] kdahlquist opened #297 "Update Links page with tools registries we are listed in"
Update the Links page with links to GRNsight at the BioJS registry, bioinformatics.ca, NPM (https://www.npmjs.com/package/grnsight), and Elixir.

[2016-07-28 19:37] dondi commented on #293
Oh actually I should have mentioned this—when I restarted the beta deployment I noticed that the previous one wasn't actually on the `beta` branch, but `master`. Thus, it’s unclear whether 1.13 genuinely pertained to a genuinely distinct version at all. Thus I just left it alone. We can bump to 1.15 though, since regardless of what 1.13 might have been, it’s true that graph statistics only landed

[2016-07-28 20:39] kdahlquist opened #298 "How to deal with autoregulatory nodes in shortest path computation"
Copying over an e-mail thread between @dondi, @acrans, and @kdahlquist

My original e-mail to @acrans:

For the GRNsight graph visualization software that Dondi and I are working on, we have implemented an open source library that computes the shortest path between nodes using the Dijkstra algorithm.  The software checks out with a manual inspection of the graph.  However, we have self-referential

[2016-07-29 21:53] kdahlquist opened #299 "Add links to BIOL/MATH388 2015 course wiki to Links page."
Add links to BIOL/MATH388 2015 course wiki to Links page.

[2016-07-30 01:36] dondi commented on #287
The first export variant, export to SIF, has been implemented and has replaced the `graph-statistics` branch on the [Beta page](http://dondi.github.io/GRNsight/beta.html). This beta version is set to 1.15. I will log my proposed version roadmap (which is a touch more complicated than usual due to the concurrent development threads that are going on) in #293 right after I finish this comment.

Plac

[2016-07-30 01:45] dondi commented on #293
Given that we are prioritizing export/import and are viewing that as a "hot fix" to `master`, versioning is a little more complex than usual. But here's my proposal for it:
- 1.13 —We are moving on from this. As mentioned earlier, the changes in this version are unclear, but because this has been the published beta version for a while, I think it’s best that we just go forward.
- 1.14 —Because 1.1

[2016-07-31 05:38] dondi commented on #288
The v1.15 beta on the website now implements SIF import also. This gives SIF a full-cycle implementation now, allowing both import and export.

To save time, I think we'll have to stay light on the detail with error checking for imports. I implemented a generalized import error dialog in case something comes up, but it will take more effort to go to the level of reporting seen in the native .xlsx

[2016-07-31 05:42] dondi opened #300 "Refactor server code to facilitate error checking on multiple formats"
While implementing our first import function (for SIF) I noticed that many error checks that are performed for the original .xlsx format will apply to other imports as well. However, the current code structure prevents those from being leveraged easily. The code will have to be refactored this way:
- All file-reading routines will first target an intermediate JSON representation consisting solely

[2016-07-31 05:43] dondi commented on #288
That refactoring issue has been written up as #300.

[2016-07-31 07:22] dondi commented on #283
The outline has been implemented in `gh-pages` and as such is now live. To help me get a good sense of how the page looks in the long term, sections requested to be commented out are not yet commented out for now. I’ll comment them out before the weekend wraps up.

[2016-07-31 16:50] kdahlquist commented on #283
I can take care of the commenting out if you want...

[2016-07-31 17:20] dondi commented on #283
Sure, go ahead, plus edit as needed...that was a lot of cutting and pasting so I might have messed up in spots. Thanks! :)

[2016-08-01 06:30] dondi commented on #287
Export to GraphML is now available on the beta 1.15 deployment. Workflow is identical to SIF export, except that the resulting file ends in _.graphml_. I used http://graphml.graphdrawing.org/primer/graphml-primer.html as my main reference for putting together the exported data.

[2016-08-01 06:36] dondi commented on #288
Current work-in-progress is import from GraphML. This one will require some documentation when we are done because GraphML captures a superset of what GRNsight can display. My current intent is to allow the successful import of any GraphML file, but the import will ignore features that GRNsight does not support (e.g., "hyperedges," nested graphs). Again my point of reference is http://graphml.grap

[2016-08-01 20:40] kdahlquist opened #301 "User tests of SIF export: problems with demo file 1 and 2"
I am breaking this off from #287 because the issues are likely to be different depending on the file type.

I tested the SIF export with each of the demo files and a sample unweighted and weighed network from @GraceJohnson I had leftover from last semester.

When I open the exported SIF files in Notepad, there are no line breaks. The files open in Wordpad, Word, and Excel with linebreaks, so there

[2016-08-01 20:44] kdahlquist opened #302 "Consider hiding menu items that are not implemented yet"
I want us to talk about completely hiding menu items that are not implemented yet.  If they are greyed out, but present, the user is "teased" that they might be usable even though the feature has not been implemented (as happened with one of our reviewers.)  By completely hiding them, we don't set up an expectation in the user's mind that there is some condition which "unlocks" the menu item.

Men

[2016-08-01 20:55] kdahlquist opened #303 "Is upload counter counting import of other filetypes?"
It just occurred to me to ask whether the upload counter is counting these new filetypes we are importing (SIF, GraphML, GML)?

[2016-08-01 20:58] kdahlquist commented on #293
Your versioning plan makes sense.  I'm going to go ahead and close this now.

[2016-08-01 20:58] #293 closed

[2016-08-01 21:21] dondi commented on #301
Yes, Notepad is known to only handle one type of linebreak; there are three out there these days, and with the variety of tool chains out there, some of which adjust linebreaks while some don't, the tendency these days is to update the tools themselves to recognize all three kinds. Wordpad, Notepad++, Sublime Text, and Atom are updated but Notepad has not been. The export code is using the `\n` va

[2016-08-01 21:22] dondi commented on #303
That crossed my mind too. It is easy to add if we preserve the same path. Will that be sufficient? Or should we differentiate the type of upload/export?

[2016-08-01 21:23] dondi commented on #302
OK, this can be done anytime before we merge to master.

[2016-08-01 21:29] kdahlquist commented on #301
I agree that regularly-imported files should preserve the filename.  Maybe we should allow the filename that shows for the demo files just be their regular filename, too.  We would not need to change the descriptions in the Demo menu.  I don't know if that makes it more or less confusing.

[2016-08-01 21:32] kdahlquist commented on #303
I don't think we need to differentiate if we just want to get the count of how many files are uploaded.  If we want to use this information to judge how popular the different file types are, I guess it might be useful, but do we care?

[2016-08-01 22:03] kdahlquist opened #304 "Click to keep submenu item open"
Something that I noticed while working with the import/export menu items.

In other programs, I am used to left-clicking on a menu item that has sub items to keep it open while I select the submenu item.  Our menu does not behave this way, if I click on the menu item with sub menu items, it just closes instead of staying open.

I subconsciously use this feature, it took me a minute to figure what

[2016-08-01 22:08] kdahlquist opened #305 "User tests of SIF import: newline bug"
Breaking this out from #288 as the issues will likely be different for different formats.

So, I did the obvious, which is export our four demo files to .sif using our GRNsight export function and then re-import them with the GRNsight import function.

As expected, no problems.

However, when exploring #301, I modified the demo 2 file in Excel to enable it to import into Cytoscape, but it is now b

[2016-08-01 22:26] dondi commented on #305
Agreed, that is puzzling. I opened the file and did not see anything untoward. I did notice that the linebreaks were of the `\r\n` variety, but then if those were the problem, the unweighted sif file should have had issues as well. This will require some additional digging.

[2016-08-01 22:29] dondi commented on #304
OK, this one will need further investigation. My first impression is that we are looking at default Bootstrap behavior and so this will be tricky to code around. However I seem to recall that Nicole didn’t go _full_ Bootstrap for some reason; that leaves a small chance that this behavior might be in our code instead. Either way, this will need further code examination before we can determine the l

[2016-08-01 22:31] kdahlquist commented on #304
That's fine.  No rush.

[2016-08-01 22:33] kdahlquist commented on #305
Yeah.  I guess I can try making a weighted sif file in Excel, "from scratch" and see what happens.

The unweighted and weighted versions differ in the relationship type being "pd", versus a real number.  I thought that datatype encoding might be the issue, but that should be stripped out when saving as .txt.

[2016-08-01 22:35] kdahlquist commented on #305
OK, yeah, if I type a small weighted network from scratch in Excel and save as text, tab-delimited, it is broken in the way described above.  So it's something in the way that Excel is saving the file that's doing it.

[2016-08-01 22:57] kdahlquist opened #306 "File > Reload does not work with imported files"
So, File > Reload does not work with an imported SIF file (and presumably with the other imported formats.

We either need to enable Reload to work with imported files or grey this option out when the graph displayed has been imported (preferably the former of the two options).

[2016-08-01 23:20] dondi commented on #306
OK, that was one of my pending questions also, whether Reload should apply to imports as well as open (the higher-level question being, is "Import" pretty much identical to an "Open" in terms of behavior, differing only with the file format used; and so far the answer appears to be "yes"). Some additional code is involved but I have a general idea on how to implement this if indeed that is the pre

[2016-08-01 23:23] kdahlquist commented on #306
Yes, I think that Open and Import are behaviorally the same; we are calling them different things to distinguish that there is a GRNsight "native" file format, whereas the other file formats are not.  We might end up with some features that would not apply to the imported files, but I think the default is to treat them the same.

[2016-08-02 00:05] kdahlquist commented on #283
Made some progress in adding documentation for new features and commenting out some of the stuff that we haven't implemented yet.  Haven't tackled the hard part of describing the file formats yet.  More to come.

[2016-08-02 07:50] dondi commented on #288
OK, GraphML import is now live on the beta 1.15 page. I was on that track already so I decided to finish that first, prior to looking at the testing results from the pre-existing functionality.

[2016-08-02 07:52] dondi commented on #305
Oddly enough, it did seem to be the different newline convention which prevented proper importing. I modified the SIF importer to handle all newline conventions properly, and when that change was made, the file attached above then imported correctly.

This change has been made live on the beta 1.15 page.

[2016-08-02 07:53] dondi commented on #303
OK, making the counter code execute for both Open and Import turned out to be pretty straightforward, so I've made the change. This is live in beta 1.15.

[2016-08-02 08:03] dondi commented on #302
This turned out to be pretty straightforward so I went ahead and did this.

[2016-08-02 16:44] kdahlquist commented on #303
Sounds good.  This is a little difficult for me to test.  I've done one import and will watch the counter to see if it ticks over from 1569 to 1570, but it's not the best test if there's another user out there uploading files.  I also don't quite know how long it will take for Google Analytics to catch up.  Is this something we can observe directly on the Google Analytics dashboard?

[2016-08-02 16:45] kdahlquist commented on #302
Looking good!  Closing.

[2016-08-02 16:45] #302 closed

[2016-08-02 17:13] dondi commented on #303
I recall that there was a "live feed" version of the analytics display. It was somewhere on the sidebar. If that view is active, then you can see changes as they happen. Not sure if it's still there though; we can look later.

[2016-08-02 18:09] kdahlquist commented on #303
We looked at the realtime dashboard and did not see anything for Beta import or Master open from @kdahlquist's computer.  However, it works for @dondi's computer.  This may have something to do with anti-malware software that @kdahlquist has installed.

There is still a delay for the counter to refresh, but we will monitor this.

[2016-08-02 18:34] kdahlquist opened #307 "Betweenness centrality algorithm may be ignoring direction of edges"
We think that the computation for betweenness centrality is ignoring the direction of the edges for its computation.

[2016-08-02 19:04] kdahlquist opened #308 "Change demo labeling to reflect true filenames"
From Isue #301

We might want to rethink what the default name for the demo files are when you export them. Currently, the name has the #, (, ), commas, and space characters in them because that is what we call them in the menu. For people who want to pipe files to different programs, this is going to make them cringe (as it did me). Any chance we can customize this so that the actual file names t

[2016-08-02 19:08] kdahlquist commented on #288
We are not going to import from GML right now so that we can prioritize other issues.

[2016-08-02 19:09] kdahlquist commented on #287
We are not going to export data in GML format so that we can focus on other issues.  Although @dondi notes that the export would be easier than the import if we ever wanted to do it.

[2016-08-02 19:10] kdahlquist commented on #303
The counter refreshed by the end of our meeting, so closing this.

[2016-08-02 19:10] #303 closed

[2016-08-02 20:59] kdahlquist commented on #305
This is fixed.  I am going to close this one off and open new issues for anything else I find in testing to keep this granular.

[2016-08-02 20:59] #305 closed

[2016-08-02 21:52] kdahlquist commented on #301
I was able to verify this bug, which might be both a bug in GRNsight and Cytoscape.  For clarity, I will describe again what happens.

First issue.
* In GRNsight, load demo file 1, 21-genes_50-edges_Dahlquist-data_input.xlsx and export it to SIF.
* Import this SIF file into Cytoscape.
    * Cytoscape is unable to parse the edges between nodes and the node labels are messed up.
* To fix this, I ope

[2016-08-02 22:41] kdahlquist opened #309 "Specification of file format for SIF export and import"
So, I've been looking into more details about SIF format and weighted edges.

It turns out that Cytoscape considers SIF just a specification of the network connections and to not provide any information about attributes, such as weights for edges.  According to their documentation, edge weights would be provided in an ancillary file, a data table, which (I think) is what is needed to actually colo

[2016-08-02 23:02] kdahlquist opened #310 "GRNsight-exported GraphML imported into yED"
GRNsight-exported GraphML imported into yED
* labels on nodes missing

more detail later...

[2016-08-02 23:06] kdahlquist opened #311 "GRNsight-exported GraphML imported into Cytoscape"
GRNsight-exported GraphML imported into Cytoscape
* seems relatively OK, but have weird bar or hyphen as label on edges

more later...

[2016-08-02 23:08] kdahlquist opened #312 "Cytoscape-exported GraphML imported into GRNsight"
Manually created Cytoscape network exported to GraphML and imported into GRNsight
* contents of "SUID" tag is showing up as the node label, instead of the node label

more later...

[2016-08-03 07:13] dondi commented on #306
This change has been made and is available on the beta 1.15 page.

[2016-08-03 07:14] dondi commented on #308
This change has been made and is now available on the beta v1.15 page. This actually took surprisingly longer than anticipated due to some unforeseen wrinkles. Interestingly, the code changes made to do this had an effect on the reload mechanism too, which is why both changes ended up landing in a single commit.

[2016-08-03 07:17] dondi commented on #309
Ah, I didn't realize that the numbers in the second column were not actually read as weights after all. It seems like SIF is not designed to handle weighted edges at all, and if that is true then I wouldn't feel obligated to export SIFs as weighted.

So if we take that off the table, it sounds like the priority becomes whatever has best interoperability with Cytoscape.

Anyway, those are my initia

[2016-08-03 07:19] dondi commented on #287
GML menu items have been removed from the deployed beta v1.15 (I guess this note applies to #288 too).

[2016-08-03 07:20] dondi commented on #284
As we discussed, I will start looking into this issue for now while import/export testing finishes up. However I will pre-empt this and switch immediately to import/export bug-fixing once we know the full scope of what those fixes are.

[2016-08-03 16:51] kdahlquist commented on #306
Confirmed fixed and closing.

[2016-08-03 16:54] #306 closed

[2016-08-03 17:06] kdahlquist commented on #308
Confirmed and closing.

[2016-08-03 17:06] #308 closed

[2016-08-03 17:10] kdahlquist opened #313 "Release notes for v1.18"
I think we should start working on some release notes for v1.16 so we can keep track of what features and issues are related to the release.

* Implemented import of network data from SIF (*.sif) format #287, #301, #305, #306, #309
* Implemented export of network data to SIF (*.sif) format #288, #301, #309
* Implemented import of network data from GraphML (*.graphml) format #287, #306, #312, #314,

[2016-08-03 17:46] kdahlquist commented on #309
After sleeping on it, I think we should definitely *not* use the weights as the relationship type, which leaves us with two options:
1. export using "pd" for both unweighted and weighted networks, with, a warning to the user that weight data will be lost.
2. export using "pos" and "neg" for positive and negative weight values, respectively.  This could also generate a warning to the user that the

[2016-08-03 17:52] kdahlquist commented on #309
I have another thought for discussion.

The GRNmap team sometimes has need to convert the adjacency matrix to a list of pairwise interactions.  Our export to SIF format gets us partway there, but has the annoying feature of concatenating the target nodes instead of being a true list of binary interactions.

If the list of binary interactions can be a valid SIF format, then maybe we should do it th

[2016-08-03 19:26] kdahlquist commented on #309
I talked to Carl about options 1 and 2 for exporting either only unweighted networks or networks with pos/neg/neu as the relationship type.

He voted for exporting weighted networks with interaction types of pos/neg/neu where neu is determined by the edges that we call grey (5% either side of zero).

Of course, we could also give the user the option to export as unweighted or weighted (pos/neg/neu

[2016-08-03 20:34] kdahlquist commented on #309
OK. OK.  I think I've got it in terms of the specification that will be useful to both the GRNmap team and outside users of GRNsight.

1. For SIF export:
    * I want us to export the data in a "pure binary" format, by which I mean that each source-->target relationship gets one line in the file, instead of listing each source once and having the targets on the same line separated by tabs.  I know

[2016-08-03 21:16] dondi commented on #309
OK, I'll take that as the authoritative spec for SIF import/export. The export options will add some work in terms of the UI; I’ll see what design can be done that balances effort and usability.

I’ll update when something is available online.

[2016-08-03 21:33] kdahlquist opened #314 "Specification of file format for GraphML export and import"
I'm creating this issue in parallel to #309 for discussion of GraphML.  I'm going to close #287 and #288 because the basic functionality there has been implemented and we are now fine-tuning.  It makes more sense now to take on the two formats separately.

I have now read through the GraphML Primer and have done a visual inspection of the GRNsight GraphML exports of an unweighted and weighted grap

[2016-08-03 21:34] kdahlquist commented on #288
I am going to close this because the basic implementation is done and more discussion has been shifted over to #309 and #314.

[2016-08-03 21:34] #288 closed

[2016-08-03 21:35] kdahlquist commented on #287
I am closing this now because basic functionality has been implemented and discussion has moved to #309 and #314.

[2016-08-03 21:35] #287 closed

[2016-08-03 21:45] dondi commented on #314
Re: "edge-value-id," that is actually a part of the GraphML spec. The section that describes it is http://graphml.graphdrawing.org/primer/graphml-primer.html#AttributesDefinition

Reworded, it looks like GraphML is trying to be flexible in terms of what the file calls certain attributes. Officially they call it `weight`, but they want the user to specify under what "key" the `weight` is specified.

[2016-08-03 21:50] kdahlquist commented on #314
I'm OK with "id" still being there, it was more of a question.  I don't want my misunderstanding to trump clarity.

[2016-08-03 22:16] kdahlquist commented on #314
We might consider using the graph id.  When Cytoscape exports a graph to graphml format, it gives the graph id as the name of the file.  I think this is a good thing.  See the relevant line below.

`<graph edgedefault="directed" id="21-genes_31-edges_Schade-data_input.graphml">`

[2016-08-03 23:45] kdahlquist commented on #297
Done.

[2016-08-03 23:45] #297 closed

[2016-08-03 23:45] kdahlquist commented on #299
Done.

[2016-08-03 23:45] #299 closed

[2016-08-04 08:36] dondi commented on #301
I investigated this bug today and based on my tests, it looks like the issue was not the line breaks but the expectation that even for non-targeted genes, _every_ line is supposed to have a tab for the relationship and target gene columns, even if there is nothing between the tabs.

I reached the conclusion this way:
* First I visually inspected the files included above. They exhibited the differe

[2016-08-04 08:41] dondi commented on #309
As a result of the work done in #301, the first two bullets and item (b) of the third bullet for the SIF export spec have been implemented. The option to export a weighted network as unweighted is the sole item that remains; this one requires additional coding in the UI to present the user with that choice, then relay that to the server, when the current network is weighted.

I will continue with

[2016-08-04 09:04] dondi commented on #309
I spotted a couple of questions in the SIF spec so figured I'll answer them here:

Accepting a space-delimited file is more complicated precisely because of that possibility that nodes have spaces in their names. Even without spaces, parsing with spaces is still a touch more complex than parsing with tabs. This feels like something where the extra effort does not align with the benefit. It seems t

[2016-08-04 19:12] kdahlquist commented on #301
A fresh export of my test files GRNsight-to-SIF are now read correctly in GRNsight, Cytoscape and BioTapestry (including Demos 1 and 2 that were not read correctly in Cytoscape before).

However, the second half of the bug has not been resolved.

Right now, if a gene has no target, it is required by GRNsight to be in the "source" column (even if there are now tabs).  If a targetless gene only appe

[2016-08-04 21:20] kdahlquist opened #315 "Modifications to demo files #3 and #4 to be consistent with manuscript"
I  made some minor modifications to demo files 3 and 4 to make the screenshots that are in the manuscript.  The modifications were:
* change cell A1 to read "cols regulators/rows targets"
* alphabatize the rows and columns of the adjacency matrix
* restrict the weight values to 4 decimal places for the weighted network

I want to substitute these files for the ones that we are currently using.  Is

[2016-08-04 21:44] dondi commented on #315
The files should be processed no differently from a regular "Open," so if it opens up fine, then dropping it on top of the existing demo file should be OK. We can always back out the commit if there's something off, but I don't expect it.

[2016-08-04 21:46] dondi commented on #301
Ah OK, I understand that better now. Yes, I can see from the code that this will happen. I'll factor this into the revision of SIF import.

[2016-08-04 21:59] kdahlquist commented on #315
So, which branch should I commit this to?  The documentation itself is being committed to gh-pages, but should the demo files go to the import-export branch?

[2016-08-04 22:00] dondi commented on #315
Yes, let’s do `import-export`. That way, on the next iteration, the updated demo files can be tested and verified with the same build.

[2016-08-04 22:01] kdahlquist commented on #315
OK.  I'll get to this a little later--don't want to lose my train of thought right now...

[2016-08-04 23:18] kdahlquist opened #316 "How to link to subsections within Documentation page"
I tried to link to a couple of different subsections in the Documentation page, but I don't know quite how to do it since it is not working.

See in Section 1c, I added one link to section 1a and two links to section 3a.

Can you check it out and see what I'm doing wrong?  Also, check out what I wrote to make sure it is consistent with what you are implementing.

[2016-08-04 23:58] kdahlquist commented on #283
All of the documentation with regards to SIF has been added to the Documentation pages, including images.  @dondi, please take a look and make sure that I was consistent with what we are implementing.

The images are at full size right now, but they can probably be made a little bit smaller to look better, but for the moment, everything is there.

Issue #316 is my request for help regarding intern

[2016-08-05 02:39] dondi commented on #316
One more attribute is needed: `data-toggle="collapse"`. I’ve added this to the links you mention above.

However, this behavior is not perfect. The link does open and jump to the subsection with the given ID, but _only if its containing section is already open_. If the section is closed (e.g., Section 3 when the user clicks on the link to Section 3a), there is a jump but the containing section is

[2016-08-05 02:44] dondi commented on #316
Some notes on the content in Section 1c:
* "Node names must be 12 characters or fewer." —The import code does not enforce this yet; it’s one of the checks that needs to be refactored out of the current GRN-loading code.

…OK, actually, that’s the only note I came up with :) The rest of the information looks good 👍 , and as of the latest deployed beta, this behavior should now be available.

(detai

[2016-08-05 05:03] dondi commented on #283
I reviewed the documentation and the content mostly corresponds to the behavior that has been uploaded to the beta page as of August 4 evening, with one exception due to a UI choice made in order to fulfill one of the specs in #309. After weighing a number of choices for how the user would choose between exporting an unweighted vs. weighted SIF when the current network is weighted, I ended up with

[2016-08-05 05:04] dondi commented on #301
Support for target-less genes that are mentioned only in the edges has been implemented, and is available in the current beta v1.15. I tested this with the 7/10 sample files above and got 7 genes and 10 edges for both files.

[2016-08-05 05:07] dondi commented on #309
The specification given a few comments above should be fully implemented now (as far as I can tell). Please see notes in #283 on how I chose to present the Export-as-Unweighted vs. Export-as-Weighted option when exporting a weighted network. Unit tests were modified or added in order to reflect the spec.

[2016-08-05 05:11] dondi commented on #314
The items listed here have been implemented (and acknowledged that there may be more to come):
- `edge-value` is now the key name for the `weight` attribute, instead of `edge-value-id`
- The filename is used as the `graph id` attribute
- Although not explicitly discussed, I figured that we will also want the option to export a weighted network as either unweighted or weighted GraphML. Doing this a

[2016-08-05 16:40] kdahlquist commented on #300
A reminder from issue #316:

"Node names must be 12 characters or fewer." —The import code does not enforce this yet; it’s one of the checks that needs to be refactored out of the current GRN-loading code.

[2016-08-05 16:40] kdahlquist commented on #316
Thanks.  I'll start another issue about section opening, but give it a low priority, in case we want to deal with this later.

I'm going to leave the node names must be 12 characters or fewer because even if we are not enforcing it now, the intention is to enforce it in the future and we may as well signal to users that they need to use short node labels.  I've put a reminder in issue #300.

[2016-08-05 16:40] #316 closed

[2016-08-05 16:42] kdahlquist opened #317 "Opening a web page section should also open all of its parent sections (if they are still closed)."
Opening a web page section should also open all of its parent sections (if they are still closed).

This was noticed on issue #316 when linking within the Documentation page.  It's a low priority for now, but I'm posting it as an issue so we don't forget about it.

[2016-08-05 16:44] kdahlquist commented on #283
I'm cool with the UI choice.  It was one of the ways I would envision it to happen anyway; I tend to like having the menu option instead of having to click through windows to get to what I want to do.  I'll take care of adding it to the documentation.

[2016-08-05 17:06] kdahlquist commented on #309
Here are my initial observations:

Now that we have the option to export as weighted or unweighted, I think we need to append something to the filename for the user:
* Unweighted to unweighted:  leave as is
* Weighted to unweighted: append "_unweighted" to the filename
* Weighted to weighted:  I'm torn, we could either leave it alone or append "_weighted" to the filename

Currently, the exported S

[2016-08-05 17:11] kdahlquist commented on #301
Confirmed that this is fixed and closing.

[2016-08-05 17:11] #301 closed

[2016-08-05 17:15] dondi commented on #309
Ah OK, yes I missed that one. But I just realized, if that node has no targets and is also never targeted (i.e., it is completely disconnected), exporting in this way will lose that node. Just want to make sure that this is the intent for nodes such as those.

[2016-08-05 17:17] dondi commented on #309
As for the file names, yes I can put that up. Need to think about weighted-to-weighted too.

[2016-08-05 17:20] kdahlquist commented on #309
Oh.  I didn't think of that use case.  You're right, we need to leave it the way it is.  We don't want to lose information.  I will make the change in the documentation.  Good catch.

[2016-08-05 17:40] kdahlquist commented on #283
Reminders to self about what I need to work on in documentation:
* Links to download sample SIF files
* Resize sample SIF images (make a little smaller, maybe 75%)
* Explanation of Export menu options
* Replace adjacency matrix images with ones from manuscript
* Replace demo files 3 and 4 with ones used to create images

[2016-08-05 18:43] kdahlquist opened #318 "Long node labels mess up self-regulatory arrows"
Long node labels mess up self-regulatory arrows in terms of their placement and the arrowhead alignment on the edge.
![long-node-label-autoregulatory-arrow](https://cloud.githubusercontent.com/assets/6463867/17447143/b4539d70-5b01-11e6-99bd-5ffe43f7ef70.png)

Probably need to also reduce whitespace on edges of label.

Low priority.

[2016-08-05 19:46] kdahlquist commented on #312
So, I think this is going to be a little tricky.  I think we are going to end up making accommodations specific for Cytoscape (or yED) and there will be no guarantee that the format we end up with will be able to be read by other programs.  I don't know what else we can do, though.

So what I have done is make a simple 4 node network in Cytoscape manually using their graphical interface (unweighte

[2016-08-05 20:56] kdahlquist commented on #312
OK.  Here is what is happening with weighted networks exported from Cytoscape as graphml and imported into GRNsight.

I created a weighted network manually in Cytoscape by adding the column "weight" to the edge table.  I'm pretty sure this is how to do it, but it's actually hard to find in the manual.  I also haven't yet figured out how to color the edges based on the weight, so I can't be certain

[2016-08-05 20:59] kdahlquist commented on #312
Forgot to post the test files.
[GraphML_weight_tests.zip](https://github.com/dondi/GRNsight/files/404613/GraphML_weight_tests.zip)

[2016-08-05 21:11] dondi commented on #312
I'm leaning on applying a priority system like you mentioned, where we first look for the presence of label keys, then drop down to the id. For export, we can export both the labels and the ids but preserve the same names in both, so they will look the same regardless of whether the importing software reads node id's or node data keys.

I also think that the Cytoscape `weight` export issue is a bu

[2016-08-05 21:12] kdahlquist opened #319 "Roads and Bridges: The Unseen Labor Behind Our Digital Infrastructure"
Just out July 14, 2016

http://www.fordfoundation.org/library/reports-and-studies/roads-and-bridges-the-unseen-labor-behind-our-digital-infrastructure

[2016-08-05 21:21] kdahlquist commented on #312
Yeah, I'm about to work on the flip side, GRNsight-exported GraphML imported into Cytoscape, #311.

There is a bug report form for Cytoscape here:
http://chianti.ucsd.edu/cyto_web/bugreport/bugreport.php

I can report the bug, but they ask that it be reproduced on another computer.  It might be helpful for you to see if it reproduces on a Mac; I'm using v3.4.0 of Cytoscape.

[2016-08-05 21:40] dondi commented on #312
OK I can do that. So the steps are:
- Manually create a simple graph with a weighted edge in Cytoscape
- Export it to GraphML
- Note the `for` ID for the `weight` key

[2016-08-05 21:55] kdahlquist commented on #312
Yes.  The way you do the weights is click on the "edge table" tab at the bottom of the Cytoscape window.  click on the + at the top of that panel to add a column.  I used floating point as the data type and called the column "weight".  Then when the column appears, you can type in the weight values.

[2016-08-05 22:50] kdahlquist commented on #311
So, figuring this out is obviously related to issue #312, but I'll put notes on this specifically here.

So first the good news:
* The graph displays
* The nodes are labeled correctly (implying that Cytoscape is correctly interpreting the node ID and using it as the Cytoscape name).
* The edge connections are correct.

The "bad" news:
* The relationship type (in the parlance of SIF) is not coming

[2016-08-05 23:28] kdahlquist commented on #310
So, this is going to be tough.  yED does not export into any data format, it only exports images, so it's hard to do what I did with Cytoscape to figure out what to fix.

As I noted before, GRNsight-exported GraphML can be opened by yED, but there are no labels on nodes so it's a little hard to know if it was done correctly.  The right number of nodes and edges are there, but without labels, I can

[2016-08-08 07:59] dondi commented on #310
Yes, after looking at the documentation, I agree that the `y` namespace of elements that they shove into the `key` elements completely supersedes what I’ve seen in the GraphML documents and the Cytoscape files.

One idea is to have a "kitchen sink" export—that is, export GraphML that has `key` elements for _both_ Cytoscape and yED. The presumption here is that each application will know to gracefu

[2016-08-08 09:34] dondi commented on #315
The updated demo files work for me on the newly-deployed beta site.

[2016-08-08 09:34] dondi commented on #309
I went ahead and chose "leave it alone" when exporting weighted to weighted. Two points influenced this:
- This follows the pattern that we preserve the filename if the original data has not changed type.
- Users might already have something in their naming scheme that signifies a weighted graph to them (like for GRNmap, it is the output files that are weighted), so appending `_weighted` when the

[2016-08-08 09:34] dondi commented on #312
The bug has been reported. We’ll see what happens.

Meanwhile, I verified that our prior code was indeed requiring `for="edge"` in order to detect the `weight` attribute. I’ve removed that condition for now. We can consider this an accommodation for Cytoscape users because it isn’t their fault that Cytoscape has this bug.

I’ve also updated the node labeling logic to use cascading conditions for c

[2016-08-08 09:36] dondi commented on #311
OK, this has been implemented. In addition to revising the export unit tests to reflect these changes, I manually imported some GRNsight exports into Cytoscape, and saw the expected data in the Edge Table. This should be on the current deployed beta now.

[2016-08-08 09:38] dondi commented on #314
Just noting here that #311 and #312 have been addressed, with a suggestion that #310 be de-prioritized due to the effort involved. I think those are all of the offshoots from this issue.

[2016-08-09 00:04] kdahlquist commented on #315
I didn't actually upload them on Friday because I ran out of time.  I had uploaded the .sif files, not the .xlsx before I left for the day.

However, they are uploaded now on the import-export branch.

[2016-08-09 00:09] kdahlquist commented on #309
OK, I'm good with that decision.  I've verified that the filename appends in the specified cases, so I think we're done with this issue!  I need to catch up a bit with the documentation, but that is a separate issue #283.

[2016-08-09 00:09] #309 closed

[2016-08-09 00:13] kdahlquist commented on #310
I'm more in favor of having a "kitchen sink" solution (assuming it works upon testing) than calling out yED or Cytoscape as specific export options.  I'm not going to close this issue yet, but I'm going to lower the priority.

[2016-08-09 00:14] kdahlquist commented on #312
Thanks for submitting the bug.  I haven't had a chance to test this yet.  I will get to it tomorrow.

[2016-08-09 00:15] kdahlquist commented on #311
Haven't had a chance to review this yet.  I will get to it tomorrow.

[2016-08-09 00:16] kdahlquist commented on #314
I think we are close to closing this, pending my testing results tomorrow.

[2016-08-09 00:17] kdahlquist commented on #284
Are you going to have a chance to look into this now?

[2016-08-09 02:06] dondi commented on #284
Yes, I'll get back to this. I started some uncommitted code and will return to this while the import/export testing is being done.

[2016-08-09 02:07] dondi commented on #314
Cool, looking forward to it :)

[2016-08-09 02:09] dondi commented on #315
Ah it must have been the .sif's that I saw come in then. OK, I can try this out.

[2016-08-09 02:10] dondi commented on #310
OK, when/if we get to this we can start by creating a "kitchen sink" file manually then trying that out in both yED and Cytoscape. If that works, we can then go about revising the export routine to do this.

[2016-08-09 09:05] dondi commented on #315
OK the files are up on beta and there don’t appear to be any issues with the change-up.

[2016-08-09 09:16] dondi commented on #284
I think this will be one of those functionalities which will need a lot of trial & error and tweaking, but for what it’s worth I put something up for review. Beta version is bumped to 1.17, and this branch is derived from `import-export`. That way we can release _just_ `import-export` if we want (in which case it would be 1.16) or if we release both, we go to 1.18.

In any case, it’s there. It has

[2016-08-09 17:00] kdahlquist commented on #315
It looks OK to me, too, but I can't see "under the hood".  I'll close this one; I still have a little to catch up on with regards to the changeovers on documentation, but that's another issue #283.

[2016-08-09 17:00] #315 closed

[2016-08-09 18:03] kdahlquist commented on #284
So here are my initial responses:

Yeah, this was the first thing I noticed.  It's close to being a deal-breaker because if you can't read the weight because it's under another node or bunch of edges, it kind of defeats the purpose of having this feature.  How is it decided which edge is on top when two edges cross?  Or for that matter, two nodes?

I would say that this now harder with the new imp

[2016-08-09 18:05] kdahlquist commented on #284
By the way, did you verify the original bug that edge weights were not displaying on Chrome and Safari?  I just fired up Chrome to see the new changes in beta and saw that the tool tips _are_ displaying for v1.12.1 on Chrome.  Are they displaying for you?  What about Safari?

I thought I had previously verified the bug myself, but now I'm not sure.

[2016-08-09 18:25] kdahlquist opened #320 "Modify demo files 1 and 2 to conform to new GRNmap file conventions"
- [ ] Modify demo files 1 and 2 to conform to new GRNmap file conventions
- [ ] Upload new files to repository

Not a priority for now because the documentation has been switched over to refer to demo files 3 and 4 to be consistent with the GRNsight manuscript.

Possibility exists to replace demo files 1 and 2 data because they are based on an old version of the microarray data.  It would be good

[2016-08-09 18:44] kdahlquist commented on #225
I triggered a Warning as part of my testing for #312 and saw that this old text was still present:

"To view the details of the warning(s), please click on the "Warnings List" link below."

which should have been changed to

" To view the details of the warning(s), please click on the "Warnings List" link below."

This issue is so old, it is possible that it was changed on a different branch than

[2016-08-09 19:07] kdahlquist commented on #311
I have confirmed that the requested changes are working.  Closing now.

[2016-08-09 19:07] #311 closed

[2016-08-09 19:09] dondi commented on #284
I’ve found inconsistent behavior. Last night, I noticed that the original weights implementation was working on my locally-run GRNsight in Chrome, but they did not work off the public GRNsight website. I saw some StackOverflow questions that hinted that putting an element in an `iframe` affects the functionality.

With respect to the caveats of the existing implementation, I’ve been mulling assort

[2016-08-09 19:12] kdahlquist commented on #312
Verified that these changes result in successful import of both unweighted and weighted networks from Cytoscape graphml.  Closing now.

[2016-08-09 19:12] #312 closed

[2016-08-09 19:31] kdahlquist commented on #284
I'm not opposed to that solution, per se, but the devil is in the details.
* I wonder if it might be too distracting when simply moving your mouse over the screen to have the weights flash on and off, as they will end up doing with this solution.  In this case, I think that we would need to immediately implement the three options below:
    * weights appear on mouse hover
    * turn off weights

[2016-08-09 19:47] kdahlquist commented on #310
So, I just discovered that yED *can* export to GraphML, it is in the "Save As..." menu instead of the "Export" menu.

I can now look and see what yED is actually doing.  More to come...

[2016-08-09 19:56] dondi commented on #284
OK, I’ll proceed with trying this out. Like you said, the devil will be in the details. We might not know how this fully feels until it is up.

[2016-08-09 19:58] dondi commented on #313
With the import/export issues closing out, looks like we are close to releasing 1.16 and merging `import-export` into `master`? That will then leave us with mouseover as beta 1.17/release 1.18.

[2016-08-09 20:05] kdahlquist commented on #313
Now that I can directly look at a yED-exported GraphML file #310, I want to see how close we might be to fixing this via the kitchen sink approach.

I want to catch up on the documentation #283 before doing an official release.  I haven't written any of the section on formatting a GraphML file for import yet.

But, in principal, yes, what you suggest seems like  a good game plan.

[2016-08-09 20:54] kdahlquist opened #321 "yED-exported GraphML imported into GRNsight"
Now that I've discovered that I *can* export GraphML from yED, I could test a yED-export being imported into GRNsight.

Good news:
* The file imports and a graph is loaded with the correct number of nodes, edges, and correct edge connections.

Bad news:
* It is doing the same thing that was happening initially with the Cytoscape GraphML:  it is using the node id as the label for the node and is no

[2016-08-09 21:11] kdahlquist commented on #310
OK, I think there is still one more tweak we need to do to GRNsight GraphML export.  This has come about by observing the difference between what yED imports from Cytoscape-GraphML versus GRNsight-GraphML.

When yED imports Cytoscape-GraphML, even though the node label is not showing up in the box, you can see it in the properties panel, where it shows up in the "name" field.  It looks like yED is

[2016-08-09 21:13] kdahlquist commented on #314
Please take a look at #310 and #321.  I think those are fairly minor things we can do to increase our interoperability with yED.  I'd like to try to implement those before closing the book on this.

[2016-08-10 04:05] kdahlquist opened #322 "Redo Figure 4 to be consistent with new beta UI"
Now that we've hidden the data menu, we should probably redo the screenshot for Figure 4 to reflect this.

If we end up with buttons on the page that control display of the edge weights, that would be another reason to redo the screenshot.  #284, #285.

[2016-08-10 05:09] kdahlquist commented on #284
Actually, upon re-reading our documentation and manuscript, I think the menu item should go in the Format menu (for this and #285).

[2016-08-10 05:50] kdahlquist commented on #314
Question:
I'm looking into the FAIR standards for writing the discussion and have a couple of questions about the GraphML format.
1. is there any way to encode a data usage license into the GraphML (like specifying CC-BY or something)
2. is there any way to encode the provenance of the data exported
    for example, "Data exported with GRNsight v1.16" and a URL to the release or something?
3. By v

[2016-08-10 07:03] dondi commented on #314
I’ll have to look deeper into the GraphML spec for a definitive answer. If there is no direct support (such as metadata elements or attributes), we can fall back on a comment block.

Also, the variability in vocabulary that we are seeing is outside the XML definition. There _is_ a specific GraphML schema available. The issue is that the schema itself defines this generic `key` mechanism which turn

[2016-08-10 08:55] dondi commented on #284
So in the end I managed to let the weights on top of all nodes and edges, but still appear individually. It took a little more code but not as much as I initially anticipated, so that’s the version that is up now. The "hot" zones over the edges have also been expanded so it is easier to mouse over the thin ones.

I didn’t refine things further pending validation of this updated overall approach, b

[2016-08-10 08:56] dondi commented on #321
Yes, I was able to implement a check for `y:NodeLabel` and it is up in `beta`. One question though: if all three keys so far seen are present—`shared name`, `name`, and `y:NodeLabel`—what should be the priority for reading them? (right now, `name` gets top priority, followed by `shared name`, then `y:NodeLabel`, then `id`)

[2016-08-10 08:56] dondi commented on #310
OK, this has been implemented and posted. I was not able to do an actual import into yED, but I did visually inspect an export and noted the XML elements as spec'ed above. The presence of those elements is also tested for in the unit test suite.

[2016-08-10 16:43] kdahlquist commented on #310
The v1.17 beta that is posted right now won't export weighted networks to either GraphML or SIF.  Unweighted networks export fine.  I'll proceed with testing the unweighted ones, hopefully it's an easy fix to get the weighted ones to export again.

[2016-08-10 16:50] kdahlquist commented on #310
I successfully exported an unweighted network from GRNsight to GraphML and loaded it into both Cytoscape and yED.  The name showed up as expected in both programs.

I'll need to test the weighted networks before closing this.

[2016-08-10 16:57] kdahlquist commented on #321
A manually created network in yED exported to GraphML isn't loading in v1.17.

The text "Object]" is appearing in the upper left corner and no network appears.

The filename is appearing in the menu bar and the correct node and edge count is appearing, just not the graph.

[2016-08-10 16:58] kdahlquist commented on #321
Oh, and to answer your question, I think the priority you have set for reading the names/labels is OK.

[2016-08-10 17:03] dondi commented on #310
OK, export to weighted networks is fixed now. Reload the beta page.

[2016-08-10 17:05] dondi commented on #310
The issue was an unexpected interaction between exporting weighted graphs and the mouseover of weighted networks. Adding the weights to the graph did something to the network data structure that interfered with export. The unit tests unfortunately did not capture this because the weighted graph mouseover is a GUI function that we don’t have unit test support for. Ah well, unexpected consequences a

[2016-08-10 17:08] dondi commented on #321
I’ll need to see the manual file to troubleshoot this, particularly the `data` element. I uploaded a test yED GraphML file to _test-files/import-samples_ (taken from http://docs.yworks.com/yfiles/doc/developers-guide/graphml.html). That is the model I used for the import routine.

[2016-08-10 17:57] kdahlquist commented on #310
OK, this checks out.  Weighted networks now export and import correctly into both Cytoscape and yED.

[2016-08-10 17:57] #310 closed

[2016-08-10 18:00] kdahlquist commented on #321
Here's the file.

[4-node_4-edge_manual-yED_20160810.zip](https://github.com/dondi/GRNsight/files/411777/4-node_4-edge_manual-yED_20160810.zip)

[2016-08-10 18:02] kdahlquist commented on #284
I've verified that these work now on both Firefox and Chrome on Windows 7.  I think it looks pretty good.  We can discuss whether to close this or do more tweaking at our meeting a little later.

[2016-08-10 19:19] dondi commented on #321
OK, so the issue turns out to be the possibility that a yFiles node label may itself contain subelements. I’ve updated the import code to accommodate this.

[2016-08-10 20:28] kdahlquist commented on #321
Confirmed to work!

[2016-08-10 20:28] #321 closed

[2016-08-10 20:31] kdahlquist commented on #314
In the interests of FAIR, we want to add a comment to the GRNsight-exported GraphML:

Exported by GRNsight v1.16. http://dondi.github.io/GRNsight/ link to the release time/daystamp

[2016-08-10 20:37] kdahlquist commented on #284
With the new way of implementing this, @dondi make the weight appear near the mouse pointer, like the tooltip used to do.

Further tweaks to the styling can be done later.

[2016-08-10 20:50] kdahlquist commented on #285
This is an "if there's time" task.  We need to prioritize the tasks needed to submit the revised manuscript.

[2016-08-10 20:57] kdahlquist opened #323 "Tasks for release v1.18"
- [x] merge display-weights branch into master
- [x] tag that version as v1.18
- [x] create draft release item on Github repository
- [x] publish GitHub release item
- [x] publish release to GRNsight home page (update version number and modified date)
- [x] increment beta to v1.19 (update version number and modified date)
- [x] update npm (check to see that BioJS updates)
- [x] screenshot for Fig

[2016-08-10 20:58] kdahlquist commented on #313
We will release v1.18 #323 without an intermediate v1.16.

[2016-08-11 08:34] dondi commented on #314
This has been implemented and placed on beta. I leapfrogged to v1.18 though, since that is the version we anticipate releasing (import-export + displaying weights). Once we are back to a long-term development track, we can keep the release branch at v1.18 but bump the beta branch to v1.19 when exporting. (unless you had other thoughts on how to proceed)

[2016-08-11 08:36] dondi commented on #284
OK, got this done, but in doing so I concluded that this makes #285 a touch more complicated than originally anticipated. With the weight now appearing under the mouse when a mouse crosses an edge, the option of "show all weights" becomes more complicated to implement because the weights would then need to be repositioned plus the mouse-based positioning logic would need to be turned off.

The pos

[2016-08-11 08:55] kdahlquist commented on #284
Looking good.  My only comment is that when the weights appear, the arrowhead changes to the insert cursor, but I can live with that.  The weight tracks with me tracing the edge with my mouse and even responds correctly when edges cross (momentarily displaying the other weight).

It's good to know that #285 is in the wings, but I agree, it's late and we still have a lot of tasks to get done for su

[2016-08-11 08:55] #284 closed

[2016-08-11 08:59] kdahlquist commented on #314
I'll check the functionality in the morning when I can pay more attention to detail.  I assume that you are somehow detecting versions automatically when exporting.  It seems like a lot of work to manually adjust that at release time (it seems like it would be easy to forget, like the last modified date on the web pages.)  Otherwise, yeah, we were going to release v1.18 next.

[2016-08-11 09:35] kdahlquist commented on #278
Work tonight:  added discussion of F, A, and I of FAIR to manuscript.  Wrote executive summary section of response to reviewers, did a little minor reformatting.

Note to self:  situated knowledges: https://conceptsinsts.wikispaces.com/Situated+Knowledges+(Schaffer)

[2016-08-11 17:56] kdahlquist commented on #314
I've verified that the comment with the version, and two URLs has come through in the GraphML export from both Firefox and Chrome.

I note that there was no date/timestamp, however.

In the interests of time, I'm willing to let go of that--we need to move on to the release tasks #323.

I did one final round of checking the following for all the demo files and options:
GRNsight-->SIF-->BioTapestry,

[2016-08-11 17:56] #314 closed

[2016-08-11 18:07] kdahlquist commented on #231
Is this issue closable now due to the work on #286?

[2016-08-11 18:24] dondi commented on #314
Ah yes forgot to mention---the date/timestamp was tricky because it's hard to unit test. Additional code will need to be written to assert that the comment is present but either ignore a discrepancy in the date/timestamp, or somehow anticipate what the date/timestamp should be (reading the date/timestamp first and then invoking the export is not guaranteed to match because the test might cross a t

[2016-08-11 18:29] dondi commented on #284
OK, the cursor has been changed; you can just reload the beta page to see it.

[2016-08-11 18:30] dondi commented on #231
Ah yes, #286 accomplished this. Closing.

[2016-08-11 18:30] #231 closed

[2016-08-11 18:46] kdahlquist commented on #284
Looks good!

[2016-08-11 19:23] dondi commented on #323
…well, release item is created but still in draft form https://github.com/dondi/GRNsight/releases/tag/untagged-42c03dc1512f68a09455

[2016-08-11 19:39] kdahlquist commented on #321
I'm not going to reopen this, but I think I've discovered how yED encodes it's weight values in GraphML.  I'm working on the response to reviewers and got to the part where I describe opening an Excel file in yED.  The import wizard allows you to specify an "Edge Value", which is the weights in our adjacency matrix.  These then get encoded as

    <key attr.name="Edge Value" attr.type="double" for

[2016-08-11 19:47] dondi commented on #321
Interesting, that would have been a no-brainier had they set `attr.name="weight"` because then, we'd already be handling it! But no they had to change up the vocabulary. Oh well. Yes, conceptually shouldn't be hard, but due to the change in attribute name it will require additional code so yes, save for another day.

[2016-08-11 19:54] kdahlquist commented on #323
I tweaked the language a bit, but I think it's a go when you are ready.

[2016-08-11 20:55] dondi commented on #323
Bleagh just realized that npm _requires_ a minor version, even if it is zero (i.e., v1.18.0 and not just v1.18). Oh well; stuff was already tagged and released publicly, and this did require a commit, so we are nominally on v1.18.1 where the only change is this version adjustment.

https://www.npmjs.com/package/grnsight

[2016-08-11 21:03] kdahlquist commented on #323
You couldn't have incremented it to v1.18.0?  Just wondering.

[2016-08-11 21:49] dondi commented on #323
Yes, I technically could have, but then the tag/version state would have been weird. Semantically, v1.18 is the same as v1.18.0. But adding the ".0" would have required a commit, and then I would have had to either move the v1.18 tag up or made the new commit a v1.18.0, both of which didn't sit right with me (the former because the tag had already been published; the latter because then we would h

[2016-08-11 21:54] kdahlquist commented on #323
I get it.  It's ironic that npm is requiring the third number by the MATLAB compiler excludes it!

[2016-08-11 22:04] dondi commented on #323
I guess that means MATLAB won’t find its way to npm anytime soon :-D

[2016-08-12 00:08] kdahlquist commented on #278
The response to reviewers is essentially done and pushed to master.  @dondi, please take a look.  Three things to look out for:
1. My discussion of GraphML in terms of the technical language
2. A reference to Tufte (highlighted in greeen)
3. I think I captured all of our discussion from yesterday, but especially please look it over for tone.

There is one section that I have not completed which ha

[2016-08-12 00:33] dondi commented on #278
There are some Tufte quotes from [this section of the Wikipedia page on Data Visualization](https://en.wikipedia.org/wiki/Data_visualization#Characteristics_of_effective_graphical_displays) that may fit the bill (they are cited to the primary source in case we use them). In particular is the conclusion of the bulleted quote, which says “Graphics _reveal_ data. Indeed graphics can be more precise a

[2016-08-12 10:49] dondi commented on #278
OK, modifications/revisions have been made to the cover letter, reviewer response, and text-only paper. I turned on Track Changes on all documents to make it easy to spot differences:

- For the cover letter, I deleted the unfinished feature regarding bounding box size.
- Most of the revisions are in the reviewer response document. Primarily, I added some GraphML detail, wrote up a Tufte/Card/Mack

[2016-08-12 11:00] dondi commented on #323
Unit test and Istanbul numbers have been updated, and can be found in the text-only revised manuscript and ...Table1... files, respectively.

[2016-08-12 11:00] dondi commented on #322
This has been pushed to the _figures_ folder under PeerJ.

[2016-08-12 16:24] kdahlquist commented on #322
A couple of comments:
1. I would rather that this new version not replace the previous one in the repository.  I would like there to be an easily accessible record of what was originally submitted (v1).  I started a new folder for revisions so that the revised version would be separate from the original submitted version, can you put the revised figure 4 there and restore the originally submitted

[2016-08-12 16:53] kdahlquist commented on #322
I guess the same comment applies to Table 1 as well with regards to preserving the submitted version.

[2016-08-12 17:19] dondi commented on #322
OK, the prior files have been restored and the new versions are in the _revisions/_ folder under the same filenames. The version with no manual manipulation has the same filename but with _-auto_ appended to it.

[2016-08-12 17:40] kdahlquist commented on #322
Thanks.  I'm going to close this one.

[2016-08-12 17:40] #322 closed

[2016-08-12 17:43] kdahlquist commented on #323
Confirmed.  I rounded the table percentages to only one digit and pushed.  Cross that task off...

[2016-08-12 21:54] dondi commented on #323
I figured it would be safer to post the latest analytics numbers here rather than editing into the paper, since you may be working on it (I just copied the text and revised the updated values):

As a reminder for how to acquire these numbers: once logged in to Google Analytics:
1. Adjust the query date range to start from September 1, 2014 (actually any date before September 18 will do)
2. Go to B

[2016-08-12 22:04] kdahlquist commented on #323
Thanks.  I am still working on the manuscript.  I think I've got the intro and biological interpretation sections the way I want them.  Still need to work on the discussion and FAIR.  I've added these numbers and pushed what I've got so far.  I'd like your take on my new intro if you have a chance.

[2016-08-12 22:59] dondi commented on #323
OK, I gave the latest Introduction a once-over. The whittling down of downloadable applications vs. web applications is a good broad stroke; then the specific disqualifiers for the chosen applications sounds like sufficient due diligence to me. Plus the additional circumstances that drove our final track come out a lot stronger.

One early flag that came to me was the mention of the Pavlopoulos su

[2016-08-12 23:02] kdahlquist commented on #323
Thanks for this.  I'll try to add it to the discussion as another way to state the one thing well.  We did reference a blog post for one thing well, so I'm not averse to using another one here.  We've got a pretty high number of URL citations anyway because of the links to code and documentation, etc.

[2016-08-13 00:01] dondi commented on #317
It turns out that there is code for doing that already available:

https://github.com/dondi/GRNsight/blob/gh-pages/assets/js/main.js#L73-L83

Despite this, it does not consistently work in the Documentation page, as described in #316. So this task is less about writing new code and more about determining why the Documentation page links don't behave consistently, then making fixes as needed.

[2016-08-13 00:14] kdahlquist commented on #278
I've got to go home.  I'm not finished, so I'll definitely need tonight and tomorrow to get all of this wrapped up.  I'll see what I can do tonight, but most likely I'll be in the office tomorrow.  I've pushed what I've got so far.  The FAIR discussion is long and rambly still and I need to clean it up.  The problem I am having is that if I do it justice, it has to be long.  I also added some stuf

[2016-08-13 08:57] dondi commented on #278
OK, I have done a read-through of it, and pushed revisions/wordsmithing/comments via track changes. Ultimately I did not change much; the early portion feels pretty solid and flows well. The latter sections have a little more, but in the end I did not see any dealbreakers, just minor tweaks and wordsmithing. Hope this last push goes well!

[2016-08-13 16:51] kdahlquist commented on #278
OK sounds good.  I'm in the office.  I'm going to finish this off and submit.  I'll post updates on my status here.

[2016-08-13 17:23] kdahlquist commented on #323
Moar tasks:
- [ ] update version at Elixir,
- [ ] update version at bioinformatics.ca
- [ ] update version at bioinformatics.org
- [ ] we probably need to create a wiki page listing tasks for release so we don't keep having to write up this issue from scratch each time (especially as the task list grows...)

[2016-08-13 18:23] kdahlquist commented on #283
Note to self about GraphML section: We are not using a bunch of options (nested networks, undirected networks)...

[2016-08-13 19:16] dondi commented on #323
I updated the version at Elixir, but it seems that "update" actually means "make a copy with the new data." So now GRNsight has one entry each for v1.12 and v1.18. Should I delete the former?

[2016-08-13 19:21] kdahlquist commented on #323
Yeah, I guess we should delete it because it is no longer available.  That sucks, though, in terms of having a "history" with the site.  We can mention it to the developers as an issue.

[2016-08-13 19:24] dondi commented on #323
OK, v1.12 entry has been deleted. I agree, their chosen behavior is not what I (nor most users) would expect.

[2016-08-13 19:55] kdahlquist commented on #278
I've pushed the latest revision.  I'm going to eat lunch and go through it one last time for (hopefully) minor tweaks, and then fix the references.

If @dondi has time, you could look at the FAIR stuff, especially the interoperability section to make sure that I didn't screw up the discussion of GraphML.  However, if you don't have time, I'm fairly (ha, ha) confident it's OK.

[2016-08-13 22:10] dondi commented on #278
Sorry, wasn’t able to sit with it until now but just wanted to let you know I’m looking at the FAIR section at the moment. You are likely working as well so let me know what may be the best way to integrate any changes I might find. I’m thinking that maybe I should just email you my version rather than committing, in order to avoid conflicts.

[2016-08-13 22:21] kdahlquist commented on #278
No worries.  Just pushed my last wordsmithing.  I'm now working on the references.  You could e-mail if the changes are extensive or comment here, whichever is easier.

[2016-08-13 22:26] dondi commented on #278
Ah OK. It looks like I am working on the latest version then—the most recent commit that I see is "finish discussion of FAIR principles." In that case, I have been revising the latest version and so it looks safe to send this one via commit/push when I am done with it.

[2016-08-13 22:31] kdahlquist commented on #278
no--there should be one more version

[2016-08-13 22:31] dondi commented on #278
Oh....not seeing that commit on the GitHub website then.

[2016-08-13 22:32] kdahlquist commented on #278
Sorry, typed my password wrong and it didn't push.  Try now.  If you e-mail me your changes, I'll incorporate.  Probably easier all around.  My changes were all wordsmithing, so we may have touched the same things.

[2016-08-13 22:33] dondi commented on #278
OK got it. Will email instead.

[2016-08-13 22:50] dondi commented on #278
Email sent (with attachment, adding my name to the end to avoid confusion).

[2016-08-14 00:45] kdahlquist commented on #278
Got to the final stage of uploading everything and saw that they require a manuscript with tracked changes.  I had overlooked this, thinking that they wanted a rebuttal letter *or* a tracked changes manuscript.  I'll have to generate this manually looking at the two versions.  I think I need to go home for dinner; I'll do this later tonight.  We've got about 13-14 hours left on the clock...

[2016-08-14 02:28] kdahlquist commented on #278
Forgot to upload new screenshot figure, too.

[2016-08-14 03:03] dondi commented on #278
Arg, so sorry to hear about these last glitches…but at least it looks pretty close now.

[2016-08-14 05:19] kdahlquist commented on #278
My little one is finally asleep so I'm on the home stretch.  Next update when it's submitted.

[2016-08-14 06:10] kdahlquist commented on #278
IT IS SUBMITTED!!!

Reviewing PDF pushed to repository here:  https://github.com/dondi/GRNsight/raw/master/documents/manuscripts/peerj-computerscience-2016/revisions/peerj-reviewing-10823-v1.pdf

Resisting the urge to close this issue: instead will change label from priority 0 to ongoing.

[2016-08-14 06:28] kdahlquist opened #324 "Revisiting semantic versioning"
I had a thought that we should be in the habit of using all three numbers for semantic versioning so that we won't forget the third number in the future when releasing (so npm and biojs can be updated).a

That means that we should add the third number to the beta as in 1.19.0 or 1.19.1.

The advantage to this is that we can update the third number on beta as new versions are made live for testing

[2016-08-14 06:43] dondi commented on #278
YES! Cheers and a big exhale :)

True, sounds appropriate that we keep this open until it is truly and officially published. But for now, kudos on the accomplishment and now it's out of our hands 💯

[2016-08-14 06:59] dondi commented on #323
The [release procedure wiki page](https://github.com/dondi/GRNsight/wiki/Release-Procedure) has been created. This link has also been added to the wiki home page.

[2016-08-14 07:01] dondi commented on #324
True, that use of minor versions to track betas-in-progress will be useful. Using all three numbers when called for is no problem. It just looks redundant when the trailing values are zeroes.

[2016-08-14 07:15] kdahlquist commented on #324
Yes, but I think consistency (and aiding our memory) trumps redundancy in this case.

[2016-08-14 07:54] kdahlquist commented on #283
Basics for GraphML are at least there on the page.  It needs a lot of further detail that can be pulled from the manuscript and response to reviewers, but that can wait a little.

[2016-08-14 07:56] kdahlquist commented on #313
Hey--this can be closed!

[2016-08-14 07:56] #313 closed

[2016-08-14 07:57] kdahlquist commented on #265
Need to investigate if there is a better time that will fit with @dondi's schedule.

[2016-08-14 07:58] kdahlquist commented on #274
I don't think we need this now.

[2016-08-14 07:58] #274 closed

[2016-08-14 08:00] kdahlquist commented on #155
This is superseded by #290 and #291, so closing this one.

[2016-08-14 08:00] #155 closed

[2016-08-14 08:04] kdahlquist commented on #154
This has been superseded by work done on #284, so closing.

[2016-08-14 08:04] #154 closed

[2016-08-16 21:45] kdahlquist commented on #323
I updated the release wiki page because we don't actually need to update bioinformatics.org or bioinformatics.ca pages.

[2016-08-16 21:57] kdahlquist commented on #323
I reported the version issue with Elixir to the developers.  I think that's the last "open" thing about this issue, so I'm closing.

[2016-08-16 21:57] #323 closed

[2016-08-16 22:03] kdahlquist commented on #278
The submission passed staff checks (actually as of yesterday) and has been passed to the Academic Editor.

[2016-08-17 20:37] kdahlquist commented on #278
Noticed that updating our preprint with the revised version of the manuscript was not automatic.  I've e-mailed to get instructions on how to proceed.

[2016-08-17 22:39] kdahlquist commented on #283
I have finished fleshing out the description for GraphML, section 1d.  @dondi, will you please review for accuracy and formatting.  I want to make sure that I got the descriptions right and that I used italics vs. code formatting correctly.  Thanks.

[2016-08-17 23:08] kdahlquist commented on #278
So, submitting revisions to the Preprint are manual.  I just submitted the revised version.

[2016-08-18 18:56] kdahlquist opened #325 "Consider adding Code of Conduct to GRNsight"
We should consider adding a Code of Conduct to the GRNsight project.  Let's discuss this at an early face-to-face meeting this semester.

See:  http://contributor-covenant.org/

[2016-08-18 18:59] kdahlquist opened #326 "Update state diagram/automatic client-side test generator"
I am thinking that our state diagram might need to be updated due to the changes we made for importing/exporting SIF and GraphML.

[2016-08-18 21:24] kdahlquist commented on #278
The new version of the preprint is live!  https://peerj.com/preprints/2068/

[2016-08-19 23:02] dondi commented on #278
I've gotten my basic membership, and I just wanted to report that the payment page that I saw had the full list that you mentioned.

[2016-08-22 06:03] dondi commented on #283
I’ve reviewed sections 1d (and 2c for good measure). They’re all on point, and I applied just a few tweaks for clarification and detail. If you want to see what I changed, see the highlighted portions of these commits (changes to words and phrases within a line are in bright pink/green, whereas changed lines themselves are more pastel-ish): https://github.com/dondi/GRNsight/commit/0959bf2e701f26bb

[2016-08-22 06:04] dondi commented on #283
I think we can close this if the changes are to your liking. I didn’t feel that my edits were super-critical either, so if you want to change anything back, go ahead and then close when finished.

[2016-08-22 19:06] kdahlquist commented on #283
This is great.  I forgot to make the point about the GraphML imported won't be the same as the GraphML exported, thanks for catching that.

And yes, I'm glad to finally close this one!

[2016-08-22 19:06] #283 closed

[2016-08-22 19:10] kdahlquist commented on #278
The GRNsight paper has been accepted for publication!  Congratulations to us all!

The next step is a list of Production Tasks from the PeerJ staff and after we complete that, the proofs.

A reminder to @bengfitzpatrick to pay the membership fee ASAP; I'll take care of mine today.

[2016-08-22 20:19] dondi commented on #278
Woohoo! 👍 💯 That was pretty good turnaround. Hope the Production Tasks are largely by-the-numbers type work that we can just power through. Release party release party release party 🍻🍷🍸🍹🍾

[2016-08-23 18:04] kdahlquist commented on #278
I confirmed with the publisher that we would like to publish the reviews and response to authors with our article.  The production editor says that we should receive the proofs in about 10 business days.

[2016-08-24 20:21] kdahlquist commented on #265
It looks like Mondays at 3:45 is going to be a better fit.  Let's all meet in @kdahlquist's office on Monday, 8/29 at 3:45 PM for our first meeting of the semester.

[2016-08-24 20:21] kdahlquist commented on #324
If we bump the beta to 1.19.1, then I think we can close this with the understanding that we will always use three numbers in the future.

[2016-08-24 21:26] kdahlquist commented on #324
There are three package.json files that need to be updated.  @dondi can edit those in beta.

[2016-08-24 21:43] kdahlquist commented on #291
This is most natural for a tree; when there are loops it needs to be thought-through.

[2016-08-24 21:47] #280 closed

[2016-08-24 21:48] #291 closed

[2016-08-24 21:52] kdahlquist commented on #60
This is so far in the future as a direction, we are going to close this one for now.

[2016-08-24 21:52] #60 closed

[2016-08-24 21:55] kdahlquist commented on #47
This requires the implementation of an entire new framework, which is far future work.

[2016-08-24 21:55] #47 closed

[2016-08-24 23:07] kdahlquist commented on #225
I'm going to close this because I'm just not going to get to this.  I'm labeling it with "backlog" to indicate I'll come back to it if I have time.

[2016-08-24 23:07] #225 closed

[2016-08-24 23:08] kdahlquist commented on #156
I'm going to close this because I'm just not going to get to this. I'm labeling it with "backlog" to indicate I'll come back to it if I have time.

[2016-08-24 23:08] #156 closed

[2016-08-24 23:08] kdahlquist commented on #182
I'm going to close this because I'm just not going to get to this. I'm labeling it with "backlog" to indicate I'll come back to it if I have time.

[2016-08-24 23:08] #182 closed

[2016-08-24 23:08] kdahlquist commented on #210
I'm going to close this because I'm just not going to get to this. I'm labeling it with "backlog" to indicate I'll come back to it if I have time.

[2016-08-24 23:08] #210 closed

[2016-08-24 23:29] kdahlquist commented on #319
I have moved this over to the links page on the wiki here:  https://github.com/dondi/GRNsight/wiki/Links

[2016-08-24 23:29] #319 closed

[2016-08-25 23:53] kdahlquist commented on #278
Proofs are here.  @dondi and I will review and return ASAP.

[2016-08-26 15:32] kdahlquist opened #327 "iframe doesn't display if https is used instead of http in home page web address"
This is something weird that I discovered when checking the proofs of our manuscript.

One of the URLs in the paper used https instead of http for the GRNsight home page address.

When you do this, the page comes up, but the iframe is blank (no menu bar, sliders, bounding box).

I'm not sure if this matters or not (I'm going to ask them to fix the proofs), but I'm reporting it, in case we can fix

[2016-08-26 16:35] dondi commented on #327
Yes, I can explain this. The latest browsers implement a rule that an https website must only use https resources. Our internal web client at grnsight.cs.lmu.edu serves up just http, while GitHub Pages can serve up both http and https. Due to this relatively new browser rule, we should stick with http across the board. Ideally we should also turn off https for GitHub Pages so that people don't stu

[2016-08-29 19:19] dondi commented on #278
OK, the updated architecture diagram is there, in _revisions/figures_.

[2016-08-29 19:38] kdahlquist commented on #278
Got it, although now I'm wondering whether the export to SIF and GraphML somehow needs to be annotated on this as well.  I can ask them for another day if this is too much to deal with right now.  I'd rather take the time and get it right than rush it.  Let me know.

[2016-08-29 19:59] dondi commented on #278
OK, let me see if I can get to it when I'm back in the office. Shouldn't take too long, though I'll note that in terms of connections, it would be more like the JSON goes back to the server which then produces the exported file. So this will entail new edges, and not relabeling of existing ones.

[2016-08-29 20:01] kdahlquist commented on #278
OK.  I thought it might be a little more complicated.  Like I said, I can ask for another day if need be.  It's more important to get this right than to rush to get it back today.

[2016-08-29 20:33] dondi commented on #278
OK, I managed to put something up there but will need to finalize my course prep now. Maybe it’s good to ask for that extra day anyway because I made some choices on this version that might need revision or discussion. Take a look and see how it strikes you.

[2016-08-29 21:10] kdahlquist commented on #278
At first glance, it looks OK.  But, I am going to e-mail PeerJ and ask for the extra day so that we have a chance to talk about it later at the GRNsight meeting.

[2016-08-29 23:22] kdahlquist commented on #325
Everyone should read and at our next meeting we will vote to adopt this.

[2016-08-29 23:25] kdahlquist commented on #326
@mihirsamdarshi is going to consult with @NAnguiano to work on this.

[2016-08-29 23:26] kdahlquist commented on #285
@anuvarsh will meet with @dondi to get this started.

[2016-08-30 16:53] NAnguiano commented on #325
I've read over the Code of Conduct and think it would be a great addition to GRNsight.

[2016-08-30 16:56] NAnguiano commented on #265
I'll be most likely breaking my 4-hour time into 2 2-hour timeslots so I can meet with both Anu and Mihir separately since it doesn't look like we all have a time that overlaps. I can meet on Monday after 11:10am and Tuesday/Thursday after 12:50pm. @anuvarsh @mihirsamdarshi What times would work for you?

[2016-08-30 20:00] anuvarsh commented on #265
I will be coming on Mondays after 12:30pm. Because of Labor day, next week I will come in on Tuesday and Thursday for 2 hours each day.

[2016-08-31 06:58] dondi commented on #278
OK, I finally managed to get some sit-down-and-tweak time with the diagram, and I’ve pushed what I could manage. I couldn't get the edges to curve exactly as in the sketch, but the diagram is still an improvement from before.

As for a revised caption, how about:

[2016-08-31 16:33] kdahlquist commented on #278
Thanks, it looks good.  I'll get this submitted later today.

[2016-08-31 21:55] kdahlquist commented on #278
The annotated proof, revised Figure 3, and document explaining the changes have been uploaded to PeerJ.

[2016-09-01 00:24] kdahlquist commented on #265
Reminder to @mihirsamdarshi to schedule your research time.  It looks like @NAnguiano and @anuvarsh can both work on Mondays after 12:30--are you also available at that time?

[2016-09-05 21:25] anuvarsh commented on #325
I've read over the Code of Conduct, and absolutely agree to add it to GRNsight.

[2016-09-05 22:36] mihirsamdarshi commented on #325
I agree that it would be a good add.

[2016-09-05 22:40] mihirsamdarshi commented on #265
I'm likely going to come in Mondays after 2 pm, and if I need extra time, Wednesdays and Thursdays after 1:30.

[2016-09-05 22:48] mihirsamdarshi commented on #326
Looked over current diagram, now trying to figure out where to put the new functionality, and how it would likely fit into the current diagram.

[2016-09-07 00:24] NAnguiano commented on #265
Ok, I'll come in at 12:30 on Monday. Does the meeting count as an additional hour, or do you want all coding time to occur outside of the main GRNsight meeting? 12:30 to 4:30 would be 4 hours, but the meeting takes an hour of that. If not, I'll stay until 5:30.

[2016-09-07 01:33] anuvarsh commented on #285
I met with @dondi and we outlined a basic game plan about how to start this project. The first step will be to create a new menu item that allows users to either always show or always hide weights. After reading and following Bootstraps navbar tutorial, I will go ahead and start working on the menu item.

[2016-09-07 01:39] NAnguiano commented on #204
Got this working on a separate branch ("issue204"). One test is failing because it's taking too long to run, but the rest pass.

[2016-09-07 03:27] kdahlquist commented on #265
There's  some  flexibility, but ideally there would be 4 hours of coding outside of the meeting.

[2016-09-07 03:29] kdahlquist commented on #265
@dondi , will you add @yshin4 to the GRNsight project?  @anuvarsh will coordinate with her to meet up and onboard the project.

[2016-09-07 04:59] dondi commented on #265
OK, invitation sent.

[2016-09-07 05:07] dondi commented on #324
Beta version number has been set to 1.19.1 in the package.json files and the website.

[2016-09-07 05:18] kdahlquist commented on #324
Confirmed (at least what I can see) and closing.

[2016-09-07 05:18] #324 closed

[2016-09-07 05:24] kdahlquist commented on #326
This is something @NAnguiano could possibly help with because she is the main architect of the diagram.

[2016-09-08 16:42] anuvarsh commented on #265
@yshin4 and I will meet on Monday around 1pm to walk through the code and introduce her to the project.

[2016-09-08 19:26] kdahlquist commented on #325
I'll proceed with adjusting the language and adding it to the project.

[2016-09-08 19:29] kdahlquist opened #328 "Add Jen to People page"
@yshin4, one of your first tasks will be to add your name to the People page on the website here:  http://dondi.github.io/GRNsight/people.html

Please follow the format of what you see there.

Please also move Nicole back to the Current Students list.

Finally, don't forget to update the last modified date.

@anuvarsh can show you how to do this on Monday when you meet if you have questions.

[2016-09-08 19:30] kdahlquist commented on #265
Having settled all the team meeting times, I'm going to close this now.

[2016-09-08 19:30] #265 closed

[2016-09-08 19:37] kdahlquist opened #329 "Task list for Week of 9/12"
Each week this semester, we will create an issue with a task list for that week.  I'm starting one for our next meeting on 9/12.

- [x] @anuvarsh and @yshin4 will meet for code walkthrough on Monday at 1:00 #265.
- [x] @yshin4 will add herself and make needed changes to the People page #328
- [x] @yshin4 needs to read and agree to code of conduct #325
- [ ] Issue #332, merging branches needs to be

[2016-09-08 23:22] kdahlquist opened #330 "@kdahlquist seminar and GRNsight release party Friday 9/16 3:00PM"
Due to scheduling issues, I'm going to give the Biology Department seminar next Friday, September 16 from 3:00 to 4:00 PM in the LSB Auditorium.  We'll have the GRNsight release party immediately afterwards on the LSB 2nd floor terrace.  Sorry for the late notice; I hope everyone can make it.  Please tell your friends!

[2016-09-12 16:23] kdahlquist commented on #278
It gives me great pleasure to announce that our article has been published!!!

https://peerj.com/articles/cs-85/

Spread the word about the seminar @kdahlquist is giving on Friday, September 16 at 3:00 in LSB 120 and the Release Party afterwards on the LSB 2nd floor terrace!

With a record 49 comments, I'm closing this issue :)

[2016-09-12 16:23] #278 closed

[2016-09-12 21:23] kdahlquist opened #331 "Journal club by @NAnguiano on Monday, 9/26, 3:00PM, LSB 118"
As part of her BIOL 367T independent study, @NAnguiano needs to give a journal club presentation.  We are scheduling this for Monday, September 26 at 3:00PM in the first floor conference room of the LSB, room 118.  I would like all GRNsight and GRNmap team members to attend, if you are available.

She will be presenting a paper relevant to both groups:

[Jacomy, M., Venturini, T., Heymann, S., & B

[2016-09-12 21:34] anuvarsh commented on #285
It appears as if Bootstrap CDN is down, so no changes in code can be observed for functionality. After reading the Bootstrap tutorial, however, I feel fairly confident about completing the menu item soon after Bootstrap CDN is back.

[2016-09-12 23:13] kdahlquist commented on #326
@mihirsamdarshi is redoing the diagram right now in Illustrator because the original program LucidChart @NAnguiano used maxed out the free version.

We need to look into other options like yED or Gephi for a diagramming tool that is scalable.  @mihirsamdarshi should take 15-20 minutes to evaluate each of those to see if they are viable in terms of ease of use and how the diagram will look.

[2016-09-12 23:21] kdahlquist commented on #300
Checker code needs to be moved out of Excel function.

* Don't change the unit tests first.
* Perform the refactor to see that tests don't break.
    * Figure out what tests can be performed when it is already JSON.
    * Ideally it would be all, but some things might be tied to the way the files are being read.
* Then can expand the test suite to include loading GraphML and SIF.

[2016-09-12 23:25] kdahlquist commented on #204
@NAnguiano reports that it is working.

We want the "one true beta" where issue204 is merged into beta and then merge master into beta.

[2016-09-12 23:37] kdahlquist commented on #285
@anuvarsh needs to cherry pick commits from display-weights branch on her computer because @dondi deleted the display-weights branch already.

[2016-09-12 23:39] kdahlquist opened #332 "Merge branches"
* @anuvarsh is going to cherry pick #285 from local display-weights branch into issue204 branch.
* then merge issue204 into beta
* then @mihirsamdarshi will make new branch from beta to work on the test refactoring

[2016-09-13 00:05] kdahlquist commented on #329
This is a reminder to everyone to post updates as a comment on whatever issues you are working on.  I've updated the task list on this issue, so please take a look at it.

[2016-09-13 02:45] yshin4 commented on #328
Done.

[2016-09-13 02:45] #328 closed

[2016-09-13 02:58] yshin4 commented on #325
I've read and agree.

[2016-09-13 04:20] kdahlquist commented on #328
@yshin4, in the future our process is to mark something with the label "review requested" when you are finished and to reassign it to either me or @dondi for review.  We then close issues at the meeting.  See you next week!

[2016-09-13 16:47] yshin4 commented on #328
Sorry about that! Will do so next time.

[2016-09-13 19:11] anuvarsh commented on #332
After speaking with @dondi, we decided that it will most likely be more efficient to just rewrite the code instead of cherry picking in this current situation. For that reason, @NAnguiano is free to merge issue204 with beta, and I will rewrite my code afterwards.

[2016-09-14 20:27] NAnguiano commented on #332
Before completing the merge, I'm going to first make sure beta's tests are passing so that I have a clean base to work with when I make the merge.

When I run a fresh npm install then make test, 46 tests fail.

In warnings-adjacency-matrix-modifications.js, the function invalidDataWarning is listed as not being a function. This causes 9 tests to fail, as they get "TypeError: test.invalidDataWarnin

[2016-09-15 17:08] kdahlquist commented on #330
This seminar will count as a Passport to Honors event for Seaver CSE students, spread the word.

[2016-09-18 03:31] mihirsamdarshi commented on #326
@yshin4 can you text me please 4087056761. imma delete this as soon as i get that.

[2016-09-19 19:58] kdahlquist commented on #330
The party was fun!

[2016-09-19 19:58] #330 closed

[2016-09-19 20:04] kdahlquist commented on #325
The code of conduct has been added.  I think we need to reference it on the About page.

Lets rearrange the collapsible sections and add a new one called "Code of Conduct".  The order of the sections should be:
* Availability
* Compatibility
* Release Notes
* Funding
* Privacy
* Code of Conduct

The Code of Conduct needs to be a new collapsible section.  The text inside the section should read:

T

[2016-09-19 20:48] anuvarsh commented on #332
The invalidDataWarnings have been fixed. For some reason, part of the warning function was hidden within invalidDataTypeError. I took out the portions of the function that were related to the warning and recreated the test function for the warning. Furthermore, in the spreadsheet controller, the warning was named invalidMatrixDataWarning, so I renamed the warning function in test.js to match for t

[2016-09-19 20:51] anuvarsh commented on #332
On that note, I think it might be worthwhile to at some point make sure that all of the variable names for the error and warning functions are good representations of whatever they are testing because as our testing suite has grown, several of these functions now have variable names that are very similar to each other.

[2016-09-19 21:24] yshin4 commented on #325
@kdahlquist  Do you want 'privacy statement' to be changed to Privacy?
Was wondering if that was a change you wanted to make as well or just a typo.

[2016-09-19 21:27] kdahlquist commented on #325
Good catch, it was a typo.  I'll revise the comment above about it.

[2016-09-19 21:31] kdahlquist opened #333 "Reduce white space one either side of gene label"
I've noticed this a few times now, but I think we need to reduce the white space on either side of the label in a node rectangle.  As the labels get wider, the white space does as well and it's using up too much real estate.  This is related to another issue #318.

[2016-09-19 21:51] yshin4 commented on #325
@kdahlquist  Please review.

[2016-09-19 22:38] anuvarsh opened #334 "npm packages not currently on package.json"
@NAnguiano and @anuvarsh discovered that the following libraries are not currently on the package.json and will need to be added:

* cytoscape
* xmlbuilder
* xml2js

We will also need to confirm with @yshin4 that these are the only libraries she needed to npm install individually when she set up the GRNsight repo on her machine.

[2016-09-19 22:50] kdahlquist opened #335 "Clean-up the test suite"
As @NAnguiano was working on merging branches #332, she noticed numerous issues with the test suite.  The group has decided that a clean-up of the test suite is needed before completing the merge, and thus before any of the other work.

[2016-09-19 22:52] kdahlquist commented on #204
All done except for the merging, so I'm going to close this.

[2016-09-19 22:52] #204 closed

[2016-09-19 22:54] kdahlquist commented on #326
@mihirsamdarshi will use yED and aims to have all the old stuff done by next week.

[2016-09-19 23:08] kdahlquist commented on #334
`npm install --save` will both perform the install and modify a package.json file if it finds one.

@yshin4 will post error she gets with npm install, and with jekyll

[2016-09-19 23:49] kdahlquist opened #336 "Task list for Week of 9/19"
As noted at the meeting, the testing suite needs to be audited before any further coding tasks.  Accordingly, the tasks for this week are:
- [x] #335 Clean-up test suite (all hands on deck)
- [ ] @mihirsamdarshi will continue work on updating state diagram with @yshin4 #326
- [ ] @yshin4 will figure out issue with npm install and verify what packages are needed #334
- [ ] @kdahlquist will review #

[2016-09-19 23:50] kdahlquist commented on #329
Migrated open tasks to new issue #336, so closing this.

[2016-09-19 23:50] #329 closed

[2016-09-26 23:06] kdahlquist commented on #334
@yshin4 should do the dev version of npm install.

[2016-09-26 23:12] kdahlquist commented on #335
Questions has arisen as to what is the threshold for errors that throw and error and don't load the graph vs. throw a warning and allow the graph to load.

@dondi suggests the use of a tuning parameter for "strictness".

In general, whenever need a threshold, express it in a variable.

[2016-09-26 23:18] kdahlquist commented on #335
Also, put yourself in the position of a user.  A typical user will click through warnings, so we don't want GRNsight to display something that is different than what is really there in the data.  This is also important for repeatable/reproducible research.

[2016-09-28 19:21] yshin4 commented on #334
Met up with @NAnguiano today to discuss & fix npm install issues.
Discovered that my node_modules file had way for files than @NAnguiano 's node_modules file.
Tried both Node 6.7 and 4.6 but got errors for both so seems to be not a Node problem.
For npm install -g --dev I got multiple errors and warnings which seemed to be repeating itself.

![k-20160928-444006](https://cloud.githubusercontent.com

[2016-09-28 19:21] yshin4 commented on #334
I think we need @dondi 's assistance for this problem.

[2016-09-28 20:24] dondi commented on #334
OK, find me in the office or lab sometime and we can work on this.

But in general when things get messy like this I typically just blow away the existing `node_modules` directory then start over. I would stay away from the `-g` ("global") argument and in fact if you’ve been using that, I suggest looking up where the global libraries are stored then erasing those also. That way things are clean an

[2016-09-28 20:30] dondi commented on #334
The only "downside" (if one might even consider it to be that) of the "no `-g`" approach is that you might have multiple copies of the same library in different locations on your computer. However, short of the extra space, sometimes even this is not a disadvantage because some projects might require different _versions_ of the same package, so you would need multiple copies anyway.

[2016-10-03 20:31] anuvarsh commented on #334
@NAnguiano and I were getting different results when running make test on the same commit. I deleted my node_modules and tried to npm install them all back, but I am getting a Segmentation Fault: 11. I also tried individually installing each of the dependencies according to what @NAnguiano had but I still received the same error.

This is particularly interesting because @yshin4 was getting the sa

[2016-10-03 22:34] anuvarsh opened #337 "Beta is giving 502 (Bad Gateway) on demos and uploads"
![image](https://cloud.githubusercontent.com/assets/8509674/19056542/b53c72a6-897e-11e6-8147-52db66f28a91.png)

See above

[2016-10-03 22:35] yshin4 commented on #334
Tried npm install in server and web client and found out package is missing
moment in addition to xmlbuilder and xml2js which already has been addressed.

[2016-10-03 23:20] kdahlquist opened #338 "Task list Week of 10/3"
- [ ] @mihirsamdarshi will continue work on updating state diagram with @yshin4 #326 (almost done)
- [x] @yshin4 will figure out issue with npm install and verify what packages are needed #334
- [ ] complete the merge #332.
- [ ] #339, handling of extraneous data in the test suite using strictness parameter
- [x] #337 bad gateway bug

[2016-10-03 23:21] kdahlquist commented on #325
confirmed and closing

[2016-10-03 23:21] #325 closed

[2016-10-03 23:22] kdahlquist commented on #336
moving unfinished tasks to issue #338 .

[2016-10-03 23:22] #336 closed

[2016-10-03 23:24] kdahlquist commented on #335
When it comes to extraneous data, started to implement a strictness parameter.  Extraneous data in columns is handled differently than rows.  Will start another issue for this.

[2016-10-03 23:24] #335 closed

[2016-10-03 23:24] NAnguiano commented on #331
The presentation has been done as of last week.

[2016-10-03 23:24] #331 closed

[2016-10-03 23:25] kdahlquist opened #339 "Handling of extraneous data in test suite using strictness parameter"
Working on implementing a strictness parameter for the handling of extraneous data in the network sheet according to the discussion from 9/26.

[2016-10-03 23:27] kdahlquist commented on #326
Almost done... @mihirsamdarshi, can you get this wrapped up this week?

[2016-10-03 23:40] kdahlquist commented on #334
@kdahlquist says make sure that the wiki documentation is up to date and that there is a protocol for how to use npm install for newbies that come to the project after you have all graduated.

[2016-10-03 23:41] kdahlquist commented on #334
@dondi says:  target case: fresh clone, npm install, that's it.

[2016-10-03 23:43] NAnguiano commented on #337
Beta initially had an out of memory error and had gone down. We should create a test that tests a file that would cause it to go out of memory and ensure that the server doesn't go down.

[2016-10-03 23:45] anuvarsh commented on #334
In order to fix this problem, @anuvarsh had to delete all node_modules at a global and local level, reinstall node, and then try npm installing everything onto a fresh clone of GRNsight.

[2016-10-03 23:56] kdahlquist commented on #334
@anuvarsh has a "virgin" bio department laptop for @yshin4 to use, if needed.  @anuvarsh will get with @yshin4 tomorrow (Tuesday) and see if they can get her up and running; if not, use the department laptop.

[2016-10-03 23:59] kdahlquist commented on #339
Since the next task for @mihirsamdarshi and @yshin4 will be to refactor the test suite for graphml and sif, #300, they should work with @NAnguiano and @anuvarsh on #339 so that they can get familiar with the test suite.

[2016-10-04 00:00] kdahlquist commented on #337
Should this issue be closed and a new one opened with the task @NAnguiano suggested in the previous comment?

[2016-10-04 05:24] dondi opened #340 "Create test(s) for out-of-memory error caused by some files"
As noted by @NAnguiano in #337:

Beta initially had an out of memory error and had gone down. We should create a test that tests a file that would cause it to go out of memory and ensure that the server doesn't go down.

[2016-10-04 05:24] dondi commented on #337
Agreed, and done.

[2016-10-04 05:24] #337 closed

[2016-10-04 19:22] yshin4 commented on #334
Tried completely deleting Nodejs and wiped the repo out and recloned/redownloaded both.
npm install was successful but installed more files in node_modules than it should have.
make test gave me an error.

![k-20161004-422905](https://cloud.githubusercontent.com/assets/16246811/19087929/ba92d6dc-8a28-11e6-9a44-08493ed02718.png)
![k-20161004-423120](https://cloud.githubusercontent.com/assets/162468

[2016-10-04 19:27] kdahlquist commented on #334
@yshin4 and @dondi, please find a time when the two of you can sit down and work this out sometime this week, so that @yshin4 can get past this hump and work with the group at their normal meeting time on Monday.  Thanks.

[2016-10-05 16:58] yshin4 commented on #334
@dondi, can i visit you at 1 today if you don't have any other appointments? I was going to go tomorrow but my 12:40-2:10 class got canceled today so I'm free during your office hours.

[2016-10-05 20:14] dondi commented on #334
Sorry just saw this—yes I should be available but a little later. Had to go grab some food. How late will you be around?

[2016-10-05 21:30] dondi commented on #334
@yshin4 is now unstuck, and with it comes an adjustment to the test command.

The blocking issue, which actually remains unresolved, is the `make` command on these machines. It is rejecting the scripted `mocha` command that is supposed to run.

@dondi ran the `mocha` command directly and everything worked (once the needed installs were added).

To circumvent `make`, @dondi has added the test comma

[2016-10-10 22:30] NAnguiano commented on #332
The merge has been done.

[2016-10-10 22:48] kdahlquist commented on #334
Need two more for both server and client package.json:
* express
* stylus

Please update and mark as review requested.

[2016-10-10 23:07] kdahlquist commented on #300
@yshin4 and @mihirsamdarshi will now start working on this issue.
- [ ] identify which errors are semantic and which are syntactic
- [ ] do the refactor to catch the semantic errors
- [ ] make the test files for SIF and GraphML that are not semantic

[2016-10-10 23:08] kdahlquist commented on #332
There is one true beta!

[2016-10-10 23:08] #332 closed

[2016-10-10 23:14] kdahlquist commented on #340
The current workaround is that @anuvarsh and @NAnguiano made a cap on the number of errors that the server could handle.  Right now it's set at 1000, but it could be changed.  Actually, I think anything over like 20 errors is sufficient to stop.  No one is going to look at so many errors.

If this avoids the error, this is sufficient to close this one.

The only issue is that if the out-of-memory

[2016-10-10 23:14] #340 closed

[2016-10-10 23:15] kdahlquist opened #341 "Improve server-side logging to capture the filename that crashes it"
From #340, the only issue is that if the out-of-memory error is caused by something else.  We don't have a sophisticated enough log on the server side that records the file that was being uploaded right when it died.

[2016-10-10 23:17] kdahlquist commented on #339
The current workaround is that @anuvarsh and @NAnguiano made a cap on the number of errors that the server could handle.  Right now it's set at 1000, but it could be changed.  Actually, I think anything over like 20 errors is sufficient to stop.  No one is going to look at so many errors.

We need to put language into the error message that says:

Your file generated >= x errors, so GRNsight stopp

[2016-10-10 23:28] kdahlquist commented on #159
@NAnguiano, after the last little tasks are completed for this week, this is the next in line for your attention.

[2016-10-10 23:49] kdahlquist commented on #159
The initial idea is to have a small box for a laptop sized screen, a medium box that maximizes the space of a 24" monitor (i.e., just a little bigger than what we have now), and a large one that you would need to either scroll or zoom to see all of it.

[2016-10-11 00:07] kdahlquist opened #342 "Task list for week of 10/10"
- [x] #326 @mihirsamdarshi  needs to complete the state diagram ASAP so he can move on to the next priority.
- [x] #334 @anuvarsh will finish up adding the last two packages to the package.json
- [ ] #339, @anuvarsh handling of extraneous data in the test suite using strictness parameter; need to add text to error message
- [ ] #285, once the other two tasks are completed, @anuvarsh will move onto

[2016-10-11 00:08] kdahlquist commented on #338
All open tasks have been shifted over to #342.

[2016-10-11 00:08] #338 closed

[2016-10-11 00:10] kdahlquist commented on #327
I'm going to drop this to a priority 1.

[2016-10-13 01:45] NAnguiano commented on #339
The cap on the number of errors somehow disappeared during the merge, so I reimplemented it with a cap of 20 errors. There isn't currently any text indicating that there is too many errors.

It's worth noting that this invalidates the warning message of the extraneousDataWarning. Since a large number of emptyRowErrors typically indicate extraneous data, the errors are removed and replaced with the

[2016-10-13 01:49] NAnguiano opened #343 "Create a warning for Cytoscape Graph Statistics Report Failure"
Whenever there is a special character in a file, cytoscape throws an error and graph statistics are not calculated. Right now, there is only a console.log that indicates that graph statistics failed to complete, but a proper warning should probably be created.

As far as I can tell, graph statistics are only not calculated in the event of a special character in a node name.

[2016-10-13 18:37] kdahlquist commented on #343
For clarification, the graph still displays, but it's just the graph statistics that aren't calculated?

What special characters are involved?  All of them? or are "-" and/or "_" exempt?

[2016-10-13 21:07] kdahlquist commented on #262
Is there a way to "comment out" the graph statistics code until we are ready to deal with it?  It's not a high priority right now and there are known bugs with it.  Thanks.

[2016-10-17 19:50] NAnguiano commented on #343
Yes. The graph displays properly, but the graph statistics aren't calculated. The special characters that throw errors seem to be everything but "-" and "_".

[2016-10-17 19:54] NAnguiano commented on #262
The graph statistics code has been commented out for now.

[2016-10-17 22:46] kdahlquist commented on #334
This was tested on Anu's newly wiped hard drive--closing!

[2016-10-17 22:46] #334 closed

[2016-10-17 22:49] kdahlquist opened #344 "@kdahlquist will organize developer_documents folder"
@kdahlquist will organize developer_documents folder

[2016-10-17 22:53] kdahlquist commented on #300
@yshin4 will put her list of semantic vs. syntactic errors on the wiki.

Then she and @mihirsamdarshi can divvy up the semantic ones and start refactoring them.

[2016-10-17 22:55] mihirsamdarshi commented on #326
done.

[2016-10-17 23:04] anuvarsh commented on #339
@NAnguiano updated the strictness to 20 errors, and I added the updated error message.

Because emptyRowErrors is the only error that doesn't immediately return the sheet (i.e. it continues checking the sheet for additional errors) the strictness parameter and error message were applied only to this error. Though this solved the problem temporarily, if in the future we added another error that did

[2016-10-17 23:24] kdahlquist opened #345 "Make bounding box/zoom/scrolling/size toggle-able"
To make design decisions for issue #159, @NAnguiano will make toggle switches independently for the following:
1. Size of box
2. zoom
3. scrolling
4. box constrains layout or "infinite" box

Once we can turn them on and off independently we can see what combinations of things do what and make further decisions.

Make check boxes on the UI so we can do live testing.

Bootstrap has default values fo

[2016-10-17 23:31] kdahlquist opened #346 "Task list for week of 10/17"
- [x] #339, @anuvarsh handling of extraneous data in the test suite last little niggling details
- [ ] #285, once the other two tasks are completed, @anuvarsh will move onto working on hiding or showing all the weights
- [ ] #300 @yshin4 and @mihirsamdarshi will move on to working on refactoring the test suite. @yshin4 will post her notes on syntactic vs. semantic on the wiki and she and @mihirsam

[2016-10-17 23:31] kdahlquist commented on #342
Outstanding tasks have been moved over to #346.

[2016-10-17 23:31] #342 closed

[2016-10-17 23:43] kdahlquist commented on #345
Also, see notes on #159.

[2016-10-19 17:26] yshin4 commented on #300
posted to wiki. Will meet with @mihirsamdarshi and discuss.

[2016-10-19 17:40] kdahlquist commented on #300
When you guys work on the dataTypeError, you should keep in mind issue #343 where @NAnguiano reported that the graph statistics function of Cytoscape won't allow special characters except for "-" and "_".  Even though GRNsight can now handle them, when we implement the graph statistics, it will become a problem.  It is probably better to just go ahead and restrict it now instead of waiting.  This

[2016-10-24 21:52] NAnguiano opened #347 "Reload is not functioning on beta"
The reload button does not appear to be doing anything on beta. I've tested on Firefox and Chrome. It does work on master, but not beta.

[2016-10-24 22:37] anuvarsh commented on #339
Both the error list and the warning list are capped at 20 and 75 respectively.

[2016-10-24 22:50] #339 closed

[2016-10-24 23:05] yshin4 commented on #300
Added specialCharacterError, will implement it in Try&catch in spreadsheet controller.

[2016-10-24 23:11] kdahlquist commented on #300
1. Create semanticChecker function
2. remove code from Excel and put it into semanticChecker function
3. call semanticChecker function from SIF and GraphML

@mihirsamdarshi should start with the Gene name length check because it is an easy one to do.

Also read the documentation page to get familiar with SIF and GraphML formats.

[2016-10-24 23:22] kdahlquist commented on #345
@NAnguiano has made some switches for the bounding box size, but reload isn't working #347 .  Want to reload the graph when box gets smaller.

When working on zooming, realized that D3 has moved on to version 4 and we're using version 3.  We will *NOT* upgrade to version 4 at this time.

Scrolling is implemented but is buggy when the screen has scroll bars, too.

Has not worked on infinite vs fini

[2016-10-24 23:53] kdahlquist opened #348 "Task List for Week of 10/24"
- [ ] #285, @anuvarsh will work on hiding or showing all the weights
- [ ] #300 @yshin4 and @mihirsamdarshi will work on refactoring the test suite. @yshin4 will work on creating the semantic test for excluding all special characters except for _ and -; @mihirsamdarshi will work on creating the semanticChecker function, moving the code testing for gene name length to the checker, calling it from S

[2016-10-24 23:53] kdahlquist commented on #346
Relevant tasks have been moved over to #348.

[2016-10-24 23:53] #346 closed

[2016-10-26 20:35] kdahlquist commented on #348
The GRNmap Data Analysis team is meeting next Monday (10/31) in LSB 118 (first floor conference room) at 3:00.  I thought we could do our meeting in there as well since it is immediately afterwards.  Also, if @NAnguiano has something to show us with regards to the bounding box, it would be good to see it on the big screen.

[2016-10-28 21:17] yshin4 commented on #300
Done coding in specialCharacterError function and implementing it in Try and Catch.
But I don't want to break anything so I'll check with other team members on Monday before pushing.

[2016-10-31 20:36] NAnguiano commented on #347
Reload is back. Somehow the event handler for the reload button disappeared and was no longer being attached. Fixing that fixed the issue.

[2016-10-31 21:41] yshin4 commented on #300
Implemented special character error.
Edited both spreadsheet controller and test files.

[2016-10-31 22:06] yshin4 commented on #333
Reduced white spaces for Nodes. Waiting for it to get applied.

[2016-10-31 22:49] NAnguiano commented on #345
Reload has been fixed, and the graph now reloads when the box size is changed. Scrolling also works now.

I can't seem to get zoom to do anything, so that's still in progress. After that will be working on the infinite/finite box.

[2016-10-31 23:08] dondi commented on #348
@mihirsamdarshi has defined the function but will get it to a working state before committing; @yshin4 has finished the modification for erroring out on special characters.

[2016-10-31 23:16] dondi commented on #348
Up next, @yshin4 will integrate her special characters check into @mihirsamdarshi's checker function. The tests should all still pass, plus SIF and GraphML files that have special characters in their nodes should now also be flagged for errors.

After this, @mihirsamdarshi will integrate gene name length checks into the function, and @yshin4 can work on network size.

[2016-10-31 23:22] dondi commented on #348
@NAnguiano will wrap up #347 by mimicking the reload behavior on master. This will eliminate the current redundancy in the beta fix.

[2016-10-31 23:36] dondi commented on #348
For #345, @NAnguiano indicated how the scroll wheel is overloaded for both scrolling and zooming. For various reasons we will use the scroll wheel exclusively for scrolling/panning and @NAnguiano will come up with a distinct control for zooming (e.g., slider, +/- button, magnifying glass, etc.).

For ease of feedback @NAnguiano may want to coordinate with @anuvarsh so that the deployed beta can be

[2016-10-31 23:36] kdahlquist opened #349 "Task list for week of 11/14 through 12/5"
- [ ] #285, @anuvarsh will work on hiding or showing all the weights
- [ ] #300 Up next, @yshin4 will integrate her special characters check into @mihirsamdarshi's checker function. The tests should all still pass, plus SIF and GraphML files that have special characters in their nodes should now also be flagged for errors.  After this, @mihirsamdarshi will integrate gene name length checks into th

[2016-10-31 23:37] kdahlquist commented on #348
all open tasks moved to new issue #349.

[2016-10-31 23:37] #348 closed

[2016-11-03 18:33] kdahlquist commented on #349
The GRNsight meetings will take place in LSB 118 for the rest of the semester.

We will be doing code review and demos on the big screen.

@mihirsamdarshi, please be sure to push your work either to the main GRNsight repo or to a fork so that we can see your work in progress at the meeting.

Don't forget to post a comment to your issues--see you Monday!

[2016-11-03 20:52] kdahlquist opened #350 "Scheduling Research next semester"
It's time to start thinking about scheduling research next semester, both our team meetings and the 4-hour time slots that you will work.

I don't quite have information about what time we will be able to schedule our research meeting, but I can tell you when it will _not_ be:
Monday 1:10-5:00 (@kdahlquist teaching)
Tuesday 9:40-10:55 (@kdahlquist, @dondi teaching)
Tuesday 11:30-12:30 (@kdahlquist

[2016-11-07 22:03] NAnguiano commented on #345
Got zoom working. It's just as a simple set of buttons currently, but the functionality should be able to work with any interface with relative ease. Moving onto infinite vs finite boundbox now.

[2016-11-07 23:15] anuvarsh commented on #285
Both the menu option and the side bar options have been implemented. I am currently working on the code that changes the selection at both locations if the selection changes at a single location.

[2016-11-07 23:33] anuvarsh commented on #285
Both the menu options and the sidebar options for showing/hiding weights select simultaneously. Now working on adding the functionality that actually shows/hides the weights.

[2016-11-08 00:06] mihirsamdarshi commented on #349
@yshin4 refactored her special character checker. @mihirsamdarshi I created a new file, ran it and broke everything, so I decided to make a new branch called testFixes. I started to redo the new checker function file, and @yshin4 helped me move everything to this new semanticchecker.js file. We are now confused as to how to link spreadsheetcontroller.js to our new semanticchecker.js file.

[2016-11-09 19:18] kdahlquist commented on #347
Confirmed fix and closing.

[2016-11-09 19:18] #347 closed

[2016-11-09 19:25] kdahlquist commented on #333
It looks like this is now live on beta.  It looks good for the short node names we use for the demo files, but note that if you use a really long gene name (up to the 12 characters we allow), the white space gets bigger proportionally to the label, so for large labels, the white space is still too large.  It would be nice if it was a fixed width, no matter how long the label, but I don't know how

[2016-11-14 20:20] kdahlquist commented on #349
Just a reminder that @kdahlquist will not to be able to make the meeting today.  Keep me posted with updates to the respective issues.

[2016-11-14 21:02] dondi commented on #349
Yes, and due to my child pickup schedule, my arrival may be unpredictable. Students can use the time prior to my arrival as finalizing/wrap-up time so that we can jump right into issue review once I get there.

[2016-11-14 21:53] kdahlquist opened #351 "Loophole for number of nodes/edges warning vs. error"
I came across some weird behavior of warnings vs. errors when visualizing some large networks.

A network with 50 nodes and 183 edges will give a warning and still load, but the same network pruned down to 49-genes and 179 edges gives an error and fails to load.

It looks like there is a loophole in the warnings system where if the number of genes generates a warning (but not an error) then it doe

[2016-11-15 00:07] yshin4 commented on #349
@yshin4 and @mihirsamdarshi are still working on refactoring semanticChecker and @yshin4 talked to dondi about how to implement semanticchecker function by using require and module.export. We will be working on testFixes branch until we safely move semantic errors and pass all the tests that are currently failing due to refactoring progress.

[2016-11-15 00:16] dondi commented on #285
@anuvarsh can restore some of the code from https://github.com/dondi/GRNsight/commit/4415f86b9a4ba853fbf1e0bc5b204f3190b06124 which replaced the original "always always on" weight behavior to the one that is mouse-driven. She will need to apply a condition that this code only takes effect if "always on" has indeed been selected.

[2016-11-15 00:33] dondi commented on #285
@anuvarsh also asked about avoiding a reload whenever the setting is changed. This is actually something that can be written up separately because it will benefit other options that we currently set.

There is however an approach that is _specific_ to mouse weights which can avoid the reloads. The decision is that, after @anuvarsh is able to complete the always-show automatic repositioning functio

[2016-11-15 00:45] dondi commented on #349
@NAnguiano had some trouble working with the boundary/boundless node positioning algorithm. @dondi pointed the `tick` function where we have the final mapping of nodes to their positions. However, that function is affected by the force graph algorithm which injects an initial _(x, y)_ coordinate into the nodes. @NAnguiano will look at this behavior without any of the additional code that is in the

[2016-11-17 00:23] Nwilli31 opened #352 "TriBeta Holiday Ornament Contest"
TriBeta is having a holiday ornament contest. BIO 1 & 2 sections, upper-division labs, and research labs are invited to submit one. The ornament is due **Monday, Nov. 28** to **John Kaufman in LSB 101**
Winners will be chosen based on:
1) Most beautiful ornament, 2) Funniest ornament, and 3) Best Bio-themed ornament

Prize: Donut Part for winning classes (week of 12/5)
Winners announced at TriBeta

[2016-11-17 00:43] anuvarsh commented on #352
Mihir and I were thinking Kanye wearing GRNsight glasses. We should add other things from other parts of the lab as well.