[2016-11-21 20:50] kdahlquist opened #353 "@NAnguiano presentation for BIOL 367T on Monday, 11/28, 3:45PM LSB 118"
@NAnguiano will be  giving her final presentation for her BIOL 367T on Monday, 11/28, 3:45PM in LSB 118 during the normally scheduled GRNsight team meeting.  The presentation will be 15-20 minutes long, so we should have some time to catch up on issues as well.  All the GRNsight team members should attend; everyone on the other projects are invited as well.

She will be reporting on her accomplish

[2016-11-21 23:17] anuvarsh commented on #350
http://when2meet.com/?5902968-mhsPe

@yshin4, @NAnguiano, @mihirsamdarshi, and I put in (or are putting in) our availability for next semester into this calendar so we can see what times we are all free.

[2016-11-21 23:32] NAnguiano commented on #350
Right now, it looks like a set meeting time from 3-4pm on Tuesdays will work for all of us. Otherwise, our schedules are pretty different from one anothers.
Anu and I will be meeting from 4-8 on Wednesdays, and Jen and I will be working from 6-8 on Tuesday.

Once Mihir can fill out the when2meet, I'll have a bit more of an idea on when we can meet.

[2016-11-21 23:52] kdahlquist opened #354 "Monday, 11/21 is a school day."

[2016-11-22 00:11] kdahlquist commented on #349
For #300, the key here is to forget about the input source and focus solely on the network data structure that each file-reading routine returns. So `semanticChecker` needs to be refactored to just iterate over the portions of `network` and nothing else.

[2016-11-22 00:14] kdahlquist commented on #349
To enforce this, reduce the arguments to `semanticChecker` so that it only accepts `network`. All of the other existing parameters are specific to the spreadsheet import routine and will not exist with the importers for SIF, GraphML, and potential future files.

[2016-11-22 00:17] anuvarsh commented on #354
Happy Thanksgiving! 🦃

[2016-11-22 00:33] anuvarsh commented on #285
Using dondi's old commit where weights are unconditionally shown (after keep weights on top of all things) and restore that code. Add if-statements that wrap around the weights information according to which menu option (always show, always hide, etc.) is selected.

[2016-11-22 01:15] kdahlquist opened #355 "Network loads with black edges and cyan blunt end markers"
Here is the spreadsheet from @Nwilli31.  When it loads in GRNsight it has black edges and cyan blunt end markers on some of the edges.

The sheet name is "network" but has real number values for the adjacency matrix (instead of just 1, 0).  I guess we don't have a case testing for this.

If we really wanted to help the user, we would detect that there is a sheet called "network" and that it had nu

[2016-11-28 20:52] #354 closed

[2016-11-28 21:28] anuvarsh commented on #285
After restoring @dondi's code about showing weights, I am still unable to make them always show up. Currently going through and trying to debug, but not really sure where I should be looking.

[2016-11-28 23:30] anuvarsh commented on #350
It seems as if all of us are available on Thursdays from 3-4pm. Still waiting on @ebachoura to finish registering/ updating the When-To-Meet so we can confirm this as a meeting time.

[2016-11-29 00:14] kdahlquist commented on #349
@dondi thinks @anuvarsh is pretty close, but just needs a deeper understanding of graph.js. She may come during a separate session to review this.

[2016-11-29 00:20] anuvarsh commented on #285
I will read through [Three Little Circles](https://bost.ocks.org/mike/circles/) to get more information about D3. This should help my understanding of how graph.js works overall.

[2016-11-29 00:26] kdahlquist commented on #349
@mihirsamdarshi had a question about the supplementary parameters other than `network`; @dondi responded by saying that these were all just convenience values and are easily derivable from the original `network` object.

[2016-11-29 00:27] kdahlquist commented on #349
@NAnguiano had the XMLPipeDB presentation + transportation timing issues so will return to the infinite/finite zooming/sizing issue for next week.

[2016-11-29 00:43] kdahlquist commented on #349
For @anuvarsh, another way to think about the implementation is in terms of the divergent behavior: when the weights are only visible upon mouseover, their position is determined by the mouse position. When the weights are always visible, their position is determined by the centroid of their attached edges. When the weights are _in_visible, we actually don't care what happens to them, so by reduct

[2016-11-29 02:22] ebachoura commented on #350
Just finished registering and I put in my available times.

[2016-11-29 04:12] NAnguiano commented on #350
Looks like we can all make it Thursday 3-4pm! 👍

[2016-11-29 08:36] dondi commented on #350
Greetings—I just reviewed the schedule and it turns out that Dr. Dorin’s course which we lined up with a free slot of mine, in case he needs to return to medical leave, is the TR 2:40-4:10pm slot. So it is true that 3-4pm is free for me for now, but it is not guaranteed. Judging from the when2meet, it looks like the only available time though, so we may just have to roll the dice on this one.

[2016-11-29 17:49] kdahlquist commented on #350
It is likely that @dondi will at least be able to make it at the beginning of the semester.  We'll figure something out if things change.

For now, we'll say Thursdays 3:00-4:00 for the GRNsight meeting in Spring 2016.  I'll leave this open now; we can close it at our first meeting in January.

[2016-11-29 17:53] kdahlquist commented on #350
Based on a previous comment from @NAnguiano, she @anuvarsh and @yshin4 have figured out when their work sessions will be.  Have @mihirsamdarshi, @ebachoura, and @eileenchoe set their times?  Ideally, each new person will be working with a veteran to facilitate the onboarding process.

Remember, the commitment is 4 hours per week of work, ideally in one chunk.

[2016-11-29 21:15] eileenchoe commented on #350
I am available on the Wednesday 4-8PM block when @anuvarsh and @NAnguiano are scheduled to work.

[2016-11-30 20:00] dondi commented on #285
@anuvarsh and @dondi met on Tuesday late afternoon and we hashed out the code to wrap this up. @anuvarsh will give it a cleanup pass then we can potentially move this issue to Review Requested.

[2016-11-30 20:52] #353 closed

[2016-11-30 21:25] kdahlquist commented on #352
@khorstmann decorated the ornament--thanks!

[2016-11-30 21:25] #352 closed

[2016-12-05 23:11] anuvarsh commented on #285
@dondi suggested that I turn the weights options under Format into radio buttons instead of using check marks in order to reduce the amount of code required to implement this functionality. I began coding it in, but I am finding that it isn't actually reducing the amount of code for this functionality by a significant amount. I can push the changes I have made so far so we can discuss the preferre

[2016-12-05 23:54] kdahlquist commented on #300
semanticChecker is almost working; Most tests are passing except for 3, they need to talk to @dondi in office hours this week.

They need source genes and target genes, but they can't get them both from network.

[2016-12-05 23:58] kdahlquist commented on #285
@kdahlquist vetoed radio buttons in the Format menu.  @anuvarsh will revert back to the checkmarks and then mark this review requested.

[2016-12-06 00:00] kdahlquist commented on #285
Cosmetically, make the font smaller for "Hide/Show Edge Weights".  Move the radio buttons closer together and closer to the header.

[2016-12-06 00:02] kdahlquist commented on #345
@NAnguiano still needs to implement finite vs infinite bounding box, but this got punted to next semester due to 401 considerations.

[2016-12-06 00:04] mihirsamdarshi commented on #350
I am available from 4-8 on Wednesday too

[2016-12-06 00:05] ebachoura commented on #350
I am also available from 4-8 on Wednesdays

[2016-12-06 20:21] yshin4 commented on #349
For checkDuplicates function to check if there are any duplicate gene names, I tried to use network.lists[i].source.name and target.name but apparently they are both undefined. If I do console.log(network.lists[i].source) it gives me numbers. May I visit during office hours today to solve this issue? @dondi

[2016-12-06 22:29] dondi commented on #349
Sure you can come in, but real quick, those numbers are indices into the genes array. So a source of 4 means the source is `network.genes[4]`.

[2016-12-07 18:52] kdahlquist commented on #159
This is now redundant with #345, so I'm closing this one.

[2016-12-07 18:52] #159 closed

[2016-12-08 20:46] dondi commented on #350
Just posting here what I’ve already relayed to @kdahlquist, which is that some last-minute CMSI schedule changes (not yet in PROWL) will now have me teaching in the 2:40-4:10pm slot. The later slot does open up but I don’t think everyone will be available then. So we’re back to picking an open time, and this time we might not be able to capture everyone.

[2016-12-14 19:15] kdahlquist opened #356 "10 Simple Rules for Taking Advantage of Git and GitHub"
See this article on [10 Simple Rules for Taking Advantage of Git and GitHub](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004947) published in PLoS Computational Biology.  How many are we following?

[2017-01-06 01:05] kdahlquist commented on #350
Happy New Year!

I've conferred with @dondi about scheduling meetings for the Spring semester since he is teaching during the Thursday 3:00 time slot that we all originally agreed upon.  We will alternate this Thursday time slot with Wednesdays at 4:20.  Unfortunately @yshin4 can't make the Wednesday slot (sorry) but it was the only viable alternative.  Since @yshin4 and @NAnguiano are meeting on

[2017-01-07 04:55] kdahlquist commented on #350
All meetings, both the Wednesday and Thursday, will take place in LSB 331, which is the conference room on the third floor on the North side of the building.

Again, the first meeting will be on Thursday the  12th at 3:00.

See you there!

[2017-01-07 05:09] kdahlquist opened #357 "Pick up and turn in independent study forms"
All team members except for Nicole and Anu need to pick up their independent study forms from @kdahlquist's office, fill in the top part, and then turn it in to Brier Lindsay in PER 100 by Friday the 13th.

[2017-01-12 23:00] kdahlquist commented on #357
done.

[2017-01-12 23:00] #357 closed

[2017-01-12 23:06] kdahlquist commented on #350
Reminder to write down all the meeting times for the semester.

[2017-01-12 23:06] #350 closed

[2017-01-12 23:17] kdahlquist opened #358 "LMU Symposium Saturday, March 25"
Abstract deadline is: Feb. 10

[2017-01-12 23:20] kdahlquist commented on #285
All done, @kdahlquist needs to review.

[2017-01-12 23:21] kdahlquist commented on #300
The issue from the previous comment is still there; they need to talk to @dondi .

[2017-01-12 23:23] kdahlquist commented on #345
@NAnguiano will begin work on the finite vs infinite bounding box.

[2017-01-13 00:03] kdahlquist opened #359 "Task list for Weeks of 1/12 and 1/18"
Tasks for @ebachoura and @eileenchoe:
- [x] @ebachoura and @eileenchoe need to do a code walkthrough
- [x] @ebachoura and @eileenchoe need to add themselves to the People page of the website.
- [ ] #326 @ebachoura and @eileenchoe update state diagram with feature to show/hide all weights
- [ ] #361 do npm install on their computers based on documentation on the wiki; work on automating the npm ins

[2017-01-18 00:50] kdahlquist commented on #264
@anuvarsh is going to first work on the option display in the UI.  First we want to display the value being used, perhaps as an editable field, so the user can type a number there.

[2017-01-18 00:52] kdahlquist commented on #349
open tasks moved to #359

[2017-01-18 00:52] #349 closed

[2017-01-18 00:55] kdahlquist opened #360 "Southern California Conference for Systems Biology"
@mihirsamdarshi can you make the conference on thr 28th?  I need to know ASAP so I can work out the registrations.

@anuvarsh and @mihirsamdarshi need to work on an abstract (due Friday the 20th).  Do it on the wiki and let us know when it is ready for review.

[2017-01-18 00:57] kdahlquist commented on #356
- [ ] @anuvarsh
- [ ] @NAnguiano
- [ ] @yshin4
- [ ] @mihirsamdarshi
- [ ] @ebachoura
- [ ] @eileenchoe

Please check your name off when you've read this article and we'll close it when everybody has.  Please post any comments you have on this reading on this issue.

[2017-01-18 00:59] kdahlquist commented on #326
reassigned to @ebachoura and @eileenchoe to add feature to show/hide all weights.  They need to talk to @mihirsamdarshi to get a walkthrough on the diagram and to @anuvarsh to get a walkthrough on the feature.

[2017-01-18 01:01] kdahlquist opened #361 "npm install GRNsight"
We want to be able to "npm install grnsight"

First step is to review documentation on the wiki and set up your development environment.

https://github.com/dondi/GRNsight/wiki/Library-Requirements

[2017-01-18 01:03] kdahlquist opened #362 "Add "syntactic" tests for SIF format"
Need to add more tests for SIF format input files.  @ebachoura and @eileenchoe can either split SIF and graphml or both work on both.  Discuss with @dondi this week.

[2017-01-18 01:04] kdahlquist opened #363 "Add "syntactic" tests for graphml format"
Need to add more tests for graphml format input files. @ebachoura and @eileenchoe can either split SIF and graphml or both work on both. Discuss with @dondi this week.

[2017-01-18 01:05] kdahlquist commented on #359
I have added details to the task lists.  Please check out the previous comment on this issue.

[2017-01-18 01:06] kdahlquist commented on #359
@ebachoura and @eileenchoe, don't forget to change the last modified date when update website.  I saw you made the change, but did not change the date.

[2017-01-18 02:27] NAnguiano opened #364 "Slider Display Values do not change after loading a file"
The slider values on beta stop updating once you load a file. Before loading, they work just fine, but after, the display values don't change, though the slider still has an effect on the graph.

[2017-01-18 02:47] NAnguiano opened #365 "Clicking Print opens print dialogue twice"
When you hit print, if you exit out of the print dialogue, it opens again right after.

Also, the print image is completely broken, so I think some redoing of the print css is in order.

Note: this is only on beta.

[2017-01-18 04:32] anuvarsh commented on #360
I don't see any word count limits on the website. I will assume there isn't a hard cutoff and edit our most recent abstract accordingly.

[2017-01-18 07:00] eileenchoe commented on #359
@NAnguiano did a code walkthrough with @ebachoura and me this afternoon. Thanks for the catch @kdahlquist, last modified date is now updated on the People page.

[2017-01-18 22:40] mihirsamdarshi commented on #360
I can make it.

[2017-01-18 23:41] anuvarsh commented on #360
The newest version of the abstract can be found here: https://github.com/dondi/GRNsight/wiki/Systems-Biology-Conference-2017-Abstract

Should I add a sentence or two about the zoom function and the bounding box even though the user interface isn't complete yet?

[2017-01-19 00:24] NAnguiano opened #366 "402: Project Proposal Due 1/23"
Information from [here](http://myweb.lmu.edu/bjohnson/cmsi402web2/proposal.html).

- [x] Presentation
- [x] Project Proposal Document

The Proposal Presentation should contain the following slides in this order:
- Title slide with the project name, your name, and the date, and maybe a cool graphic
- Project Description, containing top-level explanation of your application, along with the target au

[2017-01-19 00:24] anuvarsh opened #367 "598-04: Title and annotated bibliography"
The function of the title is to identify the main result or take-home message of the report. It should be as specific as possible and name the organism. It can be a phrase or a sentence.
The annotated bibliography is a list of a minimum of 10-15 primary research articles.
Each should have a properly formatted citation (in the APA format).
Each should have 2-3 sentences as to why the article relate

[2017-01-19 00:26] anuvarsh opened #368 "598-04: Outline"
Outline of all sections of the report
Include a list of figures and tables
No set length; it needs to be long enough to be inclusive of all results from your body of work in the Dahlquist Lab

Due: 5:00 PM on Friday, February 3 (end of Week 4)

[2017-01-19 00:27] anuvarsh opened #369 "598-04: Introduction"
The introduction should tell a story and should provide all of the background information necessary for the reader to understand the project. The outline of a good introduction is shown at the left.
A critical review of a minimum of 5 references from the annotated bibliography must be performed in the introduction.
Minimum length of 4-7 pages
In text citations must be used (minimum of 2 per paragr

[2017-01-19 00:28] anuvarsh opened #370 "598-04: Materials & Methods and Results"
No set page length; it needs to be long enough to cover all of the research results from your body of work in the Dahlquist Lab.
Enough information must be provided in the methods for a practitioner in the field to reproduce all of the results
All figures and tables must be included, numbered sequentially in the order they appear in the text, with descriptive legends that give a key to all labels

[2017-01-19 00:29] anuvarsh opened #371 "598-04: Discussion"
Research results must be discussed in terms of their significance, relevant literature, and future directions; write a concluding paragraph that summarizes the entire work
Minimum length of 4-7 pages
In text citations must be used, and a properly formatted References section must also be included.

Due: 5:00 PM on Thursday, March 30 (end of Week 11)

[2017-01-19 00:30] anuvarsh opened #372 "598-04: Second draft of complete report"
All sections, including: Abstract, Introduction, Materials & Methods, Results, Discussion, Acknowledgments, References

Due: 5:00 PM on Monday, April 17 (beginning of Week 14)

[2017-01-19 00:30] anuvarsh opened #373 "598-04: Final draft of complete report"
All sections, including: Abstract, Introduction, Materials & Methods, Results, Discussion, Acknowledgments, References
Both a hard copy and electronic copy of the report must be submitted to Dr. Dahlquist by the deadline.

Due: 5:00 PM on Friday, April 28 (end of Week 15, last day of classes)

[2017-01-19 00:35] dondi commented on #326
This conversation has taken place and the addition of the new states is now in progress on the yEd file.

[2017-01-19 00:48] dondi commented on #361
Some background on this task: GRNsight is sort of an unconventional `npm install` because it is a web app. Most of the time, it suffices for a user to visit the GRNsight website in order to use it. `npm install` is for parties who are interested in running their own instance of GRNsight's servers.

Thus the overall intent of this task is more about documenting and clarifying what it means to "npm

[2017-01-19 00:52] dondi commented on #361
Regarding the wiki page on Library Requirements: the npm install page for GRNsight, https://libraries.io/npm/grnsight, appears to extract those dependencies automatically. This might be something good to look into in the future, so that the Library Requirements page does not need to be maintained.

[2017-01-19 01:14] dondi commented on #362
@dondi gave the group an overview/tour of the existing code and pointed out where syntactic errors can be detected then reported. @ebachoura and @eileenchoe will take a look at the code and decide how to tackle this.

[2017-01-19 01:14] dondi commented on #362
(the above note also covers #363)

[2017-01-19 01:25] dondi commented on #300
@mihirsamdarshi and @yshin4 can look at the (failing) error list then track down where the spurious errors could have been added. Following those should eventually lead to the offending code.

[2017-01-19 01:27] dondi commented on #300
This is a good example for why test cases should be as narrow as possible, because another potential reason for the spurious error(s) is that the test data itself unintentionally has more semantic errors than intended. Ideally the test data should be formulated so that they are perfect _except_ for the single error type being tested.

[2017-01-19 01:35] dondi commented on #359
@NAnguiano has been focused on her 402 tasks and will return to infinite scroll after.

[2017-01-19 01:52] dondi commented on #264
Upon inspection of the code, the variable to modify is `totalScale`, and here the `domain` of `totalScale` is what will be unhardcoded from its current value (which is the extent of edge weights in the GRN).

[2017-01-19 17:23] kdahlquist commented on #360
Abstract guidelines are here:  http://ccbs.uci.edu/scsbc2017registration

limit of 250 words

Yes, talk about the new features as beta if there's room.

[2017-01-19 18:49] anuvarsh commented on #360
Updated the abstract to fit within the word count and added information about the bounding box.

[2017-01-19 20:52] kdahlquist commented on #360
I just made some revisions to the abstract and re-ordered the author list.

There needs to be a title.

The conference wants a Word document with the following formatting:

Guidelines: font size- 11 pt. font type – Arial, text box size – 7 3/8" (19cm width) x 4 ½" (11.5cm height) (one half of an 8 ½ x 11 page) Word format (.doc), although pdf documents will be accepted. Insure all fonts are embedd

[2017-01-20 03:09] anuvarsh commented on #360
Added the correctly formatted abstract to the master branch in GRNsight>documents>abstracts.

[2017-01-20 06:41] anuvarsh commented on #367
Annotated bibliography and draft of title has been submitted.

[2017-01-20 18:05] kdahlquist commented on #367
I sent @anuvarsh an e-mail acknowledgment that the annotated bibliography has been received, but it just now occurred to me that we could be using the repository for this.

I created a directory under "documents" on the master branch called "reports".  Please put your annotated bib there so we can keep it under version control.  I could deposit it, but it makes more sense for you to do so, since y

[2017-01-20 23:52] kdahlquist commented on #360
Made minor formatting changes and submitted abstract.  Now on to making the poster!

[2017-01-22 22:18] anuvarsh commented on #367
I emailed in the updated version of the annotated bibliography on Friday, and uploaded the file into the documents>reports directory.

I was looking it over earlier today and realized that I added the doi's but I forgot the page numbers. The corrected version of the document is uploaded to the master branch now.

[2017-01-23 05:41] ebachoura commented on #361
After a fresh install of GRNsight (after npm install in all three locations), Eileen and I both got errors that moment was not installed with the rest of the modules.

[2017-01-24 00:29] NAnguiano commented on #366
Done.

[2017-01-25 02:08] dondi commented on #300
@yshin4 and @dondi met on Tuesday evening and determined that the core issue with @yshin4's duplicate check errors is that only the Excel format has a notion of row vs. column. Thus there are actually two types of duplicate errors: one that can differentiate whether the duplication occurred along a row or column dimension, and one that determines a duplication within the _overall_ list of gene nam

[2017-01-25 22:35] anuvarsh commented on #264
Reading [this article](https://www.dashingd3js.com/d3js-scales) to get more information about scaling in D3.

Leaving the link here so I can quickly find the article in the future.

[2017-01-26 00:13] NAnguiano commented on #364
I've noticed that this actually has broken undo reset. Reset works, but undo reset is no longer functional on beta.

[2017-01-26 00:38] eileenchoe commented on #326
After analyzing the current state diagram, and getting a walkthrough on the new feature (edge weight settings) @ebachoura and I have realized that adding this feature (and any future new feature) will increase the complexity of the state diagram by a factor of two or more. Additionally we've noted that, this feature only affects weighted networks but in its current implementation, is also availabl

[2017-01-26 01:28] anuvarsh commented on #264
I figured out how to update the normalization of the weights using d3. If the user provides a min and max value for their data, coding in the corresponding normalization should be fairly straightforward.

Currently, a very basic front end with two input boxes has been pushed onto beta. Next, I am going to try to present the current min and max data points as placeholders within the text. Taking a

[2017-01-26 01:38] eileenchoe commented on #361
@ebachoura and I have successfully set up our development environment.
We updated the **Running the Applications** wiki page to reflect the most current process for npm installing the dependencies and running a local version. @NAnguiano updated this today in beta, so that npm install only needs to be done once in the GRNsight directory. @ebachoura tested this and it is working.
Additionally, the *

[2017-01-26 02:15] ebachoura commented on #361
There is no documentation currently describing that GRNsight is available via <code>npm install grnsight</code>. @eileenchoe and I think that it may be appropriate to dedicate a wiki page (possibly under the "Instructions" section) describing what it means to "npm install grnsight" for developers who are interested. We have tested npm install grnsight, and have noted a few additional steps that ar

[2017-01-26 05:15] kdahlquist commented on #264
So does this mean that we are changing the way that the normalization is being done?  In my mind, it seems that we only need to know the max, not the min.  I.e., every weight is divided by the max (absolute value) weight.  0 weights are still zero, and every other one is normalized to that max weight.  Why do we need to know the min?  Isn't it just 0 anyway?

[2017-01-26 05:20] kdahlquist commented on #326
I think we will need @dondi to weigh in on dealing with the complexity of the state diagram.

As for the observation that the feature is available for unloaded or unweighted networks, I'm not 100% sure what you mean except that the radio buttons are visible no matter what the condition of GRNsight.  I think this is what we want because you might have an unweighted graph loaded, but then change the

[2017-01-26 05:26] kdahlquist commented on #248
The 10 Simple Rules (#356) article recommends [Travis CI](https://travis-ci.org/).

[2017-01-26 05:30] kdahlquist opened #374 "Investigate Codecov for automated code coverage analytics"
As recommended by the 10 Simple Rules article #356, [Codecov](https://codecov.io/) does automated code coverage analytics.  We used Istanbul to generate the report in our PeerJ Computer Science paper, but this might be better.

[2017-01-26 05:37] kdahlquist opened #375 "Set up Zenodo so we have a DOI for GRNsight software"
From the Ten Simple Rules article (#356), we can use Zenodo to create a DOI for the GRNsight software itself.

Instructions are here:  https://guides.github.com/activities/citable-code/

This service is integrated with GitHub and creates archives of releases with citable DOI's, which would then be referenced in our CITATION.md file and on our website.

I'm assigning to @dondi as the owner of this

[2017-01-26 05:44] kdahlquist commented on #356
I made comments/new issues regarding continuous integration, code coverage stats, and DOI for the software, #248, #374, #375, respectively so I could close this particular issue.

[2017-01-26 05:44] #356 closed

[2017-01-26 06:16] kdahlquist commented on #366
I know that you prepared these documents for BJ, but I also want to comment on them.  Can we use the convention of adding "review requested" and assigning them to @kdahlquist as we do for the other issues?

First some mechanics:

What does "SDF" mean?  Google failed me on that one.

I want to change the naming of the directories and files slightly with a view to the fact that there will likely be

[2017-01-26 06:51] kdahlquist commented on #367
Here are my comments on your Annnotated Bibliography.

First, mechanics:
* I like the title, but "web app" is a little too informal.  Please spell out "application"
* Your hanging indent is a little large at 1 inch.  It should only be 1/4 inch.
* For the Breitkreutz article, I think your DOI is referencing the preprint, please double-check that it is the correct DOI for the final published article

[2017-01-26 06:59] bjohnson05 commented on #366
The acronym "SDF" means, by turns, either "Software Development File" or "Software Development Folder".  It's an industry term that is used for the collected documentation, generated as part of developing a software project.
I hope that helps!

[2017-01-26 07:12] kdahlquist commented on #366
Ah, thanks @bjohnson05.  In that case, the directory structure should be:

documents > SDF > CMSI_402 > spring_2017

assuming that all the documents generated for CMSI 402 would qualify as SDF documents.

[2017-01-26 07:17] kdahlquist commented on #285
I finally had a chance to look this over.  Here are my comments:

The capitalization of the text accompanying the radio buttons should be in sentence case, not all word capitalized.

For example, Show With Mouse Over should be "Show with mouse over" and similar for the other two choices.

Also, changing the radio button selection makes the graph redraw.  I can imagine a situation where someone has

[2017-01-26 07:32] kdahlquist commented on #343
What is the status of this issue? I think we might have implemented tests checking for all special characters?

[2017-01-26 07:33] kdahlquist commented on #245
What is the status of this issue?

[2017-01-26 07:36] kdahlquist commented on #77
Moving this to the backlog and closing since we are in the practice of changing this manually.

[2017-01-26 07:36] #77 closed

[2017-01-26 07:37] kdahlquist commented on #358
Elevating this because we need to draft abstract(s) for review at next week's meeting.

[2017-01-26 07:42] kdahlquist opened #376 "Task lists for Weeks of 1/25 and 2/1"
Tasks for @ebachoura and @eileenchoe:
- [x] @ebachoura and @eileenchoe need to schedule safety training with @kdahlquist #377
- [ ] #326 @ebachoura and @eileenchoe update state diagram with feature to show/hide all weights, pending instructions from @dondi to deal with complexity of diagram
- [ ] #361 update documentation as they suggested in their comment
- [ ] work on "syntactic" tests for SIF a

[2017-01-26 07:43] kdahlquist commented on #359
Open issues have been moved to #376.

[2017-01-26 07:43] #359 closed

[2017-01-26 17:33] kdahlquist commented on #367
I forgot to mention that "visualisation" is not misspelled--it is the British spelling and the journal that article was published in is from there.

[2017-01-26 19:49] kdahlquist opened #377 "@ebachoura and @eileenchoe need to schedule safety training with @kdahlquist"
@ebachoura and @eileenchoe need to schedule safety training with @kdahlquist so that the lab authorization form can be turned in.

[2017-01-26 21:38] NAnguiano opened #378 "402: Requirements Specification Document"
Information [here](http://myweb.lmu.edu/bjohnson/cmsi402web2/requirem.html).

Due 2/6.

[2017-01-26 21:41] NAnguiano opened #379 "402: Software Development Plan or Software Design Description"
One of either the [Software Development Plan](http://myweb.lmu.edu/bjohnson/cmsi402web2/sdevplan.html) or [Software Design Description](http://myweb.lmu.edu/bjohnson/cmsi402web2/sddesign.html).

Due 3/6.

[2017-01-26 21:46] NAnguiano commented on #366
The documents have been moved and renamed. I wasn't sure whether you wanted to keep the review requested notation for 402, but now that I know, I will do that in the future.

[2017-01-26 22:23] NAnguiano commented on #358
Abstracts are due 2/10 at 5:00PM.

[2017-01-26 22:57] NAnguiano commented on #345
I got an initial version for this working, but I want to talk to @dondi about the implementation of it. Instead of an "infinite" box, I'm using one that's very large, then removing the scrollbars on the side so that it appears to just be an infinitely scrollable space. I can't seem to get the scrollbars to come back once you've chosen the infinite option, so I'm currently trying to work in a fix f

[2017-01-26 23:34] kdahlquist commented on #361
Long story short, please write the documentation (icing on the cake). (in the meantime, please fix up the home page of the wiki)

[2017-01-26 23:36] eileenchoe commented on #377
Suggesting meeting at 3:00PM next Thursday. @ebachoura does this time work for you?

[2017-01-26 23:46] kdahlquist commented on #300
All of the cases on the wiki here have been implemented: https://github.com/dondi/GRNsight/wiki/Error-Sort

So, question for @dondi : are there additional semantic tests that need to be written or can we safely close this now because we have new issues for syntactic tests of graphml and sif #362 and #363.

[2017-01-26 23:55] kdahlquist commented on #264
There is an edge case of a fully connected graph where the min would not be 0, so we need the min.  I suggest that the field be there, prefilled with 0 and a note to the user that says "unless you have a fully connected graph, this value should be 0."

@NAnguiano points out that need to disallow a max lower than a min.

[2017-01-27 01:08] kdahlquist commented on #376
I updated the task list as per what we discussed in the meeting.

[2017-01-27 01:10] kdahlquist commented on #358
We decided that @anuvarsh is going to give a talk and that @NAnguiano , @mihirsamdarshi , and @yshin4 are going to give a joint poster.  @ebachoura and @eileenchoe will help with the poster, but are acting in a supporting role.

Abstracts should be drafted on the wiki for first pass review by @dondi at next Wednesday's meeting and final review in two weeks at the Thursday meeting.

[2017-01-27 01:11] kdahlquist commented on #264
Just another note from the meeting; I was under the impression that we wrote our own normalization routine, but D3 is handling it along with binning the weights into edge thicknesses.

[2017-01-27 01:13] kdahlquist commented on #360
@mihirsamdarshi lost his changes to the poster due to a merge conflict where GitHub chose the old version.  All changes were lost (nobody had a copy of the changed version).  A good practice might be to save a copy of documents/code somewhere else on your hard drive before pushing/pulling.  @anuvarsh and @mihirsamdarshi will get the poster to @kdahlquist by noon on Friday (sooner if possible).

[2017-01-27 01:15] kdahlquist opened #380 "Summer 2017 Research Task List"
Juniors and sophomores, let @kdahlquist know if you are interested in working on GRNsight this summer by the end of next week (Feb. 3) so that we can apply for funding.

[2017-01-27 01:17] kdahlquist opened #381 "Accessibility of GRNsight to color blind users"
@bklein7 pointed out that it is difficult for a color blind person to distinguish between the magenta thin edges and the grey thin edges (with pointed arrowheads).  We may need to explore other options for "greying" out the edges; perhaps a dotted line would be better.

[2017-01-27 01:19] kdahlquist commented on #366
I'll leave this open pending the meeting between @NAnguiano and @kdahlquist Friday at 10:00 AM where we will discuss the feature set for the 402.

[2017-01-27 16:46] kdahlquist opened #382 "Use forks and pull requests to avoid losing work due to merge conflicts"
As mentioned with regard to #360, @mihirsamdarshi lost changes he made to the poster due to a merge conflict when pushing where GitHub chose the older version.

Given the larger size of the group and the complexity of the different development threads, I think it is time to implement the practice of forking the code onto your own repository and to manage code updates through pull requests.  The GR

[2017-01-27 17:49] kdahlquist opened #383 "Update package.json file so that versions are fixed, not "latest""
@NAnguiano noticed that the package.json file was set to download the "latest" version of some libraries, not a fixed version number.  She is changing this right now, so it should be exactly what is on the wiki: https://github.com/dondi/GRNsight/wiki/Library-Requirements

[2017-01-27 17:54] kdahlquist commented on #383
Upon inspection, @NAnguiano sees that what is on the wiki (updated by @ebachoura and @eileenchoe ) are not the same as what she is using, they are later versions.

Since @ebachoura and @eileenchoe have not done much coding yet, we are not sure whether the newer versions break anything, so to be safe, @NAnguiano is going to record on the wiki the versions that she is using and change the package.js

[2017-01-27 17:58] kdahlquist commented on #383
Is it possible that library versions have different numbers for Mac, Windows, Linux, please double-check.

[2017-01-27 18:44] kdahlquist commented on #366
@NAnguiano and @kdahlquist met to discuss the 402 Project proposal on Friday morning.
Here is what she put in her PowerPoint submitted to @bjohnson05:

* Website Redesign (emphasis on fixing kludgy stuff and UI design for new features)
* <s>Node Coloring</s>
* Alternate Graph Layouts, especially hierarchical
* Graph Optimization (rows vs. columns)
* <s>User Login</s> + Graph Saving (data, image, s

[2017-01-27 18:47] kdahlquist commented on #355
Maybe this one should be tackled by our syntactic error team of @mihirsamdarshi , @ebachoura , and @eileenchoe .

[2017-01-27 19:11] kdahlquist commented on #366
Just to reiterate what @NAnguiano and I talked about, her priorities for the semester are, in order:
1. finish up the bounding box size, zoom, and scroll functions and the UI changes needed for the controls #345
2. get hierarchical layout functioning #290
3. graph optimization (under the hood traversing data rows vs. columns) she needs to create an issue for this/website optimization (fixing kludg

[2017-01-27 19:11] #366 closed

[2017-01-27 19:12] kdahlquist opened #384 "Node rectangles overlap"
When the graph is settling its layout, the node rectangles can overlap.  Ideally, they shouldn't; they should repel each other like the way nodes can't get too close to the edge of the bounding box.

[2017-01-27 19:14] kdahlquist commented on #358
Upon rethinking this, I think that @anuvarsh and @NAnguiano will give a joint talk as graduating seniors and that @mihirsamdarshi , @yshin4 , @ebachoura and @eileenchoe will give a joint poster more focused on the testing optimization (and documentation).  So @ebachoura and @eileenchoe are not "off the hook".

[2017-01-27 23:48] kdahlquist commented on #360
_Correct_ poster is printed.  I'll bring it tomorrow with the others.

[2017-01-28 03:09] kdahlquist commented on #360
Nika and Natalie are driving. See you at 7am.

[2017-01-28 23:08] anuvarsh commented on #367
Oop! My mistake about the British spelling. I edited the bibliography accordingly.

The mentioned mechanical edits have been made and uploaded.

In regards to the DeRisi article vs. the Brown review article-- I agree that the Brown article is a better source for the type of information I was hoping to get out of the DeRisi article. I'll go ahead and add the Brown article to the annotated bibliogra

[2017-01-29 01:12] anuvarsh opened #385 "Feedback from Southern California Conference of Systems Biology"
During the poster session, GRNsight got some feedback/feature requests from potential users. The most interesting recommendations included:

* Implement a feature that allows users to upload 2 different matrices and highlight the differences between them
* Create a "grid snap" option where nodes would line up to a potentially optimal layout (perhaps use graph statistics to decide where each node s

[2017-01-29 20:26] anuvarsh commented on #367
The Brown article has been added to the annotated bibliography and pushed into master.

[2017-01-30 22:22] ebachoura commented on #377
Yes that works for me

[2017-01-31 01:15] kdahlquist commented on #385
Out of the three suggestions, "snap to grid" is #44 and connecting to a database is #60 (which got closed and assigned the label "backlog").  Viewing two networks side by side would be nice (and only reasonable if they were smallish), but highlighting the differences is likely to be non-trivial.

Food for thought for setting the next priorities.

[2017-02-01 02:20] NAnguiano commented on #345
I can confirm that the solution does not work on Firefox. Also, on Chrome, the scrollbars do come back but in the completely wrong spot. @yshin4 and I are investigating.

[2017-02-01 02:40] NAnguiano commented on #345
We have gotten the scrollbars to reappear in the right spot after going from infinite to a finite bounding box in chrome.

[2017-02-01 03:17] NAnguiano commented on #345
The scrollbars are now working in firefox.

[2017-02-01 03:36] NAnguiano commented on #345
It seems like the current solution may have put tiny scrollbars in when the smaller sizes are chosen. Not sure why this is, but we'll look into it.

[2017-02-01 22:38] eileenchoe commented on #377
@kdahlquist can you confirm safety training for tomorrow (2/2) at 3PM?

[2017-02-02 00:35] dondi commented on #376
We can check off the #377 task once all confirmations for the proposed date/time are in.

[2017-02-02 00:54] dondi commented on #326
@dondi and @kdahlquist discussed this and affirmed that the state diagram remains useful and valuable but needs to be reorganized in order to stay feasible:

- There remains an aspect that is genuinely sequential; e.g., the state where "No diagram is open" transitioning to "There is a diagram open" via an Open or Import command. For these types of behavior, a manually maintained state diagram rema

[2017-02-02 00:56] dondi commented on #376
@dondi added a description of how to proceed with #326 in that issue's comment thread.

[2017-02-02 00:56] dondi commented on #376
#361 led to #383 and #383 is now the top priority.

[2017-02-02 01:03] kdahlquist commented on #377
Confirmed--see you tomorrow in LSB 263 (my research lab, across the hall and around the corner from my office.)

[2017-02-02 01:05] dondi commented on #383
This is the very first task for the week of 2/1:
- Wipe out ("clean room") all existing node_modules installations on everyone's dev rigs.
- Do an `npm install` with testing in order to reach consensus on fixed version numbers for every GRNsight dependency
- Update _package.json_ files and wiki documentation with these version numbers
- Look at the `npm install-dev` variant also
Ideally this can b

[2017-02-02 01:30] dondi commented on #376
@dondi walked @eileenchoe, @ebachoura, and @mihirsamdarshi through the syntactic error tasks.

[2017-02-02 01:38] dondi commented on #376
@NAnguiano will look at https://github.com/d3/d3/wiki/Gallery to target potential alternative visualizations for GRNs and perhaps discuss the best options with @kdahlquist

[2017-02-02 01:41] dondi commented on #376
For #345 @NAnguiano has a proposed combination of scroll/zoom functionality which is ready for review. She will make this available on beta and signal when we can have a look.

[2017-02-02 01:45] dondi commented on #376
@dondi will look for options to address the weights refresh issue with @anuvarsh (#285); she is halfway done with #368; and #264 specification has been settled and implementation will proceed after #285.

[2017-02-02 01:50] dondi commented on #376
#358 will be worked on during the 2/1 work session; thematically @anuvarsh and @NAnguiano focus on visualization changes while the group poster reflects data interoperability and integrity improvements.

[2017-02-02 02:36] NAnguiano commented on #383
I updated the package.json versions to be fixed. @anuvarsh, @ebachoura, @eileenchoe, and myself have all tested to make sure everything runs and have had success.

[2017-02-02 02:44] eileenchoe commented on #358
@mihirsamdarshi @yshin4 @ebachoura
Here's the link to the working draft of the poster abstract:
https://docs.google.com/document/d/1rRosoxRNf9BXapgDyEFFTKiWqVEYZcHCxSXhaCdgDNQ/edit

[2017-02-02 02:51] dondi commented on #382
Here’s the new procedure/structure for our current approach:

1. Let’s have one more `beta` merge first. Everyone get to a clean (can be unfinished) state, with tests passing and no fatal errors, then all merge into `beta`.
1. After this merge, each distinct task should now be in its own fork. Right now this would be zooming/scrolling; display weights; syntactic error checking. (future forks: edge

[2017-02-02 02:52] dondi commented on #382
Once this issue has been sufficiently discussed and settled, let's have everyone explicitly sign off on this, then we can close the issue:
- [ ] @kdahlquist
- [ ] @NAnguiano
- [ ] @anuvarsh
- [ ] @mihirsamdarshi
- [ ] @eileenchoe
- [ ] @ebachoura
- [ ] @yshin4

[2017-02-02 02:57] dondi commented on #376
@dondi has updated #382 with details on how this structure will work. Let's process this for a bit then have everyone sign off once we've settled the new work flow and structure.

[2017-02-02 04:17] eileenchoe commented on #358
@yshin4 and @eileenchoe completed a draft of the abstract. @mihirsamdarshi and @ebachoura please review

[2017-02-02 05:36] dondi commented on #375
This has been set up for GRNsight (the sign that this is done can be seen in Settings > Webhooks, showing that Zenodo is connected).

It turns out that DOIs are connected to releases (in hindsight, it makes sense—one would want to cite a _specific snapshot_ of a repository, not a moving target). When we create our next release of GRNsight, we will be able to create a DOI.

[2017-02-02 05:40] dondi commented on #300
I inspected the code and this specific issue can be closed. However I noticed that the semantic checker has only been integrated into the Excel reader, and not SIF nor GraphML. I will create those as separate issues.

[2017-02-02 05:40] #300 closed

[2017-02-02 05:41] dondi commented on #376
Updates to #375 and #300 have been made.

[2017-02-02 05:44] dondi opened #386 "Semantic checker needs to be integrated into SIF and GraphML importers"
The SIF and GraphML import routes (_import-controller.js_) do not run their output through the semantic checker. This should be done so that our semantic checks our consistent across all formats. The best way to integrate this is to refactor the import helper function in _import-controller.js_.

[2017-02-02 05:45] kdahlquist commented on #375
Cool.  Was it easy?  It would be great to set this up for GRNmap ahead of the 0% release...

[2017-02-02 05:46] dondi commented on #375
Yes, pretty easy. They let you login with your GitHub credentials. You just need to authorize the service to access certain aspects of the repository (all read-only). Then you "turn on" Zenodo for that repository.

[2017-02-02 05:51] kdahlquist commented on #382
I am thinking that getting everyone on the same versions of the libraries is a necessary step 0 for this (#383), otherwise, this looks good to me.

[2017-02-02 05:52] dondi commented on #382
Agreed—I’ve revised the comment.

[2017-02-02 05:56] kdahlquist commented on #383
Is the wiki now up-to-date with package.json?  Let's have @yshin4 and @mihirsamdarshi sign off on this as well before closing.  Reassigning to them and @dondi for review.

[2017-02-02 05:58] kdahlquist commented on #375
Are we done with this issue then?  It's supposed to work automatically the next time we do a release?

[2017-02-02 06:03] dondi commented on #375
Oh right, that's true. At first I was thinking of closing this when a DOI actually shows up, but in terms of setup then yes, it's done. Closing now.

[2017-02-02 06:03] #375 closed

[2017-02-02 06:08] kdahlquist commented on #375
I "flipped the switch" for GRNmap and XMLPipeDB, so those are waiting for their next release as well.

[2017-02-02 06:09] dondi commented on #375
👍

[2017-02-02 06:16] kdahlquist opened #387 "Create "How to cite GRNsight" section on About page"
We need a section on "How to cite GRNsight" on the About page.

It should go in between the "Release Notes" and "Funding" sections.

For now it should say:

If you use GRNsight in your work, please cite:

Dahlquist, K.D., Dionisio, J.D.N., Fitzpatrick, B.G., Anguiano, N.A., Varshneya, A., Southwick, B.J., Samdarshi, M. (2016) GRNsight: a web application and service for visualizing models of small-

[2017-02-02 06:24] kdahlquist commented on #358
Please move the abstract over to the GRNsight wiki.

Please come up with a title, as well.

It seems a little odd to define GRNmap _after_ mentioning the Excel workbook.  Instead of mentioning GRNmap, it might be better to simply define the input type as an Excel workbook containing an adjacency matrix.  Introduce that first, then say that GraphML and SIF formats were added, then say that the test

[2017-02-02 06:27] kdahlquist commented on #358
For @NAnguiano  and @anuvarsh's abstract, I'm going to challenge you to rethink and dramatically modify the abstract.  What you have is basically the standard one we've been using for the last year.  I want you to specifically talk about your new features and why they are important, which means that you will need to cut down on the background from previous versions.  You also need a title!

[2017-02-02 06:29] kdahlquist commented on #367
@anuvarsh, I think this is closable now, is it?  If so, please close.

[2017-02-02 06:32] kdahlquist commented on #360
We need to make a news item about our attendance at the conference, and update the Publications page.  There is a mistake on the poster regarding semantic and syntactic testing that I would like @mihirsamdarshi to fix before I upload the poster to slideshare.

[2017-02-02 06:37] kdahlquist commented on #44
This could actually be covered by an automatic layout function that places the nodes in a grid.  Cytoscape has this option.

[2017-02-02 06:39] eileenchoe commented on #358
Wiki for abstract created [here](https://github.com/dondi/GRNsight/wiki/LMU-Symposium-2017-Abstract:-%5BTitle%5D)

[2017-02-02 17:38] yshin4 commented on #383
I deleted my node modules and reinstalled npm install. I got the same versions as @NAnguiano and checked that everything runs without error.

[2017-02-02 19:12] anuvarsh commented on #367
Yes, I made the corrections mentioned above so this issue is done. Closing.

[2017-02-02 19:12] #367 closed

[2017-02-02 19:27] anuvarsh commented on #360
I already made the necessary updates to the poster according to our conversation during the meeting yesterday. It's currently pushed to master. If @mihirsamdarshi or anyone else on the current testing team could take a look and sign off, it should be ready to upload to slideshare.

[2017-02-02 20:40] NAnguiano commented on #343
It looks like the issue has been resolved. Running the tests with the graph statistics code re-enabled no longer causes errors.

[2017-02-02 21:02] eileenchoe commented on #377
@kdahlquist can we move this up to 2:20PM today? @ebachoura can also make it at this earlier time.

[2017-02-02 21:21] kdahlquist commented on #377
Yes.

[2017-02-02 21:57] ebachoura commented on #383
I just finished updating the wiki. Versions and release dates are up to date with the ones that are now static in the package.json.

[2017-02-03 18:03] kdahlquist commented on #343
Someone else needs to test this to make sure there are no errors and then we can close.

[2017-02-03 18:14] kdahlquist opened #388 "Need multiple GRNsight servers to show current work (beta, gamma, delta, etc.)"
@kdahlquist and @dondi talked about this and didn't resolve it, but we have an issue that @anuvarsh has control of the beta server so if anyone else wants to push something to beta, it has to go through @anuvarsh .  I had the idea of just having multiple "beta" servers called "gamma", "delta", etc. so that different subgroups working on different forks could put something up on the server for test

[2017-02-03 18:46] dondi commented on #388
So my understanding of this was actually that this is addressed by the new workflow in #382. Whenever a team member gets to a milestone that is ready to show, they would merge their work into `beta` then ask @anuvarsh to refresh the `beta` deployment. This does not incur the need for additional servers (virtual or otherwise) and stays consistent with how #382 allows multiple forks with periodic me

[2017-02-03 19:05] kdahlquist commented on #388
The problem with this is that @anuvarsh is the bottleneck for refreshing the server and it makes it harder to work asynchronously.  Maybe we could have a "gamma" that @NAnguiano owns so that things can move a little faster?

[2017-02-03 19:09] dondi commented on #388
I can set something up where the beta files are something that everyone can update. That would mean giving everyone a common user (like `grnsight-beta`?) and then anyone can just login as that user when there is a need to refresh the beta. Would that address the issue?

[2017-02-03 19:29] kdahlquist commented on #388
Yes, that sounds like a great solution!  Let us know when you've had a chance to do it.

[2017-02-03 19:32] dondi commented on #388
OK let me see if I can rig it up sometime this weekend.

[2017-02-03 23:44] kdahlquist commented on #377
Completed and lab authorization form submitted.

[2017-02-03 23:44] #377 closed

[2017-02-04 00:15] kdahlquist opened #389 "@kdahlquist, @dondi, @NAguiano need to schedule a meeting"
@NAnguiano and @kdahlquist discussed this morning that she and @dondi need to schedule a meeting to discuss 402 stuff.  We also said that the three of us need to schedule a meeting now that size/scroll/zoom functionality is implemented to make design decisions.  It would be easiest if the three of us could meet at the same time to review.  Once the server issue #388, has been worked out and @NAngu

[2017-02-04 00:16] kdahlquist commented on #376
#389 is now a task for @kdahlquist, @dondi, and @NAnguiano .

[2017-02-06 02:36] dondi commented on #389
9-10am on February 13 works for me (I then have a 10:15am meeting in UHall), or after that meeting, say 11:45am to 1pm, will also work.

[2017-02-06 02:56] dondi commented on #388
OK, a `beta` user has been created (I dropped the `grnsight` figuring it’s redundant) and have transitioned the servers to now be running off that account.

To be able to login, I need to be given an SSH key that is properly installed on an intended `beta` user's computer. Once I have installed that key, one can connect as `beta` with this command:

    ssh beta@grnsight.cs.lmu.edu

The repository

[2017-02-06 02:57] dondi commented on #383
This looks good to me; just waiting on @mihirsamdarshi

[2017-02-06 17:37] kdahlquist commented on #389
Let's go for the later time at 11:45.  I sometimes have trouble getting here by exactly 9 in the morning.  Let's meet in my office, LSB 289.

[2017-02-06 19:44] anuvarsh commented on #388
Did the initial test and I was able to access both of the current screen sessions and processes.

[2017-02-07 18:27] kdahlquist commented on #358
updated link for abstract submission: http://mylmu.co1.qualtrics.com/SE/?SID=SV_4Sjyc2MtNPJgDpH

[2017-02-07 23:42] kdahlquist commented on #345
Finally, as promised, some examples of putting the zoom/scroll buttons within graph window:

1. http://biojs.io/d/biojs-pcviz (example embedded on page)

2. See this page for example: http://www.ebi.ac.uk/ols/ontologies/efo/terms/graph?iri=http://www.ebi.ac.uk/efo/EFO_0000400.  See this page for biojs registry entry: http://biojs.io/d/ols-graphview

[2017-02-08 00:25] kdahlquist commented on #358
I don't see any updates to the abstracts since I last looked.  @mihirsamdarshi et al. need a title and more emphasis on the semantic/syntactic tests and the addition of new GraphML and SIF formats.

It would be great to be able to see revised versions ahead of Thursday's meeting so that we only have minor tweaks left at that point.

[2017-02-08 00:59] NAnguiano commented on #389
11:45 on Feb 13 works for me.

[2017-02-08 01:02] kdahlquist commented on #389
OK, confirmed 11:45 on Feb 13.  I'll leave this open until the meeting as a reminder.

[2017-02-08 01:03] dondi commented on #389
Acknowledged; I’ve placed it in my calendar.

[2017-02-09 00:42] ebachoura commented on #380
I am interested in doing the 3 week summer research session!

[2017-02-09 00:53] NAnguiano commented on #358
@kdahlquist, @anuvarsh and I rewrote the abstract. We are 11 words over the word limit and both of us are stumped on what to take out.

[2017-02-09 01:24] anuvarsh commented on #368
Outline was submitted and pushed to master on Friday. After @kdahlquist and I have the opportunity to talk about any revisions I should make, I will go ahead and close this issue.

[2017-02-09 01:44] anuvarsh commented on #285
I moved the respective the weight's label code within the tick function in graph.js, and that seemed to partially fix the problem. The css labels are not being removed properly after exactly 3 changes in weights visibility options, and the css that the graph gets stuck on a different option every time. Furthermore, the weights continue to show with mouse over when the "always show" option is selec

[2017-02-09 01:47] ebachoura commented on #387
I went ahead and added this section.

[2017-02-09 01:53] anuvarsh commented on #285
Ok so, I can confirm that it is because the CSS tag isn't being removed without a refresh. Working on debugging this now.

[2017-02-09 04:02] eileenchoe commented on #362
Decided that I will focus on SIF tests while @ebachoura will focus on GraphML tests #363 for now. Ran some initial tests using existing SIF files in test-files to understand code structure of the importer.

[2017-02-09 18:34] kdahlquist commented on #380
Great--so we will have a 3-week sprint on GRNsight with @ebachoura , @eileenchoe , and @mihirsamdarshi .  Looking forward to it!  Going to close this one now because no further action is required for now.

[2017-02-09 18:55] kdahlquist commented on #358
I reveiwed @NAnguiano and @anuvarsh 's abstract and got it to 248 words by consolidating what they said about new features and removing references to "beta".  I know @dondi has a packed day today, but if he could review and sign off soon, I think it's ready to submit.

[2017-02-09 23:05] mihirsamdarshi commented on #383
Everything is good on my end

[2017-02-09 23:33] kdahlquist commented on #358
The second abstract is now ready for review by @dondi.  Once he signs off, the abstracts can be submitted.

[2017-02-09 23:36] kdahlquist commented on #361
@kdahlquist and @dondi need to confer on this one one more time because I can't remember the conclusion for this one.

[2017-02-10 00:12] yshin4 commented on #387
@kdahlquist eddie finished this task the issue is waiting for review now.

[2017-02-10 20:23] dondi commented on #358
I hereby sign off…sorry for the delay.

[2017-02-10 20:23] kdahlquist commented on #358
OK, ready to submit!  The deadline is 5:00 today, but better to get them in sooner if possible in case of computer glitches.

[2017-02-10 21:06] kdahlquist commented on #383
OK, closing.

[2017-02-10 21:08] NAnguiano commented on #358
@anuvarsh and I have submitted our abstracts.

[2017-02-10 22:20] eileenchoe commented on #358
poster abstract submitted as well

[2017-02-13 04:38] kdahlquist commented on #388
Has @NAnguiano then pushed her version to the beta server so I can see it live?  The beta page says it was updated in September of last year.  It would be great to be able to see the features in advance of the meeting tomorrow morning #389.

It seems like we need another checklist so that we know that all developers have taken the necessary steps to access:

- [x] @anuvarsh
- [ ] @NAnguiano
- [ ]

[2017-02-13 04:55] kdahlquist commented on #358
I'm dropping the priority on this one for now.  Two weeks before the symposium (Saturday, March 25), the first draft of the poster will be due at the meeting (Thursday, March 16) and the first practice talk by @NAnguiano and @anuvarsh will be given, with revised drafts due at the meeting the following week (Wed, 3/22).

I should also note that you are expected to attend the symposium for the entir

[2017-02-13 05:05] kdahlquist commented on #333
Moving this up to priority 0 and assigning to @yshin4.  The fix she previously implemented reduced the white space, but the problem is that it still gets proportionally longer as the label gets longer.  The white space needs to be a fixed length (and narrow) as the label gets longer.

This is related to issue #318, which is getting a priority 0.5 to be handled next (or maybe in tandem if the two i

[2017-02-13 05:06] kdahlquist commented on #318
Assigning this one to @yshin4 to work on after she finishes with #333.

[2017-02-13 05:09] kdahlquist commented on #355
Assigning this to @mihirsamdarshi.  As noted above, a syntactic test needs to be written for the Excel importer to take care of this case.  Work with @ebachoura and @eileenchoe to define what the equivalent syntactic test would be for GraphML and SIF, respectively

[2017-02-13 05:11] kdahlquist commented on #386
Assigning this to @mihirsamdarshi and bumping it up to priority 0.

[2017-02-13 05:13] kdahlquist commented on #355
This is priority 0.5, after @mihirsamdarshi finishes with #386.

[2017-02-13 05:19] kdahlquist commented on #362
Here's how to approach this one:
1. Read the documentation on the Documentation page of the website to fully understand the specification for this format in GRNsight (which is slightly more specific than the general specification for this format).
2. Look in the test suite to see what tests are already there from @dondi's initial implementation
3. Enumerate the cases for which we don't have test c

[2017-02-13 05:20] kdahlquist commented on #363
Assigning this solely to @ebachoura (@mihirsamdarshi has been given other tasks).

Here's how to approach this one:
1. Read the documentation on the Documentation page of the website to fully understand the specification for this format in GRNsight (which only uses certain aspects of GraphML).
2. Look in the test suite to see what tests are already there from @dondi's initial implementation
3. Enu

[2017-02-13 05:21] dondi commented on #388
Everyone but @mihirsamdarshi did this (and got shown how to update and restart the servers) on Thursday evening, so I checked them all off but one.

[2017-02-13 05:33] kdahlquist commented on #360
Assigned this one to myself for upload to Slideshare, updates to publication and news pages.

[2017-02-13 05:35] kdahlquist commented on #383
Didn't actually hit the close button last time, trying again :)

[2017-02-13 05:35] #383 closed

[2017-02-13 05:44] kdahlquist opened #391 "Task List for Weeks of 2/9 and 2/15"
For @anuvarsh
- [x] #285, finalize refresh issue with showing/hiding weights (priority 0)
- [ ] #264, user defined normalization factor (after above completed, or if need a break from it)

For @yshin4 (generally in the vein of tidying up the graph layout features/bugs)
- [x] #343, verify and then close this one
- [ ] #333, reduce white space on either side of label (priority 0)
- [ ] #318, long no

[2017-02-13 05:45] kdahlquist commented on #376
All open tasks have been moved over to new issue #391 .

[2017-02-13 05:45] #376 closed

[2017-02-13 05:50] dondi commented on #361
For later confirmation, I think the first paragraph of @ebachoura most recent comment above will suffice for this. The Dalliance example that was found only talks about running the web servers locally for development purposes. Our `npm install grnsight` version actually _can_ run as local web servers without developer intent. So I think a description and explanation along the lines of @ebachoura’s

[2017-02-13 06:03] kdahlquist commented on #361
OK.  Let's try to settle this task on Monday.

[2017-02-13 06:03] kdahlquist commented on #387
@ebachoura: when you add the "review requested" label, make sure you assign the issue to the person whom you want to review it (in this case, @kdahlquist).

* Don't forget to update the "last modified" date when you update a web page; it must be done manually.
* I made a couple of slight edits, including making a hyperlink for the DOI (you just copied the markdown version).

It's all done, so I'm

[2017-02-13 06:03] #387 closed

[2017-02-13 06:06] kdahlquist commented on #382
Having just updated the gh-pages branch, I note that there are currently three functional branches besides master:
- beta
- issue204
- testFixes

Do we need to merge (and/or delete) issue204 and testFixes so that everyone is on the same page?

[2017-02-13 06:12] kdahlquist commented on #205
This is related to #383, which is now closed.  I recommend that we do this at the beginning of each academic year (August/September) so that we take care of any upgrades and resulting bugs before starting the year's work.  I'm thinking that I don't like the "ongoing" label and am giving this a priority 1 and assigning to @kdahlquist and @dondi so that we will remember to do this in August 2017.

[2017-02-13 06:18] kdahlquist commented on #368
@kdahlquist and @anuvarsh need to schedule a meeting to discuss.  I'm free on Tuesday from 11:00 to 5:00, Thursday 11:00-2:30 or Friday 11:30-1:00.  Hopefully one of those times works for you.

[2017-02-13 06:28] kdahlquist commented on #378
Since this was due 2/6 according to the last comment by @NAnguiano, shouldn't it be uploaded to the repo for review?

[2017-02-13 06:33] kdahlquist opened #392 "Make the arrowheads larger for unweighted and thinnest weighted edges: fix tips going behind nodes"
Since the GRNmap team is using GRNsight extensively, one thing I've noticed is that the arrowheads for the unweighted and thinnest weighted edges are actually pretty small and hard to see.  We have trouble distinguishing whether an edge is incoming or outgoing from a node.  The arrowheads will need to be larger for these cases; I don't think we will need to enlarge the ones for thicker weighted ed

[2017-02-13 06:42] kdahlquist commented on #345
As I noted on another issue, I'm not sure that I'm looking at the latest version on beta, but I'll note that there is a difference between the bounding box display in the browser window and (for the lack of a better term, I'll use the GenMAPP term) the drafting board.  It's not making sense for me to see "infinite" as a choice listed after very small, small, etc.

[2017-02-13 06:52] kdahlquist opened #393 "Semantic versioning in light of more frequent changes to beta"
I think we need to think about our semantic versioning scheme in light of the more frequent updates to beta enabled by #388.  I think that we should be agreed that we are working on version 2 at this point and that our next release will be v2 something.  I think that updates to beta should increment the patch number, like v2.0.1.  This will give us something besides the last modified date to go on

[2017-02-13 17:37] kdahlquist opened #394 "Add link to OMIC Tools on Links page"
Add link to OMIC Tools on Links page

Verify this: <a href="https://omictools.com/gene-regulatory-networks-category" target="_blank"><img src="https://omictools.com/img/logo-blue.png" alt="OMICtools"></a>

[2017-02-13 20:36] kdahlquist commented on #389
done.

[2017-02-13 20:36] #389 closed

[2017-02-13 20:45] kdahlquist commented on #345
1. GRNsight web app should set its initial drafting board and viewport size to the best fit (among our three fixed sizes) based on the current iframe dimensions and zoom factor (scale is at 1). I.e., world starts with drafting board and viewport aligned.  Note that the viewport does not change after this point.
    * small is for 13-15 " laptop size
    * medium is for best fit on @kdahlquist's sc

[2017-02-13 20:47] kdahlquist opened #395 "Implement automatic discovery of initial drafting board and viewport size"
GRNsight web app should set its initial drafting board and viewport size to the best fit (among our three fixed sizes - Issue #397) based on the current iframe dimensions and zoom factor (scale is at 1). I.e., world starts with drafting board and viewport aligned. The iFrame should determine its size based on the amount of available space on the user's screen.

 Note that the viewport does not cha

[2017-02-13 20:47] kdahlquist opened #396 "Implement preference for hard or adaptive drafting board size"
If the user has set a hard drafting board, then we are done--i.e., the nodes will bump up against the boundary and that's OK (current GRNsight behavior).

If the user has set a _adaptive_drafting board, then when the user loads a GRN, @NAnguiano will implement an algorithm that detects when nodes hit the edge of the drafting board and will expand it gradually (Issue #398).

[2017-02-13 20:47] kdahlquist opened #397 "Implement preference to change viewport size between small, medium, large"
There will be three size options:

- small is for 13-15 " laptop size
- medium is for best fit on @kdahlquist's screen (~24" monitor)
- large is larger than that

[2017-02-13 20:48] kdahlquist opened #398 "Implement adaptive drafting board resizing algorithm"
If the user has selected an adaptive drafting board (Issue #396), an algorithm needs to detect when nodes hit the edge of the drafting board and expand it gradually.

[2017-02-13 20:48] kdahlquist opened #399 "Implement viewport scrolling and drafting board scaling"
Zoom is a separate multiplier that is applied to the entire drafting board once its size is set (control is slider with a bar at 100%)
Through all of this, viewport remains constant, scrolling is the same as translating the viewport's origin and zooming is changing the scale factor applied to the drafting board.

[2017-02-13 23:14] anuvarsh commented on #368
I am available at 3pm on Tuesday.

[2017-02-14 00:02] NAnguiano commented on #345
All of the issues that were created based on the comment above (Issues #395, #396, #397, #398, and #399) have been filled in with the relevant portions of the comment.

[2017-02-14 01:42] kdahlquist commented on #368
OK.  See you then!

[2017-02-15 02:21] yshin4 commented on #343
Verified this did not print out any errors and going to close this one.

[2017-02-15 02:21] #343 closed

[2017-02-16 00:53] dondi commented on #285
This has turned out to be more complicated than expected due to the complex control flow of the graph layout algorithm used by D3. However, @dondi suggested an approach where the mouse listener that displays the weights dynamically can be refactored into one that reads the current setting on the spot. i.e., Instead of conditionally installing a mouse listener that always shows weights dynamically,

[2017-02-16 00:54] dondi commented on #264
Due to the unexpected difficulties with #285, this did not see movement this week.

[2017-02-16 01:11] dondi commented on #362
@eileenchoe has successfully implemented one syntactic warning and will just keep proceeding with more. At the meeting, @dondi showed her how she can include unit tests for this in the codebase.

[2017-02-16 01:27] dondi commented on #382
@dondi deleted the obsolete branches from GRNsight; the hypothesis is that one or more team members has been unintentionally pushing their local branches back. With our switch to forks, we don't expect this to happen again because pull requests force a specific branch to be chosen. Will close this issue for now and we will monitor the branch list to see if they come back.

[2017-02-16 01:27] #382 closed

[2017-02-16 01:34] mihirsamdarshi commented on #388
Reviewed all changes

[2017-02-16 04:43] kdahlquist commented on #388
This can be closed, then.

[2017-02-16 04:43] #388 closed

[2017-02-16 04:46] kdahlquist commented on #368
Feedback was given at the Tuesday meeting.  There's no need to update the outline document; just proceed with the writing.

[2017-02-16 04:46] #368 closed

[2017-02-16 04:55] kdahlquist commented on #345
Closing this one since the issues for the subtasks have been opened.

[2017-02-16 04:55] #345 closed

[2017-02-16 04:58] kdahlquist commented on #395
I just wanted to note that if the _automatic_ part of the automatic discovery gets us bogged down, I would be OK with it not being automatic and moving on to the meat of the functionality.  I can imagine that this might be browser-dependent and get hairy.

[2017-02-16 06:46] kdahlquist opened #400 "Paper on developing user-friendly bioinformatics tools for biologists"
The team should check out this article, especially @NAnguiano and @anuvarsh.

Kumar, S., & Dudley, J. (2007). Bioinformatics software for biologists in the genomics era. Bioinformatics, 23(14), 1713-1717. https://academic.oup.com/bioinformatics/article-lookup/doi/10.1093/bioinformatics/btm239

[2017-02-17 18:49] kdahlquist commented on #400
Here's another one:

List, M., Ebert, P., & Albrecht, F. (2017). Ten Simple Rules for Developing Usable Software in Computational Biology. PLOS Computational Biology, 13(1), e1005265.

http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005265

[2017-02-23 17:14] kdahlquist commented on #400
I changed the title of this issue for us to post papers of interest to the group as they come in.  I got an article alert for this one:

[Schäfer, R. A., & Voß, B. (2016). VisualGraphX: interactive graph visualization within Galaxy. Bioinformatics, 32(22), 3525-3527.](https://academic.oup.com/bioinformatics/article/32/22/3525/2525593/VisualGraphX-interactive-graph-visualization)

and this one:

[M

[2017-02-23 23:09] yshin4 commented on #318
Noticed even shorter gene name nodes (length 4) has an arrow that is off as well when it is bold, will look more into it once the #333 is finished.

[2017-02-23 23:09] NAnguiano commented on #398
Here's an example related to resizeable force graph layouts. It should be a good place to start.
https://bl.ocks.org/mbostock/3355967

[2017-02-23 23:10] NAnguiano commented on #395
Looking at this, it looks like the web page and the iFrame are going to need to be able to communicate with each other in order for this to become automatic. They can't right now, but I'm working on getting this... well, working.

I'm going off of this example on stackoverflow currently.
http://stackoverflow.com/questions/9153445/how-to-communicate-between-iframe-and-the-parent-site

[2017-02-23 23:11] kdahlquist commented on #285
@anuvarsh has all showing and all hiding working, but now upon mouseover, the weights flash.  So needs to consult with @dondi some more.

In the interest of moving on, @kdahlquist says spend one more week on it to see if you can get it to work.  If not, then the user can access the weights by saying show them all and we can temporarily disable the mouseover option.

[2017-02-23 23:12] yshin4 commented on #333
After looking for a way to figure out a better formula and trying things out on different sized gene name nodes, settled on a formula for now. The white space is reduced and the letter doesn't go out of the node, but does not have equal spaces before and after the gene names for different sized nodes.

Talk to @NAnguiano and decided that @yshin4 will look more in to the svg part of the node data a

[2017-02-23 23:16] kdahlquist commented on #386
@mihirsamdarshi is working on this right now.  Says will be done by next week.

[2017-02-23 23:20] kdahlquist commented on #355
@anuvarsh says that these tests exist, but since further work has been done since then, something must have changed.

[2017-02-23 23:23] kdahlquist commented on #362
Warnings that have already been written are now showing up in the warnings box on GRNsight when use uploads bad file.

[2017-02-23 23:27] kdahlquist commented on #363
Warnings that have already been written are now showing up in the warnings box on GRNsight when use uploads bad file.

[2017-02-23 23:37] anuvarsh commented on #355
These files technically exist in test-files>sheet-modifications>wrong-sheet-name-input/output, but they are a several random and unnecessary sheets in the file. Perhaps these files should be reworked/simplified so only network or network-weighted sheets exist so we can confirm that the changes in those sheets are the only things being tested.

[2017-02-23 23:50] yshin4 commented on #333
This is for myself, where I can take a look when I get back to work: http://stackoverflow.com/questions/118241/calculate-text-width-with-javascript

var element = document.getElementById ("mytext");
var width = element.clientWidth;
var height = element.clientHeight;

Trying to look for the 'width' of the text in the node. Inspecting seems to show the width but don't know how to get that data yet.

[2017-02-24 00:05] kdahlquist commented on #386
@ebachoura and @eileenchoe are in fact working on this exact issue because they thought that this issue was a sub-issue of #362 / #363. @mihirsamdarshi needs talk to them.

[2017-02-24 01:38] anuvarsh commented on #285
I met with @dondi and we worked out a solution to the flashing weights. Pushing the solution to my branch and issuing a pull request now. I'm going to wait to merge the pull request with the live beta version until next week so I can make sure I'm not messing with anyone else's code.

[2017-02-24 22:28] anuvarsh commented on #285
I actually went ahead and completed the pull request yesterday because GitHub told me there were no merge conflicts. Because everything is uploaded and all of the tests are passing, I'm going to go ahead and close this issue.

[2017-02-26 04:35] kdahlquist commented on #386
@ebachoura and @eileenchoe, I need clarification as to the status of this one.  Is it done? or is there more work needed?

[2017-02-26 04:50] kdahlquist opened #403 "Task List for Weeks of 2/23 and 3/2"
For @anuvarsh
- [ ] #264, user defined normalization factor (priority 0)
- [ ] #370, Materials and Methods/ Results (priority 0)

For @yshin4 (generally in the vein of tidying up the graph layout features/bugs)
- [ ] #333, reduce white space on either side of label (priority 0)
- [ ] #318, long node labels mess up self-regulatory arrows (priority 0.5) because these two seem related
- [ ] #392, mak

[2017-02-26 04:51] kdahlquist commented on #391
remaining open issues moved to #403.

[2017-02-26 04:51] #391 closed

[2017-02-26 04:57] kdahlquist commented on #369
Got your attachment.  Now that you are into the writing, you need to have a References section with all of your cited references in it, not just the in text citations, for all the drafts you turn in.

Friday would be best for me to meet.  I'm available 9:00-10:00, 11:15-1:00, or 3:30-5:00.

[2017-02-26 05:13] kdahlquist opened #404 "How to fit "reveiw requested" and refreshing beta server into workflow"
Due to issue #382 and #388, we've sorted out the mechanics of our workflow, i.e., work on forks of code, merge beta into your fork before a work session, manage merges back to beta with pull requests.  Also, everybody now has access to the server to make their changes "live" so @kdahlquist can see.

However, as I noted in issue #393, there needs to be some notification that changes have, in fact,

[2017-02-26 05:15] kdahlquist commented on #285
I'm sorry @anuvarsh; I know you were excited to close this one, but I'm re-opening and labeling with review requested.  I want to see with my own eyes the fix on the beta server live before this is closed, especially since I was the one who reported the bug with changing the viewing of the weights causing the graph to reload.

[2017-02-26 21:15] eileenchoe commented on #362
@kdahlquist here are times that I am available this week to meet about this issue. I'm hoping we can meet before my research block on Wednesday, so I can get a significant amount of work done for this issue this week.
- Mon 11:20AM - 12:30PM,  2:20PM-4:20PM
- Tues 4:10PM-5:30PM
- Thurs 8:30AM - 9:30AM, 4:10PM-5:30PM

[2017-02-26 21:15] eileenchoe commented on #386
@mihirsamdarshi is reviewing the semantic checker integration for SIF an GraphML and will update status when finished

[2017-02-27 17:16] kdahlquist commented on #362
@eileenchoe, I can do Tuesday, 4:10-5:15.  Please come meet me in my office, LSB 289.

[2017-02-27 17:23] ebachoura commented on #363
@kdahlquist I am free to meet during these times this week. I am also hoping to meet before Wednesday.
- Tuesday 2:15 - 4:00
- Wednesday 11:20 - 2:25

[2017-02-27 19:24] NAnguiano commented on #395
@dondi pointed out that I was probably overthinking this.

He was right.

This is now working properly. I've made a few changes to the CSS of the beta page so that it looks better when viewing the automatic sizing. The most notable change is that I significantly increased the height of the iframe. This allows for even the largest size to be viewable in one piece without vertical scrolling. I would

[2017-02-27 19:40] kdahlquist commented on #363
@ebachoura I can meet on Tuesday at 2:15; please come to my office, LSB 289.

[2017-02-27 20:08] kdahlquist commented on #397
Medium, according to @kdahlquist's screen using Firefox:

Current beta is 14.5 inches wide, should go to 15 inches.
Current beta is 8.25 inches wide, should go to 9 inches.

[2017-02-27 20:13] kdahlquist commented on #397
small is a little too big.  The height is OK, but the width needs to shrink by 1/2 inch.

[2017-02-27 20:15] kdahlquist commented on #395
Note that on @kdahlquist's laptop, using Firefox at 100%, it chose "medium" and not "small" as expected.

[2017-02-27 20:17] NAnguiano commented on #395
This is working with my current method, but the method I'm using isn't the best. I'll be switching it to use [media queries](https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries), which [Bootstrap](https://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints) also uses.

When it comes to expanding the div to be the height of the iFrame, I'll use the [ifra

[2017-02-27 20:18] kdahlquist commented on #397
We noted at our meeting that final tweaks to the sizes will be made after UI changes are made.  So, make these changes now and we'll revisit it later.

[2017-02-27 20:38] kdahlquist opened #406 "Comment on this issue when beta is refreshed."
I'm opening this issue so that you can post a comment here when the GRNsight beta server is refreshed, so that @kdahlquist (and others) will get an e-mail notification.

[2017-02-27 20:42] kdahlquist commented on #404
Upon discussion between @NAnguiano, @dondi, and @kdahlquist, here are some revisions to our process.

1. You cannot accept your own pull request.
    * A second team member must independently run the tests, and they should pass.
    * The second team member must also independently make sure that the code actually runs on a local version of the site.
    * If both of these work, then the pull reque

[2017-02-27 20:43] kdahlquist commented on #403
Everyone, sign off on #404.

[2017-02-27 20:46] NAnguiano opened #407 "Update Server to Ubuntu Xenial Xerus"
Our version of Ubuntu (14.04) only supports node version 0.10.25. The next version, Xenial, supports up to node version 4.2.6.

Fun Fact, did you know that a [xerus](https://en.wikipedia.org/wiki/African_ground_squirrel) is a genus of ground squirrels?

![Ground Squirrel](https://i.ytimg.com/vi/K2BIq4T0kxo/hqdefault.jpg)
[Source](https://www.youtube.com/watch?v=K2BIq4T0kxo&ab_channel=tomb0171)

[2017-02-27 20:51] eileenchoe commented on #362
@kdahlquist Great, see you then.

[2017-02-28 02:34] NAnguiano commented on #397
I tweaked the sizes as requested.

[2017-02-28 02:35] NAnguiano commented on #395
Ok. I switched this to using media queries. I also fixed the issue that was causing it to choose medium instead of small.

[2017-02-28 02:46] NAnguiano opened #408 "Semantic Checker Throws Errors On Loading a Graph"
I didn't see any issue that this would fit into, so I'm just making a new one.

The semantic checker is having some issues right now and currently will not run on the beta server in its current state. When I went to refresh the beta server this morning, the semantic checker crashed the server. @dondi and I hotfixed a few random issues that were found, but upon loading a file, this happened:
![scre

[2017-02-28 04:23] kdahlquist commented on #369
@anuvarsh varsh--I'm also available 10-11 on Friday since @NAnguiano and I have cancelled our Friday meeting.  Please let me know what works for you so I can put you in my calendar.

[2017-02-28 05:29] kdahlquist commented on #408
@NAnguiano, is your "random note" above related to this new issue or is it something separate?  If it is separate, please make a new issue for it so that it doesn't get buried.  Thanks.

[2017-02-28 05:31] NAnguiano commented on #408
It's related insofar that it was significantly contributing to the initial problems we had getting beta running. I'll make a new issue for it anyways though, since it is separate overall.

[2017-02-28 05:34] NAnguiano opened #410 "Watch Your ES6: Old Node Requires Old-Style Code"
The version of node being run on the server is extremely old: 0.10. @dondi is going to upgrade it eventually (issue #407), but for now, there's many things that simply just don't work when they're pushed to the server. Most notably, `for of` (ex: `for (var potato of potatoArray) {`), will not work on the current version. This would not show up in testing, and @dondi and I were not aware of it unti

[2017-02-28 19:55] kdahlquist opened #411 "Changes to UI to support new features"
@dondi, @NAnguiano, and @kdahlquist had a meeting on 2/27 to discuss changes to the GRNsight UI needed to support the new features of drafting board and viewport resizing, showing/hiding weights, changing weight normalization value, and eventually graph statistics.

We didn't have as much time to meet as we would have liked, but here is a summary of what we talked about:
* Make the force graph par

[2017-02-28 20:57] kdahlquist commented on #393
This is now implemented as described in issue #404.

[2017-02-28 20:57] #393 closed

[2017-02-28 22:58] kdahlquist commented on #363
@ebachoura and @kdahlquist just met and discussed strategy for how to approach these tests.
1. Use simple test files that are "bare bones" and hone in on the thing that needs to be tested.  A simple graph of four nodes called A, B, C, D with four edges covering the different edge types was suggested.
2. Think "outside the box", i.e., don't approach the program in the way that a user is expected to

[2017-02-28 23:19] anuvarsh commented on #369
Sorry for the delayed response. Friday at 4pm is best for me.

[2017-02-28 23:24] kdahlquist commented on #369
Confirmed--see you then!

[2017-03-01 00:57] kdahlquist commented on #362
@eileenchoe and @kdahlquist met to talk about tests for SIF.

The types of tests that are going to be most relevant for SIF are ones that involve missing data or stray data outside the confines of the data matrix.

Missing data:
* Cell A1 missing
* Cell A1 present, but Cell A2 is missing, but Cell A3 is present
* Corners
* First row, second row
* First column, second column, third column in the th

[2017-03-01 02:58] yshin4 commented on #408
Changed for of loop, which was causing the problem, into a traditional for loop. Also fixed the typo in the semantic checker. @NAnguiano and @yshin4 can confirm that the demo server is running without the problems proposed above. All the errors passed the test as well.

[2017-03-01 03:09] NAnguiano commented on #404
I just learned that if you make absolutely any commits to your forked beta branch before the pull request is accepted, it adds them to your pull request. So if you want to begin working on a different issue before your PR is accepted, make sure to do it in a different branch, then merge that branch into beta once the PR is accepted.

[2017-03-01 03:10] yshin4 opened #413 "npm install does not include xmlbuilder"
@yshin4 was checking @NAnguiano pull request and had to npm install again for the newly cloned repo of nicole's. However, it seems like package.json doesn't include xmlbuilder due to the error message I got. Below are screenshots of npm install and the error. In addition, xml2js had to be installed manually as well.

![image](https://cloud.githubusercontent.com/assets/16246811/23444326/394dfb4e-fd

[2017-03-01 03:15] yshin4 commented on #413
@yshin4 was accessing the wrong directory (master) and went onto beta which worked fine. Closing the issue since it was a mistake and it is an error that already got fixed in beta. In beta, npm install and npm test works fine without asking for any additional installations.

[2017-03-01 03:15] #413 closed

[2017-03-01 03:18] NAnguiano commented on #406
The beta has been refreshed with the fix for issue #408. It also includes the tweaks from #397 and #395.

[2017-03-01 03:36] NAnguiano opened #414 "Why would running both node processes simultaneously cause no graphs to load? (npm start)"
@dondi
I was trying to find a way that enables the developers to only run "npm start" in a single place rather than needing to open two terminals (or terminal tabs), cding one into web-client and the other into server, and then running node app.js in both places.

I found two npm options: concurrently and parallelshell, both of which do pretty much the same thing and allow for the user to run two

[2017-03-01 03:40] yshin4 commented on #333
http://stackoverflow.com/questions/1636842/svg-get-text-element-width

[2017-03-01 17:35] kdahlquist commented on #395
So it now correctly chooses small on my laptop (sorry, I'm not in my office to check the medium).  However, the right edge of the bounding box/viewport is not showing (no grey line) and the nodes are disappearing off the right edge.  The scrollbar on the right is my browser scrollbar (Firefox v.51.0.1 32-bit).

![image](https://cloud.githubusercontent.com/assets/6463867/23472531/f9c5c780-fe61-11e6

[2017-03-01 17:39] kdahlquist commented on #408
I verified that v2.0.2 is running on the beta page this morning.  If that's all I need to do to check this one, it's ready for closing.  If there's something else I should do, let me know, otherwise go ahead and close this one.

[2017-03-01 17:42] kdahlquist commented on #397
I can't check the sizes specifically right now, but I can verify that choosing the radio buttons changes the size.  I also note that changing the size causes a reload, which is something we don't want to have happen.

[2017-03-01 18:14] dondi commented on #404
Yes, pull requests are “live”—they accrue more commits if you push to them. This can go both ways. On the one hand, like @NAnguiano said, if you are moving on to a new project, you’ll want to start working in a branch first. On the other hand, if you notice something that needs a fix, then you can just work and commit (and push) to the same branch, and this will be reflected in the pull request.

[2017-03-01 20:25] kdahlquist commented on #395
The medium setting was automatically discovered for my office monitor and the viewport size for this setting is great--no changes needed.

[2017-03-01 20:27] kdahlquist commented on #285
I have now verified with v2.0.2 on beta that this functionality is working.  Closing the issue now--thanks for your patience.

[2017-03-01 20:27] #285 closed

[2017-03-01 23:48] NAnguiano commented on #408
Alright. Going ahead and closing this one then!

[2017-03-01 23:48] #408 closed

[2017-03-02 00:38] NAnguiano commented on #397
It does currently trigger a reload. This should be fixed once I get the adaptive drafting board fully implemented (#398), as at that point the code will allow for the graph to change size without reloading. Until I get that completed, a reload will be required. Without a reload, the svg doesn't see the new size of the drafting board, and will continue to operate as if the size had not changed.

[2017-03-02 00:39] mihirsamdarshi commented on #386
reviewed, it works

[2017-03-02 00:40] dondi commented on #264
@anuvarsh just started but at the meeting we reviewed the portions of the _graph.js_ code that would likely impact this new feature.

[2017-03-02 00:42] dondi commented on #333
This looks like a good lead; carry on :ok_hand:

[2017-03-02 00:46] dondi commented on #355
@mihirsamdarshi has just started and has been able to replicate the issue. He will experiment with some changes or additions to the test files and @dondi suggested that he looked at references to the `stroke` property in _graph.js_.

[2017-03-02 00:58] dondi commented on #362
@dondi took a look at the list and it looks OK. Meanwhile @eileenchoe has started looking at the cases and has found some situations that are already "handled" by the current implementation. She will ask @kdahlquist whether such cases can stay this way, or if the code should explicitly flag an error that notifies the user of the issue.

[This link](http://www.cbmc.it/fastcent/doc/SifFormat.htm) ma

[2017-03-02 01:13] dondi commented on #363
Regarding point 5 in the above comment, there are actually precedents on both sides regarding this issue:
- Web browsers ignore, without errors, any tags in HTML that they do not recognize
- Microsoft Office and other productivity apps will frequently flag unused features when certain files are opened, particularly if such files are not in an app's native format

@dondi does not have a specific pr

[2017-03-02 01:28] dondi commented on #393
This was indeed resolved during the the 2/27 meeting with @NAnguiano; checking off the task list now.

[2017-03-04 22:38] NAnguiano commented on #414
I figured out what was happening. It has nothing to do with them being run concurrently - Instead, it's due to the paths on the demo files. Because the paths are hardcoded, when the server is run from the parent directory, all of the paths are wrong. As a result, it's trying to grab a graph that doesn't exist. Fixing that seems to have fixed the problem.

As a result though, the old method of goin

[2017-03-06 17:51] kdahlquist commented on #414
@NAnguiano, would you please update the documentation page on the wiki with what you have discovered here.  https://github.com/dondi/GRNsight/wiki/Running-the-Applications

One @NAnguiano has updated the documentation, would everyone on the team please acknowledge on this check list that he/she is able to run it this way:

- [ ] @mihirsamdarshi
- [ ] @anuvarsh
- [ ] @ebachoura
- [ ] @eileenchoe
-

[2017-03-06 17:52] kdahlquist commented on #361
@NAnguiano needs to update wiki https://github.com/dondi/GRNsight/wiki/Running-the-Applications with new way of installing and team needs to sign off on issue #414.

[2017-03-06 17:52] #361 closed

[2017-03-06 21:59] NAnguiano commented on #414
@everyone (why isn't this a thing you can do?), right now this is just on my fork. Everyone can test it on my fork if they want to see how it works. Just load it up, `npm install`, then run `npm start` and prepare to be amazed.

The implications of doing this extend a little further than just changing the way that the apps are launched. Namely, the beta server (and master, once they are merged) wo

[2017-03-15 22:22] anuvarsh commented on #370
An extension has been granted, so this assignment is now due on Friday, March 24th (end of Week 10).

@dondi, I am working on my figures/tables and I am having difficulty getting test coverage statistics. Do you by chance remember how to run Istanbul with our set-up of Mocha to get those numbers?

[2017-03-16 01:02] anuvarsh opened #416 "Systems Biology Conference Poster on Website"
The Southern California Conference for Systems Biology poster isn't currently on the publications page under the posters tab.

[2017-03-16 03:10] anuvarsh commented on #358
The most recent draft of my and @NAnguiano's presentation has been pushed to documents>presentations in master. I believe @eileenchoe also pushed her, @mihirsamdarshi, and @ebachoura's poster to master today as well.

Looking forward to presenting and getting some feedback tomorrow!

[2017-03-16 19:07] kdahlquist commented on #416
I know; it's been on my to do list, but I haven't had a chance to do it.  That's why I left #360 open assigned to me.

[2017-03-16 20:04] kdahlquist commented on #358
OK, retrieving now to look at in advance of the meeting.  I was confused at first because you named your file with 201603 instead of 201703!

[2017-03-16 20:19] anuvarsh commented on #358
Oops! Hahaha, thank you for catching the typo!

[2017-03-16 22:55] mihirsamdarshi commented on #355
it seems that the issue originates in the actually _graph.js_ file, in the lines that depend on the normalized weights for the ends of the edges. I'm working on it still.

[2017-03-16 22:57] yshin4 commented on #333
I am trying to use
var bbox = textElement.getBBox();
var width = bbox.width;
to get the width of the text, but I don't know what SVG version we have and apparently it only works for 1.1 and above. Once I can accessthe width of the text element I will be able to modify the box accordingly.

[2017-03-16 22:59] eileenchoe commented on #362
Conclusion reached with @kdahlquist that a strict interpretation of "pd" should be required for unweighted networks. This is due to the fact that for SIF files in the "multi-column" format, if the relationship type is missing, the value of the target shifts into the "relationship" slot.

[2017-03-16 23:00] ebachoura commented on #363
I wrote all of the graphML test cases that I need and I wrote up the warning for the missing edge weight, but I still need to get it to display the warning text, so I will talk with @anuvarsh on how to do that properly.

[2017-03-18 23:28] eileenchoe commented on #362
Worked with @dondi to enable the error modal for SIF and GraphML importers. @ebachoura please review changes on my fork and confirm that it works for your GraphML tests. Additionally, updated the error message when the user tries to upload a SIF or GraphML file under "Open" to include information to redirect the user to use the "Importer" if they actually intended to upload a SIF or GraphML file.

[2017-03-18 23:33] eileenchoe commented on #362
Bug found in the Error Modal for SIF files. Clicking the "Select New File" button from the error modal opens an upload box which only accepts the XML file extension, when it should only accept the .sif extension. Can't pinpoint where the error occurs in the code, but will add this to tasks for the week.

[2017-03-21 21:35] kdahlquist commented on #416
closing because duplicate

[2017-03-21 21:35] #416 closed

[2017-03-21 21:37] kdahlquist commented on #358
@mihirsamdarshi , @yshin4 , @ebachoura , @eileenchoe: no one has picked up the comments I made on your poster draft.  They are pinned to the bulletin board outside my office door.  There is not unlimited time in which to work on this.  I need to see another draft and the final version needs to get into the queue for printing soon.  Please let me know when I can expect to see another draft of the p

[2017-03-22 00:05] eileenchoe commented on #358
Just picked up the poster draft with comments, and reviewed changes with @kdahlquist. Will have the final draft ready by the end of work session tomorrow at 8PM.

[2017-03-22 05:25] NAnguiano opened #417 "Missing Value Error is not being caught when there are missing values in the matrix"
If there are any missing values in the matrix, a missing value error should be returned. Right now, a missing value error is not being returned. It also seems like the missing value error is being caught in the wrong spot - almost as if it's a catch-all for all of the problems that could arise in the matrix. In the spot that it looks like a missing value error should be caught, it seems as though

[2017-03-23 02:05] eileenchoe commented on #358
Final poster draft uploaded to documents/posters. @kdahlquist please review the "Why GRNsight" section specifically. Added this section per our discussion.

[2017-03-23 05:44] kdahlquist commented on #358
I reviewed the new version of the poster and made minor changes to that section (title, a little rearrangement of bullets). I also did a little clean up throughout with line breaks, periods, capitalization and adding references.  The new version is pushed to the repo and I will be submitting it to John to be printed.  You'll be cc'd on that message; you will receive an e-mail when the poster is re

[2017-03-24 07:01] yshin4 commented on #333
Trying to find the way to acquire text element's width that can be seen from inspecting the graph on site. However, because we use existing node data to create the graph through svg, I dont think I have a div to access for the text element. I tried to use the BBox() but our svg is 0.1.0 while using BBox I need svg 1.1. Will research more to get html elements (text width) directly.

[2017-03-24 18:05] anuvarsh commented on #369
Because this assignment was already submitted, @kdahlquist and I already had our meeting about the Introduction, I'll go ahead and close this task.

[2017-03-24 18:05] #369 closed

[2017-03-24 21:33] anuvarsh commented on #370
The MM/Results section has been uploaded to the master branch under documentation>reports, and has been emailed to @kdahlquist.

[2017-03-27 23:21] kdahlquist commented on #358
Good work on Saturday, everyone!

@anuvarsh, will you please make sure that the final version of your talk is in the repository?  The final poster version is already there.

I'm going to close this and remind everyone to please return to the tasks/issues you were working on pre-symposium prep for this week and I'll see you on Thursday for the GRNsight meeting.

I will begin another issue for updat

[2017-03-27 23:21] #358 closed

[2017-03-27 23:28] kdahlquist opened #418 "Website updates to News, Publications, People pages"
This is a reminder to @kdahlquist to update the website with stuff from the SoCal systems biology conference and the LMU URS.  Specifically:

News items about the conferences
Posters/talks on the Publications page
New picture on the People page

(Put reminder here due to closing issues #358 and #360.)

[2017-03-27 23:29] kdahlquist commented on #360
OK, now closing this one since opened #418.

[2017-03-27 23:29] #360 closed

[2017-03-27 23:32] kdahlquist commented on #403
Reminder to everyone that now the LMU Symposium prep is over, please return to your assigned issues/tasks for this week.  We will refresh this task list at our meeting on Thursday.

[2017-03-28 01:20] NAnguiano commented on #398
This is done on my fork.

[2017-03-28 01:21] NAnguiano commented on #399
Zooming and scrolling is functional on my fork with the mousewheel as well as click to drag. Now to get it working with buttons.

[2017-03-28 02:02] NAnguiano commented on #396
This is fully functional on my fork.

[2017-03-28 03:25] dondi commented on #404
I’ve been meaning to post this for a while and am finally getting around to it. The workflow we have right now is _nearly_ the same as Atlassian’s “Gitflow Workflow,” except that we don’t (yet) have the concept of _release branches_. I think it will be useful for the team to look at the process described here:

https://www.atlassian.com/git/tutorials/comparing-workflows#gitflow-workflow

You will

[2017-03-28 05:59] NAnguiano commented on #397
The reloading issue is fixed on my fork.

[2017-03-28 06:14] NAnguiano commented on #399
This is now done on my fork. The current implementation doesn't look pretty, but it works.

Since #395, #396, #397, #398, and #399 are all done, it's definitely time for another PR. Trying to figure out whether I want to add all of this code to a new PR, or just add it to the existing one. After I meet with @yshin4 tomorrow, I'll make a new one containing all of this new stuff.

[2017-03-28 20:04] kdahlquist commented on #399
@NAnguiano, I'm in the office all Tuesday afternoon if you need me to look at something with respect to  #395, #396, #397, #398, and #399.  Otherwise, I hope that the PR can be completed and the new work up on the beta server in advance of our meeting on Thursday so I can take a look and comment.

[2017-03-28 20:07] NAnguiano commented on #399
@kdahlquist I'm in class right now, but it gets out at 2:30. I can come by right after that. Regardless, the PR should be up tonight after my meeting with @yshin4.

[2017-03-28 20:29] kdahlquist commented on #399
Sounds good.

[2017-03-28 22:37] kdahlquist commented on #397
Making this a review requested and assigning to me.  Since this is related to #399, #396, #398, as soon as pull request #415 has been taken care of and @NAnguiano can make this live on beta, I will review them as a batch and close.

[2017-03-28 22:38] kdahlquist commented on #395
Labeling this "review requested" and assigning to me.

[2017-03-28 22:48] kdahlquist commented on #399
@NAnguiano and I met and she showed me the implementation on her laptop because we are waiting for pull request #415 to be accepted.

Right now, zooming is enabled, either by clicking the (+) and (-) buttons or by using the mouse wheel.
* She will turn the buttons into a slider with a marker at 100% (scale of 1) so that the user can easily return to 100%.
Right now, scrolling is enabled, either by

[2017-03-28 22:49] kdahlquist commented on #398
Labeling this one with "review requested" and assigning myself.  Will close after pull request #415 is accepted and the functionality is live on beta.

[2017-03-28 22:51] kdahlquist commented on #396
Adding "review requested" and assigning to @kdahlquist.  Will close once pull request #415 is accepted and the functionality is live on beta.

[2017-03-28 22:52] kdahlquist commented on #290
Moving this up to priority 0 since @NAnguiano wants to work on this while waiting for the pull request and review requesteds to be closed.

[2017-03-28 22:53] NAnguiano opened #419 "Don't show Edge Weight Options when an unweighted graph is loaded"
I don't think that the edge weight options should show when an unweighted graph is loaded. Also, when an unweighted graph is loaded, the event handlers should not be added to the links. When the event handlers are added on unweighted graphs, it spams the console with errors when you mouseover a node.

[2017-03-28 23:01] NAnguiano opened #420 "Which do all of you prefer: 4 spaces or 2 spaces?"
Heya team!

I'm going to be restructuring our code soon into a more modular structure (and make graph.js less of a complete mess), but I want to know what you guys think about 4 spaces for tabs vs 2 spaces for tabs. They're sort of randomly intersperced throughout our files and I think it's time we became consistent everywhere.

So!
4 spaces or 2 spaces?

Which one looks better to you?
![screen sh

[2017-03-28 23:02] kdahlquist commented on #411
When discussing #396, #397, and #399, @NAnguiano and @kdahlquist discussed the following changes to the UI that should be implemented right away:

1. We no longer need the message "Mouse over the edges to see the weight parameter values." to appear when a weighted graph is loaded, since we now have radio buttons showing the choices to the user.
2. We need to organize the Viewport/Drafting Board op

[2017-03-28 23:04] kdahlquist commented on #420
Do I get to vote?  I think 4 spaces (isn't that consistent with the Markdown we are using for writing the issues?)

@NAnguiano can you give a time limit on when you need a response by and set up a way to record the votes?

[2017-03-28 23:05] kdahlquist commented on #404
I took a look at this and it looks promising.  However, I don't want to implement anything new to our workflow at this point in the semester.  Let's revisit this during our summer sprint.

[2017-03-28 23:05] bjohnson05 commented on #420
*smiles*

Actually, I prefer three spaces per indent; that's just me.

Rationale:
  - 3 spaces is a little easier for my eyes to read and see
     the alignment of block-ending curly braces
  - 3 spaces "splits the difference" between 2 and 4 so a few
     less people complain about it
  - 3 is the first odd prime number, for which I'm OCD

......just sayin'...........

On Tue, Mar 28, 2017 at 4:0

[2017-03-28 23:08] anuvarsh commented on #420
I don't have a strong opinion! I like 2 spaces because I'm used to it, but switching to 4 spaces is no problem.

[2017-03-28 23:15] NAnguiano commented on #420
Everyone gets a vote!

If you want your vote recorded by a google form, click [HERE](https://docs.google.com/forms/d/e/1FAIpQLScMqvypMkd5Mnx_eZ6gz0cysOO6ptt1ICPBLcjySxRrwxsNtQ/viewform?usp=sf_link) for one!

Please only one answer per person.  I'll close the form on Thursday, after the meeting. This may go really badly, so you can also just post it here if you'd like. :) Or put it on both places!

[2017-03-28 23:19] NAnguiano commented on #419
@kdahlquist, would the normalization factor options need to be shown on an unweighted graph either? I'm thinking they wouldn't need to be, but I wanted to confirm.

[2017-03-28 23:21] eileenchoe commented on #420
Just voted for 4 spaces. My editor (atom) is configured to 4 spaces for the style requirements for other courses, its an extra step each time I start GRNsight development to switch it to 2 spaces (and vice versa).

[2017-03-28 23:26] ebachoura commented on #420
^ 4 spaces ftw

[2017-03-29 00:15] NAnguiano commented on #419
That's a good point. I'll have it always showing then, for now.

[2017-03-29 01:56] yshin4 commented on #333
@dondi helped me out with the svg issues I was having. Now I am able to access the text width per node data and set the dx accordingly. In addition, I can fix the size of the rectangle for the node without using getNodeWidth function (which used number of characters of the gene and magic numbers to set the value) , by using the same method I used to get text width. Now I have to modify the numbers

[2017-03-29 02:02] NAnguiano commented on #395
For some reason, the bounding box continues to resize itself after initially being detected. I think it's because of the @media tags.
Unfortunately, the bounding box only appears to resize - it doesn't actually change the drawable area at all. I'm not sure how to handle this, but I think the best way is to find a way to prevent automatic detection after the initial size is chosen.

[2017-03-29 02:07] NAnguiano commented on #406
Beta has been refreshed! It has issues #396 #397 #398 #399 and #419.

[2017-03-29 02:09] NAnguiano commented on #406
For anyone who refreshes beta in the future, keep in mind that the node apps are now being run from the top directory, not the server and web-client directories. The apps are called using server/app.js and web-client/app.js. This is a direct result of the `npm start` implementation. `npm start` can't be used on the beta server itself because of the additional requirements, so running the apps on t

[2017-03-29 04:17] kdahlquist commented on #395
Automatic detection of "small" for my laptop occurs with Firefox v52.0.2 (32-bit) and Chrome Version Version 57.0.2987.110.  I'll have to check the medium back in the office tomorrow.  Did we find a screen with which to check large?

As for @NAnguiano's last comment, I'm not even sure how I would know that.  Your solution sounds reasonable.

[2017-03-29 04:30] kdahlquist commented on #396
So, the radio buttons for fixed/adaptive are greyed out in Firefox (upon loading GRNsight beta) so I can't change them (adaptive is chosen).  The version of Firefox I have is 52.0.2 (32-bit).

The buttons are available for selection in Chrome until I load a graph, then they are greyed out.  Reloading the page makes them available again, but that has the unpleasant side effect of wiping out my grap

[2017-03-29 04:35] kdahlquist commented on #398
I've selected the radio button for adaptive and loaded a graph on both Firefox and Chrome that goes beyond the viewport.  I can't really think of any other way for a user to test this.  Any bugs detected in the future will be reported on other issues, so closing this one.

Good work!

[2017-03-29 04:35] #398 closed

[2017-03-29 04:36] NAnguiano commented on #396
I recall us having this issue in firefox before, particularly when it came to it storing the previous values of the sliders after the page was reloaded. I think I remember how it was fixed, so I'll get to fixing that now.

[2017-03-29 04:42] kdahlquist commented on #397
I am going to close this one since the buttons are there and they do indeed switch the viewport between small, medium, and large.

I think we need to fully explore all the interactions between choosing viewport size and allowing adaptive vs. fixed drafting board size, but let's open specific issues for that as they arise.

[2017-03-29 04:42] #397 closed

[2017-03-29 04:48] kdahlquist commented on #419
Verified that this is functional on beta, by alternately loading the demo weighted and unweighted graphs.  I note that GRNsight remembers what the last setting was, which is fine.  I'm going to label this issue with "documentation" so I remember to describe this behavior to the documentation page when it comes time to write up the new features for beta.

[2017-03-29 04:48] #419 closed

[2017-03-29 04:58] kdahlquist opened #422 "Checklist for v2.0.x release"
I occurred to me as I closed a bunch of issues tonight, that we should start documenting the features and bug fixes going into the new release.

Maybe it's time to start a draft release for this (or maybe not).  In either case, our aim is to do a release by the end of the last week of class, i.e., April 28.

I'm assigning this one to @NAnguiano and @anuvarsh (our graduating seniors) to do the hono

[2017-03-29 05:00] kdahlquist commented on #370
@anuvarsh, we need to set up a time to meet and discuss.  Since advising is starting for me, it would be best if you stopped by my office and signed up on the sign-up sheet.  I just need 24-hours notice.

[2017-03-29 05:03] kdahlquist commented on #414
I see a lot of check boxes on a previous comment to this issue that are empty.  Would @anuvarsh , @mihirsamdarshi , @eileenchoe , @ebachoura , and @yshin4 please check the box if you've completed this.  I have some vague idea that everyone has except for @yshin4.  I want to be able to close this at the meeting on Thursday.

[2017-03-29 05:06] kdahlquist commented on #410
I'm setting up check boxes for everyone to acknowledge this notification so that we can close this issue on Thursday.

- [ ] @mihirsamdarshi
- [ ] @anuvarsh
- [ ] @ebachoura
- [ ] @yshin4
- [ ] @eileenchoe
- [ ] @dondi

[2017-03-29 05:10] kdahlquist commented on #378
@NAnguiano, I think I commented on this document.  Did updates get uploaded to the repo?  I want to keep on task with the documentation required for your 402 and close issues when appropriate, as well.

[2017-03-29 05:26] kdahlquist commented on #379
I reviewed the software development plan that @NAnguiano uploaded to the repo and made comments and small edits in track changes mode.

My main questions include whether the requirements specification has been updated as we discussed and when is the date of your next presentation and final presentation.

Let's keep the CMSI402 issues updated as well as the actual development issues.

[2017-03-29 05:40] kdahlquist commented on #399
So, I'm seeing some unexpected behavior on beta 2.0.2 on Chrome (I can't test this on Firefox because I can't choose fixed layout, #396.

I select fixed and small viewport options.  When I load a graph, the buttons (scrolling, zooming) are not visible, but I can zoom with the mouse wheel and left-click and drag to scroll.

The grey bounding box is visible, which is good.  However, it is letting me

[2017-03-29 06:49] yshin4 commented on #414
Met up with @NAnguiano today and found out it was working without errors, for some magical reason. Npm start now runs on my laptop as well.

[2017-03-29 21:29] anuvarsh commented on #370
@kdahlquist, sounds good. Should I wait for later next week so we can discuss this section and the Discussion section together, or would you prefer we talk about them separately?

[2017-03-29 21:30] kdahlquist commented on #396
I'm not sure which issue to put this comment on, so I'll put it here.  It relates to resizing the viewport/drafting board when the viewport/drafting board is fixed.

For example, if I choose the option of a drafting board fixed to the viewport, and a small viewport and then load a graph, it behaves properly--the nodes stay within the boundaries of the viewport.

However, if I then select medium or

[2017-03-30 00:14] NAnguiano commented on #414
@yshin4 , I think I know why we got it working. @ebachoura had the same issue you had before today. What solved it was running npm start from the windows command prompt rather than git bash. I'm pretty sure that for whatever reason, you need to use the command prompt for npm start, not git bash.

[2017-03-30 00:46] yshin4 commented on #414
@NAnguiano  omg, you're right! Okay, I'll put that into my practice!

[2017-03-30 00:54] NAnguiano commented on #395
Fixed the continued resizing problem on my fork.

[2017-03-30 01:21] anuvarsh opened #423 "Adding additional information to warning messages"
While errors are important to ensure that GRNsight doesn't crash when a user uploads an incorrectly formatted adjacency matrix, warnings are important to ensure that the visualization that GRNsight presents is true to the data the user uploads.

Currently the warning message the we present to the user includes: a) that we have detected a problem, b) where the problem is, and c) what the user can d

[2017-03-30 02:12] NAnguiano commented on #396
The bounding box on fixed graphs now resizes when you choose a different graph. I'm in the process of allowing a switch between hard and adaptive after a graph has been loaded now.

[2017-03-30 02:12] NAnguiano commented on #399
You now can't zoom in on fixed graphs.

I'm in the process of trying to figure out how to restrict panning in a way that's intuitive, so that's in progress.

[2017-03-30 02:49] NAnguiano commented on #396
Ok, on my fork you can now switch between fixed and adaptive.

[2017-03-30 06:42] anuvarsh commented on #371
First draft of discussion has been pushed to master!

[2017-03-30 19:13] kdahlquist commented on #371
As per your previous comment on #370, should just go ahead and meet next week and talk about both the M&M, results, and discussion.  @anuvarsh, stop by my office to sign up for a time slot; I'm doing advising, so you'll need to fit yourself in between advising appointments.

[2017-03-30 19:15] kdahlquist commented on #423
Agreed--good suggestion.

[2017-03-30 19:18] kdahlquist commented on #396
Any timeline on when #395, #396, and #399 will be updated on beta?

[2017-03-30 21:34] NAnguiano commented on #399
I haven't quite figured out a way to restrict panning yet, but almost everything else has been done.

There are a few known functional and visual bugs right now, that I just need to figure out a clean way to handle:
- When you zoom in with the range slider, it doesn't zoom to the center. It instead zooms to the top right corner. This is because the center function on zoom only works on mousewheel

[2017-03-30 21:41] kdahlquist commented on #399
Does a log2 transform help with the scaling?

[2017-03-30 22:16] kdahlquist commented on #414
closing.

[2017-03-30 22:16] #414 closed

[2017-03-30 22:17] kdahlquist commented on #410
Got verbal acknowledgment about this at Thursday's meeting.

[2017-03-30 22:17] #410 closed

[2017-03-30 22:19] kdahlquist commented on #404
Backlogging this to the summer.

[2017-03-30 22:19] #404 closed

[2017-03-30 22:57] kdahlquist commented on #420
4 spaces wins!

[2017-03-30 22:57] #420 closed

[2017-03-30 23:38] NAnguiano opened #425 "Preferences on css tags, string initialization, variable declarations, and function declarations."
So we've decided on 4 spaces.

Now on to a few last things. If anyone can think of anything else they think is a good preference to poll, let me know.

First. In naming CSS ids and classes - camel case or dashes?
![screen shot 2017-03-30 at 3 09 09 pm](https://cloud.githubusercontent.com/assets/6444156/24529976/da6a1af8-1563-11e7-87fd-749c21fabd0e.png)

Second. When you create a string (or charact

[2017-03-30 23:48] NAnguiano commented on #399
What behavior is expected when it comes to panning/arrow key presses when a graph is fixed? It says "scrolling will also be enabled, but the user can't scroll past the viewport." But the viewport is the entire visible area of the graph, so you can't really scroll past it. Do you mean that you can't scroll past the drafting board, so that it is always in the viewport?

[2017-03-30 23:52] NAnguiano commented on #406
Beta was refreshed with the new pull request just before the meeting. It included the fixes for #395,
#396, and #399.

[2017-03-31 00:44] dondi commented on #425
My personal choices are:
1. Spinal case (that's what it is sometimes called BTW when you separate words with dashes—like having a "spine" across the words) —many conventions adopt spinal case for HTML identifiers (I need to locate those links though)
2. Double quotes for string literals —because I use single-quotes for string literals that are identifiers (e.g., a CSS property or a property name I

[2017-03-31 18:48] eileenchoe commented on #362
Completed all syntactic tests and corresponding unit tests as enumerated above this week. Additional discussion at the meeting yesterday brought up a few additional edge cases for the SIF importer (single node, file with no data, file with no data but tabs) which will require some additional time to handle and test. When complete, I will work on updating the documentation to reflect new SIF requir

[2017-03-31 18:50] eileenchoe commented on #362
Worked with @NAnguiano to solve the bug mentioned regarding routing SIF, GraphML, and Excel to its appropriate file uploader when the user selects "Select New File" from the error modal.

[2017-03-31 19:04] eileenchoe opened #426 "SIGGRAPH 2017 Conference Poster Submission"
Submission Deadline: Tuesday, 25 April 2017 22:00 UTC/GMT
http://s2017.siggraph.org/posters-submissions

Submission Components
- [x] Summary Statement
A single-sentence executive summary that introduces the achievements of your submission (50 words or fewer - proofed - suitable for conference publicity).
- [x] Abstract
- [ ] Poster Draft (optional)
- [x] Representative Image
- [ ] Video (optional)

[2017-03-31 19:11] eileenchoe commented on #425
Voted. My preferences are dashes, double quotes, individual, and function expression!

[2017-03-31 23:13] kdahlquist commented on #355
What is the update on progress on this issue?

[2017-03-31 23:16] kdahlquist commented on #406
Did you increment the version number?  Shouldn't we be on 2.0.3 now?  I will look at it and post comments on the relevant issues.

[2017-04-01 16:33] NAnguiano commented on #406
The version number is now properly incremented.

[2017-04-01 20:45] dondi commented on #411
I looked at the beta in its current state as of Saturday April 1 (which according to another issue is consistent with version 2.0.3) alongside the comment above, and have the following thoughts:

- Looks like item (1) is done, and that works for me, for the reason stated above.
- For (2) I think we've agreed that the Viewport and Drafting Board are distinct entities, and the beta I am seeing bears

[2017-04-01 20:58] dondi commented on #396
Outside of the labeling/visual suggestions that I posted in #411, the interaction I see in beta 2.0.3 feels OK to me. The only other change I might consider, but then again this might complicate things unnecessarily, is to actually make the two sizes distinct in the UI: i.e., "Graph Boundaries" can be small, medium, large, and "Viewport" can also be independently small, medium large.

If this dist

[2017-04-01 21:02] dondi commented on #399
The scrolling and zooming behavior in beta as of April 1 (v2.0.3) generally feel right to me. In fact the onscreen controls for scrolling (arrows plus center button) don't seem necessary. The zoom slider works as I would expect it, though perhaps it can be supplemented with an actual number (100%, 50%, etc.) to give the user additional information.

To address the question of "scrolling off the vi

[2017-04-01 21:46] mihirsamdarshi commented on #355
Sorry, I was trying to test again before I opened a pull request, but localhost won't initialize on my computer, and I've spent the majority of yesterday and today trying to get everything, and diagnose that problem so it wouldn't happen to me again.

[2017-04-01 21:48] mihirsamdarshi commented on #425
Voted.

[2017-04-02 03:41] mihirsamdarshi commented on #355
fixed, created pr

[2017-04-02 03:48] NAnguiano commented on #355
@mihirsamdarshi I posted on the pull request, but there's something funky happening with arrowheads and bars. Arrowheads don't seem to show up period - and bars only show up when they have a weight that would turn them grey.

[2017-04-02 04:37] NAnguiano commented on #355
The reason it's not working is because the bars and arrows use a very specific id structure. The options are:
[code]
The <#> portion contains the stroke width number. Optionally, you can add _selfReferential after the first portion if it's a self-referential loop. If the weight is below 0.05, it adds an additional tag at the end: minimum. In edges over that weight, minimum evaluates to the empty s

[2017-04-03 04:00] kdahlquist commented on #425
I'm not going to vote, per se.  However, we had a big discussion about CamelCase vs. under_score on the GRNmap team and turned up this paper which says that the under_score (or in this case, presumably the dashes) is easier to read:
* Usability study of CamelCase versus under_score:  [Binkley, D., Davis, M., Lawrie, D., & Morrell, C. (2009, May). To camelcase or under_score. In Program Comprehensi

[2017-04-03 04:06] kdahlquist opened #428 "Need to return error when user uploads blank file"
At the meeting Thursday, we discovered that GRNsight does not throw an error when a user uploads a blank file, i.e., a .xlsx, .sif, or .graphml file with no content.  Instead, GRNsight loads a blank graph, which correctly says 0 nodes, 0 edges at the top right.  However, we think that the user should be alerted that the file is blank instead, otherwise s/he might get frustrated trying to load the

[2017-04-03 04:12] dondi commented on #428
Yes, I agree that this is a semantic error. Technically, an empty file is "syntactically correct"—i.e., it represents an absence of data, which is considered legal at the structural level. We are the ones deciding that for the particular context of loading a graph, putting up a zero-node, zero-edge graph is most likely an indication that something is not going as intended.

This is analogous to ho

[2017-04-03 04:23] kdahlquist commented on #411
To respond to @dondi's comments:

* I like "Graph Bounding Box" as the substitute for "Drafting Board".  I'm not sure that I like the idea of a dashed line, though.  I think there is further discussion on issue #399, so I'll comment there on that.  Ditto on the thumbnails.  Let's leave off making icons until the last possible moment, in case we change our minds again.
* I agree with having the num

[2017-04-03 04:50] kdahlquist commented on #399
To respond to @dondi's comments:

* I think we still need to keep the onscreen controls for scrolling and centering.  I think that different people have different modalities for interaction and some might prefer to use the buttons in the same way that I click on the down arrow button to use the scroll bars in Word or my browser.  Clicking is useful in that it increments in a discrete unit that mig

[2017-04-03 05:11] kdahlquist commented on #396
I like @dondi's alternative model for the UI.  It clearly separates the choices for the viewport/bounding box and the interaction between them.  To recap and combine the ideas with #411:

* Viewport size behaves like it does now (three choices, small, medium, large that are automatically selected based on browser detection.
    * Add to this, an option to  "Fit to Window (w x h)" —Choosing this op

[2017-04-03 05:19] kdahlquist opened #429 "Browser version backwards compatibility question"
Question for @dondi:

On our about page and other documentation, we declare that GRNsight is compatible with x version of Firefox and y version of Chrome.  However, we are not really systematically checking to see if the current GRNsight is actually functional on these older versions or versions in between.  I went into the LSB 118 conference room to try to see if I could check if GRNsight was cho

[2017-04-03 05:21] kdahlquist commented on #395
I've been able to test both small and medium, but have yet to find a monitor on which to test large.  Any suggestions?  I tried the large conference room monitors, but because of the way they are scaling the screen, they actually turn up as "medium".  I don't want to close this until I can find a native "large" monitor, if it exists.

[2017-04-03 05:30] kdahlquist commented on #422
I realized that we can't really start the draft release until we are ready because one of the first steps is tagging the release.  So, I renamed the issue.  I'm pasting the release checklist here so we can check items off when it does come time to release.

However, since we have not had a master release since August, there are a lot of new features/bug fixes to document.  I'm going to start the r

[2017-04-03 05:43] kdahlquist opened #430 "Task list from now to end of the Spring 2017 semester"
For @anuvarsh
- [ ] #264, user defined normalization factor (priority 0)
- [x] #422, add release notes to this issue for your features/bug fixes
- [x] #425, preferences

For @yshin4 (generally in the vein of tidying up the graph layout features/bugs)
- [x] #333, reduce white space on either side of label (CLOSED)
- [ ] #318, long node labels mess up self-regulatory arrows (priority 0) because thes

[2017-04-03 05:43] kdahlquist commented on #403
All relevant open issues have been moved to #430.

[2017-04-03 05:43] #403 closed

[2017-04-03 05:46] kdahlquist commented on #426
@eileenchoe, please have a draft title/summary statement/abstract drafted two weeks in advance of the deadline for review.  Please note how many words the abstract needs to be in your list above.

[2017-04-03 16:33] kdahlquist commented on #380
Re-opening this issue because summer is getting closer.

The three week period we will be working is the first three weeks of Summer Session I:  Monday, May 15 to Friday, June 2 (we are off Memorial Day for the holiday).

We will be working from 9:00 to approximately 6:00 PM each day (it depends on how long you take for lunch; we will be working 8-hour days).

We will begin each day with a stand-u

[2017-04-03 16:40] kdahlquist commented on #363
At the meeting last week, @ebachoura asked about whether he needed to test for a case where there were edges described, but no nodes.  The answer was "yes" and led to the discussion about blank files which was documented in another issue #428.

Then the question became, "do I need to test to see whether each element of the GraphML" is present?  and the answer is "yes".  You also have to decide whe

[2017-04-03 23:40] NAnguiano commented on #364
This is still an issue. I don't feel comfortable with a master release (#422) unless this is fixed, as this is a pretty major bug with our force graph. I'll assign this to myself for now, but if anyone else wants to take it over and get it done, they can do it if they want.

[2017-04-04 04:41] kdahlquist opened #431 "GRNsight team meetings for Fall 2017"
Registration for Fall 2017 is just around the corner and we should start talking about when our GRNsight team meetings will be in the Fall.

Times that are off the table due to @kdahlquist's teaching and meeting schedule are:
Mondays 10:10-12:30
Tuesdays 11:30-12:30, 2:40-3:55
Wednesdays 10:10-12:30
Thursdays 2:40-3:55
Fridays 10:10-12:30

From what I see on the schedule of classes, @dondi is not

[2017-04-05 23:33] dondi commented on #430
@anuvarsh has made some progress and will have time until next Wednesday, after which she needs to focus on MCAT. The goal we have established is for her to have the functionality working with refresh. We will look into making normalization adjustments without refresh after that, for the remainder of the semester.

[2017-04-05 23:39] dondi commented on #430
@mihirsamdarshi was momentarily stuck but @dondi advised him to keep his developer console open so he can see any errors that were emerging, which was what was happening in this case. Upon seeing the error, this immediate issue was fixed during the meeting and he can now proceed.

He is projected to be finished with #355 well before the next technical meeting, so @dondi asked him to proceed to #38

[2017-04-05 23:46] dondi commented on #430
@eileenchoe is on the verge of issuing a pull request for #362, which @dondi will review. She also has a general approach (similar to @ebachoura's) for handling empty files (#428).

[2017-04-06 00:11] dondi commented on #430
For @ebachoura, @dondi walked through the process involved in implementing #363, ranging from the tests to how to handle the `err` argument passed by the third-party `parseString` function. @eileenchoe's existing unit tests for her SIF syntactic checker can serve as a pattern for his own unit tests.

[2017-04-06 00:26] dondi commented on #430
@dondi relayed to @eileenchoe and @ebachoura that we will be entering a swarm phase to help @NAnguiano with QA-ing her 402 work. At certain milestones, @NAnguiano can ask @eileenchoe and @ebachoura to do a thorough test with all of the combinations for the zooming/bounding box/adaptive settings that she is implementing. @eileenchoe and @ebachoura can report issues and potentially offer fixes to he

[2017-04-06 00:35] dondi commented on #355
After considering that the root cause of the error is the mislabeled worksheet tab, the fundamental issue in the code turns out to be making the assumption of weights based on that tab name rather than the data content. The visual anomaly occurs when weighted data are entered into a tab with the incorrect name.

The other imports (SIF, GraphML) actually make the decision of weighted vs. unweighted

[2017-04-06 03:58] kdahlquist commented on #355
So, right now, GRNmap *output* workbooks contain both a "network" and a "network_optimized_weights" sheet.  We decided long ago that when both sheets were present, the "network_optimized_weights" sheet prevails.  I am assuming that this behavior is still going to occur under the revised system?  So these would be the conditions:

* workbook only has "network" sheet with 0's and 1's: render with bl

[2017-04-06 04:00] kdahlquist commented on #425
@yshin4 and @ebachoura are reminded to vote on their preferences on this issue so it can be closed.

[2017-04-06 18:22] NAnguiano opened #433 "Allow all File types to be uploaded using the "Open" dialogue"
I think we should allow all of the different file types (xlsx, sif, graphml) to be uploaded using the Open dialogue, instead of having "open" for xlsx only and "import" for sif and graphml.

When I think "open", I think of opening a file of allowed types. When I think "import", I think more along the lines of importing prior session data.

[2017-04-06 19:15] kdahlquist commented on #433
This is worth further discussion.  However, when @dondi and I initiated the import of SIF and GraphML feature, we distinguished import vs. open because those weren't "native" GRNsight file types.  In the future, if we add node coloring based on a GRNmap input or output workbook, the data we need would not be supported by SIF and we'd probably have to customize GraphML to support it.  Hence, in the

[2017-04-06 22:05] kdahlquist commented on #355
Met with @mihirsamdarshi and made the following decisions:

* workbook only has "network" sheet with 0's and 1's: render with black/pointy edges
* workbook has both "network" and "network_optimized_weights" sheet or just a "network_optimized_weights sheet" with real numbers: ignore the "network" sheet and render in color
* workbook only has "network" sheet with real numbers: give a warning to the

[2017-04-07 04:57] yshin4 commented on #425
Voted.

[2017-04-07 21:31] yshin4 commented on #333
As written for pull request:

Reduced white space and my test file looked like below which clearly contains some edge issues.

![image](https://cloud.githubusercontent.com/assets/16246811/24820513/485b5adc-1b9e-11e7-97cf-dda365b627a4.png)

I adjusted all previous code that returned proportional values using character length so that the nodes have fixed length of white space in addition to the text

[2017-04-07 21:32] yshin4 commented on #333
@kdahlquist

Please review and kindly tell me if there are any changes you would like me to make.

[2017-04-12 01:46] yshin4 commented on #392
@kdahlquist

I made a change so that the small arrowheads look bigger for:
1. the thinnest ones for weighted graphs and
2. all the unweighted graph
and the result looks as below. First, two images are how it was before, and last two are after the change I made is applied. Please tell me if there should be any other modifications regarding this issue.

Before
![image](https://cloud.githubuserconten

[2017-04-12 02:17] yshin4 commented on #188
Trying to fix the issue by changing the refX value of the marker attribute when it is referring to itself. When value is too low the arrow is hard to see and when the value is too high it gets off the center of the edge. For now adjusted the numbers so it has a mutual distance away from the node and away from the center (in order to minimize the visual offset).

[2017-04-12 02:24] yshin4 commented on #318
@kdahlquist

Does this mean you would like the fixed graph to look like the top node, bottom node, or in some other form?

![image](https://cloud.githubusercontent.com/assets/16246811/24938489/59c53652-1eec-11e7-8069-94cb1dc02c0a.png)

[2017-04-12 20:40] kdahlquist commented on #318
@yshin4, not really either of those drawings.  The self-regulatory arrows should look like they do now for smaller nodes, like this:
![self-regulatory-edge-long](https://cloud.githubusercontent.com/assets/6463867/24978434/89a13ff8-1f85-11e7-8e9b-0a7db0410532.jpg)

[2017-04-12 21:30] kdahlquist commented on #392
This looks good.  The final test will be when I can see this "live" on beta.  I note that in the screenshot above that the self-regulatory arrowheads are no longer centered, though.

There are some test files that were set up to display all the possible edge widths for a weighted graph.  You should use those when making adjustments so that you can see how what you are doing affects all of the poss

[2017-04-12 21:33] kdahlquist commented on #333
@yshin4, final review has to take place when the functionality is live on beta.

I've been thinking about it and I think there needs to be a minimum box size that is larger than the skinny ones that now occur when using a single letter (or 2) for the node label.  Looking at the screenshot above, it seems like the width of four w's is the right size for a minimum. [wwww]

I.e., if the width is goin

[2017-04-12 21:37] kdahlquist opened #437 "Grey edges should have only one thickness"
When investigating #392, I discovered that grey edges can actually have two possible thicknesses, thinnest and one a little thicker than that.  We probably never noticed this before, but it you can see it here:

![check-self-referential-widths-output-v1 18 1](https://cloud.githubusercontent.com/assets/6463867/24980523/801d4596-1f8d-11e7-8229-8267279f390e.jpg)
generated with this file:
[check-self-

[2017-04-12 21:40] kdahlquist opened #438 "Allow numbers as node labels"
I tried to make a node label be a pure number, i.e., "111" and it got rejected by GRNsight.  I think we need to allow numbers to be node labels because someone may choose to use numbers instead of letters or letter/number combinations as node labels.

Someone else needs to verify this bug.  When it occurred, it was in the last cell on the right/bottom of my worksheet.

[2017-04-17 23:26] NAnguiano opened #439 "GRNsight won't load in Chrome due to HTTPS error?"
I'm pretty sure this is an issue only I'm having right now, but I'm not sure if it can affect others in the future, so I'm going to report it.

Neither beta nor master are not loading on the website in chrome. It works if I run it through the command line, but not if try to view it on the website. On both beta and master, I get the following error:
![screen shot 2017-04-17 at 4 24 08 pm](https://c

[2017-04-17 23:31] NAnguiano commented on #425
We're doing Camel Case for variables, Double Quotes for strings, no multiple declaration of variables, and prefer function expressions. Closing this up.

[2017-04-17 23:31] #425 closed

[2017-04-17 23:53] NAnguiano commented on #364
@ebachoura @eileenchoe I'm assigning this to the two of you. I'm also upping this to priority 0. This is too big of a bug in my opinion to ignore in a release.

[2017-04-18 04:17] kdahlquist commented on #439
I think I reported something related to this in #327.  See @dondi's response there.  It's not clear from his response if there is a way to fix this.

[2017-04-18 04:22] NAnguiano commented on #439
Yep, that appears to be the exact same issue. I'm not sure why now it's just now starting to affect me, but I'll switch to https for now. Because this is the exact same issue as #327, I'll close this one up.

[2017-04-18 04:22] #439 closed

[2017-04-18 04:27] kdahlquist commented on #327
Note that @NAnguiano reported this in #439, which she then closed because it was a duplicate of this one.

[2017-04-18 05:25] kdahlquist commented on #430
Updated task list for @ebachoura and @eileenchoe to assign #364 as per @NAnguiano's request.  Downgraded their other tasks in the meantime.

[2017-04-19 01:26] NAnguiano commented on #417
@eileenchoe @ebachoura, pinging you guys for this one.

[2017-04-19 01:31] NAnguiano commented on #430
Updated task list to add #417 to @ebachoura and @eileenchoe.

[2017-04-19 01:44] NAnguiano opened #440 ""For Next Release" Label + Pull Request Checklist"
This is more of a proposition than an issue.

I think it may be nice to have some sort of label that indicates that a particular issue is aimed to be completed before the next master release. This way, we can track issues that need to be done before a release is completed. This can be used to tag any existing bugs major enough that we'd want to fix them before a release (such as #417 and #364), or

[2017-04-19 01:50] NAnguiano opened #441 "Disallow export of unweighted graphs to weighted SIF/GraphML"
I noticed as I was writing up the pull request checklist from #440 that we're currently allowing unweighted graphs to be exported as weighted SIF and GraphML. I initially didn't think this affected anything, but when I load the weighted SIF exported from the unweighted demo, it is treated as a weighted file.

![screen shot 2017-04-18 at 6 45 58 pm](https://cloud.githubusercontent.com/assets/644415

[2017-04-19 02:00] yshin4 commented on #392
Note for me:
making arrowheads larger is done.
However, still have to work on 1. centering the arrowheads and 2. #437 from on.

[2017-04-19 02:02] yshin4 commented on #333
Will be working on this right now, @kdahlquist thank you so much for the excel files!

[2017-04-19 02:07] NAnguiano opened #442 "Should weights show up on weighted graphs loaded with the "default to black edges" option selected?"
I apologize for the deluge of issues, guys.

Right now, on weighted graphs loaded with the "default to black edges" option selected, the weights will show up if the "Always show edge weights" or "Show with mouse over" options are selected.

![screen shot 2017-04-18 at 7 04 55 pm](https://cloud.githubusercontent.com/assets/6444156/25160271/f3cbf132-2469-11e7-95be-a3a199eefa69.png)

I've never actua

[2017-04-19 02:18] NAnguiano opened #443 "Weights on weighted graphs congregate in the upper left hand corner when "always show weights" is selected"
While writing issue #442, I noticed this weirdness going on.

![screen shot 2017-04-18 at 7 08 26 pm](https://cloud.githubusercontent.com/assets/6444156/25160355/736e0920-246a-11e7-81d3-8708f3574af9.png)
![screen shot 2017-04-18 at 7 09 51 pm](https://cloud.githubusercontent.com/assets/6444156/25160389/a2e6caac-246a-11e7-967b-3ddaf1c2134c.png)
![screen shot 2017-04-18 at 7 09 00 pm](https://cloud.

[2017-04-19 02:28] NAnguiano opened #444 "Weights should not be drawn outside the bounding box when the bounding box/viewport is fixed"
When a weighted graph is loaded and the "always show weights" option is selected, some of the weights are drawn outside the viewport. While this isn't so much an issue with the ability to scroll around, I figured I'd point it out in case this is something we wanted to change. I assume someone choosing fixed may not want to need to scroll outside the viewport.

![screen shot 2017-04-18 at 7 21 54 p

[2017-04-19 02:32] yshin4 commented on #333
![image](https://cloud.githubusercontent.com/assets/16246811/25160881/8ed74dd6-246d-11e7-8e18-1224c676a208.png)

Added requested edition. Will be working on arrowhead sizes and request for merge.

[2017-04-19 02:43] NAnguiano opened #445 "Protocol for handling pull requests that are not ready to be merged?"
I think we should have some sort of protocol for pull requests that are not ready to be merged or shouldn't be merged yet - whether it's because they are bugged or because there is additional functionality that's going to be added to them. This would just ensure that incomplete or bugged pull requests don't get added by accident (though hopefully the pull request checklist from #440 would allow bu

[2017-04-19 02:46] kdahlquist commented on #441
When we were coding this up originally we missed this.  I agree with @NAnguiano.  However, we have too much on the docket to deal with this now, so we'll keep it at a priority 1.

[2017-04-19 02:48] yshin4 commented on #392
@kdahlquist Thank you for the super useful files.

![image](https://cloud.githubusercontent.com/assets/16246811/25161281/efd079f8-246f-11e7-95bf-1de48dcd2d9f.png)

This is how it looks after I modified the number values.

[2017-04-19 02:51] kdahlquist commented on #442
My initial reaction is that I would leave this one as is.  The weights can be turned on and off at will, so a user that doesn't want to display them has that option.  Since the information is there, we might as well allow the option to display it.  Maybe someone finds the colors and thicknesses distracting and just wants clean lines, but wants to peak at the weights every once in a while.

The onl

[2017-04-19 03:00] kdahlquist commented on #444
If the viewport/bounding box are fixed, then the weights should not go outside of edges.  "Fixed" implies that all drawable objects stay inside the viewable area.

However, I also want to say that I'd like to see #399 and #411 finished off (with the comments that @dondi and I made a couple of weeks ago) before diving into this one.

[2017-04-19 03:02] kdahlquist commented on #333
The widths are looking good.  Obviously, the self-referential arrows still need a little work.

[2017-04-19 03:05] kdahlquist commented on #445
I'm not perhaps the best person to comment on this, but I think that a pull request implies that it is ready to be merged, and that if it isn't for some reason, then it shouldn't be there.  @dondi definitely needs to weigh in on this one.

[2017-04-19 03:08] NAnguiano commented on #396
Will be getting started on this at the next work session. I just wanted to point out this tiny thing that really highlights the impact of the fixed/adaptive change.

This graph looks like nothing special when the setting is fixed:
![screen shot 2017-04-18 at 7 55 18 pm](https://cloud.githubusercontent.com/assets/6444156/25161484/113cb0f6-2471-11e7-9bab-990db525e318.png)

But when it's adaptive? It

[2017-04-19 03:10] kdahlquist commented on #392
These look centered to me now.  However, it looks like the very tip of the arrowhead (the point) is getting a little hidden behind the node box, when the exact tip should just touch the box.  This is more pronounced when the edges/arrows get smaller, like smaller than G08 or H07.

[2017-04-19 03:11] kdahlquist commented on #396
Agreed!

[2017-04-19 03:12] NAnguiano commented on #406
Beta has been refreshed from PR #446 and #432.

[2017-04-19 03:43] kdahlquist commented on #392
I looked at the version now live on beta.  I like the size of the arrowheads now.  However, the think I commented on above is definitely happening.  The very tip of the point should just touch the box edge (behavior currently on master), but on v2.0.5 on beta, the arrowhead tip is going underneath the box, not just for self-referential, but for node-to-node edges.  This is probably an artifact of

[2017-04-19 03:58] kdahlquist commented on #333
I looked at this live on beta v2.0.5 and it looks good.  Since the self-referential arrows have their own issue #318, I'm closing this one.  Nice work @yshin4!

[2017-04-19 03:58] #333 closed

[2017-04-19 04:03] kdahlquist commented on #370
Supplanted by #372.

[2017-04-19 04:03] #370 closed

[2017-04-19 04:03] kdahlquist commented on #371
Supplanted by #372

[2017-04-19 04:03] #371 closed

[2017-04-19 04:05] kdahlquist commented on #290
I'm moving this back to priority 0.5 because there are too many priority 0 for @NAnguiano that need to be finished first.

[2017-04-19 04:22] kdahlquist opened #447 "Hide "Data" menu in beta"
The "Data" menu got hidden on Master because there is no functionality there and we didn't want to have any placeholder menu items visible.  This is a reminder that we need to hide this menu option on beta, too, so that when it becomes Master, it suddenly doesn't become visible again.

I'm not sure who to assign this to.

[2017-04-19 04:34] mihirsamdarshi commented on #395
As I recently have been doing a lot of front end work, I believe our current viewport sizes are off, and that true values for small, medium, and large should probably be a lot less. The current "large" size would be only supported on 4K monitors which aren't ubiquitous yet and don't necessarily display in native 4k (case in point, the iMac, which displays everything scaled up). I believe the value

[2017-04-19 04:39] mihirsamdarshi commented on #355
Currently making progress on this issue, was not able to work on it a lot over Easter break due to familial and a canine commitment.

[2017-04-19 06:38] dondi commented on #445
It used to be that the act of merging was synonymous with approval—i.e., a pull request remained unmerged until it was deemed ready—but GitHub has since added an explicit "approval" feature (without being merged). This is available when a team member opts to “review” a pull request. When reviewing a request, they can now mark it as approved, or request changes. The coder can then submit additional

[2017-04-19 16:06] kdahlquist commented on #395
I don't agree with the assessment of "small" and "medium".  Those two sizes were optimized for a laptop and ~24" desktop monitor (i.e., my laptop and my desktop monitor).  The intention was to maximize the menu bar/bounding box to fit the visible area on the monitor so that the the graphs could be as large as possible given the constraints.  These two sizes work really well for me right now.

We d

[2017-04-19 16:09] kdahlquist commented on #445
@NAnguiano, does what @dondi suggest fit your needs?  Initially, I was thinking that we could get away with a less formal review process, but if you think it's necessary, then it seems like the process @dondi suggests will work.

[2017-04-19 18:12] NAnguiano commented on #447
I went ahead and did this on my fork. It will be in my next PR, which should come tonight.

[2017-04-19 18:32] NAnguiano commented on #395
I think I see what @mihirsamdarshi is saying. I just tested it on a 32ish" 1440p monitor and it does fall very slightly short of the size necessary to trigger the "large" size selection. I think the best solution is to simply reduce the max size required to trigger the selection of the large size. At this point, I'm pleased with the point at which small and medium are chosen, but I do think the re

[2017-04-19 19:45] kdahlquist commented on #395
Got it--sounds good.  Is there a monitor this size in the Keck lab or somewhere on campus where I can see with my own eyes?

[2017-04-19 20:19] NAnguiano commented on #396
So I somehow managed to miss a really obvious bug in the resizing. When you go from Small -> medium then back to small, it continues rendering the graph as if it's large. So it draws it outside the viewport.
![screen shot 2017-04-19 at 11 43 01 am](https://cloud.githubusercontent.com/assets/6444156/25199955/721ec158-2501-11e7-9816-ea75e65d537a.png)
I'm pretty sure this wasn't happening before. Eit

[2017-04-19 23:09] NAnguiano commented on #445
The initial motivation for creating this issue was two-fold. The first being that I keep seeing we have an open pull request and checking it, only to realize it's something I've already checked. And second being that yesterday, during my work session with @yshin4, I checked and reviewed her pull request (the now closed #436) and was about to merge before she let me know that the PR wasn't actually

[2017-04-19 23:12] eileenchoe commented on #362
Pull request merged by @NAnguiano in #432

[2017-04-19 23:57] NAnguiano commented on #406
Beta has been refreshed from PR #448.

[2017-04-19 23:58] NAnguiano commented on #447
This is now live on beta as per PR #448.

[2017-04-19 23:59] NAnguiano commented on #395
The viewport size change is up on beta. I'll check tomorrow to see if the monitors in the Keck lab are of the right size. For now, I'll check it at home on my monitor to make sure it is working as expected.

[2017-04-20 01:59] eileenchoe commented on #364
@ebachoura @NAnguiano and @eileenchoe collaborated on this issue and it is now fixed. Issuing the pull request now.

[2017-04-20 04:11] kdahlquist commented on #447
Verified complete on beta v2.0.7.

[2017-04-20 04:11] #447 closed

[2017-04-20 04:14] kdahlquist commented on #395
I'll take @eileenchoe 's independent verification of the correct automatic selection of large viewport as noted in PR #448 as good enough for me.  Closing!

[2017-04-20 04:14] #395 closed

[2017-04-20 04:19] kdahlquist commented on #364
I'm sorry to say that this is not completely fixed.  The slider values do change before I load a network.  However, once I load one of the demo's, the values no longer change when I move the sliders.  It looks like the opposite is happening from what @NAnguiano originally reported.

I tested both on Firefox and Chrome with beta v2.0.7.

[2017-04-20 04:23] NAnguiano commented on #364
@kdahlquist Beta hadn't been updated with the most recent pull request that contained this fix, which is why it didn't seem to be working. It's updated now.

[2017-04-20 04:26] kdahlquist commented on #364
Ah.  I refreshed and can see that it's fixed.  Closing.

[2017-04-20 04:26] #364 closed

[2017-04-20 04:29] kdahlquist commented on #362
@eileenchoe, I see that I've been assigned to this with a review requested label.  Does this mean that this is more or less done?

I see there is a "sif-syntactic-test-files" directory inside "test-files".  Is this the only place I should look to find test files for me to check?

[2017-04-20 04:38] eileenchoe commented on #362
@kdahlquist yes, this issue is complete and has been merged. Summary of changes are in PR #432. The unit test added are in import-sif-tests.js

[2017-04-20 05:27] kdahlquist commented on #362
I went through the "sif-syntactic-test-files" directory and tried out all the files there on beta v2.0.9.

The "correct" files loaded and the others all errored out.  However, certain files triggered redundant error messages in the error modal window.  Somehow I think we deal with this somehow so that the error message only shows up once?

The ones that trigger this are the "multi-column" variety

[2017-04-20 05:29] kdahlquist opened #450 "Beta v2.0.9 crashed when reviewing #362"
Just letting you all know I crashed beta when testing #362.  Whoever restarts it can close this issue when it's back up.

[2017-04-20 05:31] NAnguiano commented on #450
It's back up. Do you know the file that crashed it? I'll post an issue with the error message shortly.

[2017-04-20 05:31] #450 closed

[2017-04-20 05:35] kdahlquist commented on #450
The file is posted on issue #362.

At 10:31 PM 4/19/2017, you wrote:

[2017-04-20 05:35] NAnguiano opened #451 "SIF importer crashing due to "entry" being null"
Looks like something brought the beta server down while @kdahlquist was testing #362. Here's the error message.
![screen shot 2017-04-19 at 10 30 59 pm](https://cloud.githubusercontent.com/assets/6444156/25215085/ffcb0c8e-254f-11e7-858b-71e60712b8fd.png)
It got a little cut off at the bottom, but there's nothing below that. Last line just says `at Object.oncomplete (fs.js:107:15)`.

@eileenchoe, I

[2017-04-20 05:40] kdahlquist commented on #451
The file is posted on #362.

At 10:35 PM 4/19/2017, you wrote:

[2017-04-20 07:55] eileenchoe commented on #451
Fixed by handling the null entries generated when the SIF importer detects extraneous new lines. Issuing a pull request that deals with just this issue. Will work through issues brought up in @kdahlquist 's comment on issue #362 tomorrow.

[2017-04-20 19:05] kdahlquist commented on #451
Verified that the file that crashed it last night no longer crashes the server and gives an error to the user.  I'm closing this one, but leaving open #362 because there were other issues reported there that still need to be addressed.

[2017-04-20 19:05] #451 closed

[2017-04-20 20:16] NAnguiano opened #453 "We should allow GRNsight to be accessed at dondi.github.io/grnsight/"
In 402 on Monday, someone tried to access GRNsight but the site appeared to be down. When I tested it out, I discovered that it's because they'd typed the url as dondi.github.io/grnsight/ instead of dondi.github.io/GRNsight/. This seems a bit weird to me because on twitter, I can use both twitter.com/rtoal and twitter.com/RToal to get to Dr. Toal's twitter. I'm don't think every possible permutati

[2017-04-20 20:19] kdahlquist commented on #453
Yes, I think that all lowercase and all uppercase and perhaps sentence case, Grnsight, should be allowed.

Do we need to do something with Google Analytics so that those are all counted as page views?

[2017-04-20 20:49] kdahlquist commented on #188
Maybe this should be a new issue, but it seems to be a side effect of the changes we have been making to the edges/end markers either on this issue or #318 or #392 or #333.

When I load the test file "all-negative-weights.xlsx", the blunt end marker is not a uniform distance away from the node for all thicknesses.  As the edge gets thicker, the end marker gets progressively closer to the node unti

[2017-04-20 20:53] kdahlquist commented on #188
As for the centering, it looks to me like they mostly look OK, except for E-5 to E-6, E-6 to E-7 and E-7 to E-8 in the screenshot in the comment above.

[2017-04-20 20:55] kdahlquist commented on #188
After playing with it a bit more, I realize that it's a left vs. right thing and not the thickness.  If the blunt end marker is on the right side of a node, it's too close to the node; if it's on the left, it's OK.  Top and bottom are OK.

[2017-04-20 21:23] kdahlquist commented on #245
This is not a priority, but I wanted to know the status of this one so I checked beta v2.0.11.

The Undo reset button is still active when the sliders are locked.  This is not the desired behavior.  When the sliders are locked, they should not be able to be reset or undo reset.

[2017-04-20 21:26] kdahlquist opened #454 "Reset sliders and undo reset slider menu options are not working in beta (buttons are still OK)"
When checking #245, I noticed that the Format > Reset Force Graph Parameters and Format > Undo Reset menu items are not functioning.  The buttons are working, but the menu items are not.

Labeling this as priority 0 because it is a regression from functionality currently available on master.

We will assign this to someone at the meeting in a few minutes.

[2017-04-20 21:28] kdahlquist commented on #220
Just giving a status update on this one.  Nothing has changed in the behavior as a consequence of the refactoring noted in comment above.  This is a low priority right now.

[2017-04-20 21:46] kdahlquist commented on #386
@dondi has not had time to review this one, so I did some quick checks on what I think should be semantic errors.
* I made a .sif file with a node name that was too long; that brought up the error as expected.
* I made a .sif file with a duplicated row, which should trigger the duplicate gene name error, but it still loaded.  So, for whatever reason, this is not being caught by the semantic checke

[2017-04-20 22:20] kdahlquist commented on #440
We agreed at the meeting that the pull request checklist is working and that we would create a new issue tag called "for next release" so that we could definitively say which solved issues are going into the next release.

[2017-04-20 22:20] #440 closed

[2017-04-20 22:25] kdahlquist commented on #445
A team member that submits a pull request should actually do the PR checklist before submitting the request.  Then the reviewer independently does the checklist and either approves or asks for revisions (or closes without merging).  A PR should not be opened if it is not "ready" for this.

[2017-04-20 22:25] #445 closed

[2017-04-20 22:28] NAnguiano commented on #440
The pull request checklist is now put on [this wiki page](https://github.com/dondi/GRNsight/wiki/Pull-Request-Checklist).

[2017-04-20 22:29] kdahlquist commented on #442
The group thought that it was OK to leave this one alone.

[2017-04-20 22:29] #442 closed

[2017-04-20 22:29] mihirsamdarshi commented on #355
Currently added the code that specifies the conditions and behaviors specified in @kdahlquist's comment, I just have to make the warnings now

[2017-04-20 22:33] kdahlquist commented on #433
After discussion with the group, we thought that the Open menu item should have the arrow that then led to the three filetypes supported by GRNsight and that we would get rid of the Import menu option.

[2017-04-20 22:34] #379 closed

[2017-04-20 22:34] #378 closed

[2017-04-20 22:36] kdahlquist commented on #429
@mihirsamdarshi suggests that this would be dependent on the specifications of the packages we are using.

[2017-04-20 22:38] kdahlquist commented on #429
Consensus is to update the browser compatibility statement upon a new release.

[2017-04-20 22:45] kdahlquist commented on #264
@anuvarsh is still working on this.

* code can detect the normalization factors from uploaded graph
* can take a user-provided normalization factors
* But, the graph is not refreshing
    * she will write some text in the UI that warns the user that the graph will reload if they change the normalization factors

[2017-04-20 22:53] anuvarsh opened #455 "Going to the Beta page of GRNsight causes a Uncaught DOMException"
![image](https://cloud.githubusercontent.com/assets/8509674/25255772/6792ea12-25e1-11e7-8c5b-e582c13a2745.png)

This error appeared in the console when I opened the Beta page. The demo files are still loading.

[2017-04-20 23:02] kdahlquist commented on #188
@NAnguiano says look at issue #101.

[2017-04-21 02:43] kdahlquist commented on #454
I forgot to talk about this one at the meeting.  I'm tagging it for the release because it is a regression of function.  Still not sure who to assign it to.

[2017-04-21 03:03] kdahlquist commented on #363
I tagged this issue with a "for next release" label because we want to incorporate the additional syntactic tests for graphml into the next release.  The list of tests need not be exhaustive at this point (because we will likely add more), but whatever we have needs to function correctly (i.e., return the appropriate error or warning to the user).

So, @ebachoura, in the next week, please work on

[2017-04-21 03:06] ebachoura commented on #363
@kdahlquist Does this mean that I should have all the test that I've written passing by next week? If so, I'm not sure that I will be able to do that

[2017-04-21 03:07] kdahlquist commented on #362
@eileenchoe, I labeled this "for next release" because we want to merge all of your current completed tests into the next release.  Since you guys fixed the error that crashed the server, this is already in a good enough state for the release.  Get to the issues I reported above if you have time.  We can come back to this one in the summer.  There are other bugs in the critical path that need to t

[2017-04-21 03:08] kdahlquist commented on #417
@eileenchoe, since you are in a stable state with #362, focus on fixing this bug first.

[2017-04-21 03:11] kdahlquist commented on #363
Not necessarily, I'm saying that we should collect all the tests that _are_ passing and giving the appropriate messages to the user and merge them into beta.  To get closure by the end of the semester, you should list (maybe on the wiki) the ones that are passing and included in the release, and the ones that still need some work so that we can come back to it later and remember where we left off.

[2017-04-21 03:13] kdahlquist commented on #188
@yshin4, this issue is a lower priority than #318.  I labeled it for the next release because the work you have done to this point will be included even if we need to do some further tweaks later.

[2017-04-21 03:14] kdahlquist commented on #392
@yshin4, this issue is a lower priority than #318. I labeled it for the next release because the work you have done to this point will be included even if we need to do some further tweaks later.

[2017-04-21 03:15] kdahlquist commented on #318
@yshin4, this is a higher priority than either #392 or #188.  Both of those are in a better state than this one.  See if you can make some headway on this one for the release and we can come back to the other ones later, if need be.

[2017-04-21 03:18] kdahlquist commented on #454
I'm going to give this one to @eileenchoe.  As I mentioned, what she's got left in #362 is in a good enough state and this one needs to be fixed for the release.

[2017-04-21 03:22] eileenchoe commented on #426
@NAnguiano and @eileenchoe met with @dondi to work on the abstract and get the latex formatting right.

@kdahlquist can Nicole and I meet with you tomorrow at 12:30 (after your meeting with her at 11:30)  to over the draft?

[2017-04-21 03:31] kdahlquist commented on #426
Yes, that works for me.  What is your word limit?  Or is it just what fits on one page?  What you have there right now is fine, but doesn't meantion SIF or GraphML, which the conference-goers might be familiar with, and also one of your major contributions as of this time.

Since version 1 is published, it can be referenced and you can talk about some of the improvements for 2.0 (unless there's re

[2017-04-21 03:34] kdahlquist commented on #429
I added this task to the [Release Procedure](https://github.com/dondi/GRNsight/wiki/Release-Procedure) on the wiki.  I will be updated #422, shortly.

I'm going to close this one out because the relevant tasks are now covered by the wiki/issue #422.

[2017-04-21 03:34] #429 closed

[2017-04-21 03:38] kdahlquist commented on #422
I updated the checklist in the comment above with revisions to the [Release Procedure](https://github.com/dondi/GRNsight/wiki/Release-Procedure) documented in issue #429 and #440.

[2017-04-21 03:52] eileenchoe commented on #426
Yes, there is no word limit, but a page specification (2 pages max). Content formatting specification link is [here](http://www.siggraph.org/learn/instructions-authors) for reference.

[2017-04-21 04:36] kdahlquist commented on #422
As promised, starting the release notes here.

GRNsight v2.0.x includes the following new features and bug fixes:
* When a weighted graph is loaded, the user now has the options to show weights upon mouseover of an edge, always show weights, or never show weights #285
* The bounding box and viewport for the graph have been separated allowing for the following new features:
    * The bounding box c

[2017-04-21 05:14] eileenchoe commented on #454
@kdahlquist To clarify, the reset and undo reset functionality should be the exact same for the button version and the menu version, correct?

[2017-04-21 06:35] eileenchoe commented on #454
Fixed!

[2017-04-21 18:46] NAnguiano commented on #188
Just for reference, I noted that the above marker issue is also present on arrowheads as well.
![screen shot 2017-04-21 at 11 41 54 am](https://cloud.githubusercontent.com/assets/6444156/25291708/0dbe2806-2688-11e7-8113-9dca3a1643b4.png)

[2017-04-21 19:01] NAnguiano commented on #454
Merged PR #456. This fix is live on beta and can be reviewed.

[2017-04-21 19:05] kdahlquist commented on #454
verified is working on beta 2.0.12

[2017-04-21 19:05] #454 closed

[2017-04-23 05:41] eileenchoe commented on #426
Finished a first pass of the abstract draft. I chose to focus on the subset of features in v2 which deal with the visualization and layout feature additions, to align with the graphics focus of the conference. @kdahlquist and @dondi can you review when you have a chance? Left "Separation of Viewport from Graph Bounding Box" and some conclusion space for @NAnguiano to fill out since this is your ar

[2017-04-24 01:28] dondi commented on #426
OK, this first comment is just about tech/errors/logistics:

* You’ll _love_ what it took to fix the `maketitle` errors (I will leave it to the diffs to show this) 😂
* URL handling is solved by loading up the `url` package, then wrapping any URLs around the directive `\url{......}`—nothing you were expected to know; just something that emerges with enough LaTeX exposure
* Even though it doesn’t sh

[2017-04-24 01:45] dondi commented on #426
Now some content notes:
* The abstract needs to reflect our new focus on v2, I think. It starts by saying “We present new features in v2…” but never quite gets there. I would suggest replacing the sentence:

  …with a v2-specific sentence, maybe something like:

* I think that it will be worth noting that v2 revises the default D3.js force graph layout algorithm even more than it originally did. S

[2017-04-24 17:00] kdahlquist commented on #426
I agree with what @dondi said and would even go further in some of his comments.  I could try to help by directly editing, but I would need some guidance on what editor to use (would [Overleaf](http://www.overleaf.com) work?)

Since I can't see the metadata, I want to make sure that the author list and order is correct.  It should be:

Eileen J. Choe, Nicole A. Anguiano, Anindita Varshneya, Mihir

[2017-04-24 17:38] kdahlquist commented on #372
@anuvarsh--let's set up a time to meet.  I'm free most of Tuesday after 11:00.  Sign up for an appointment or respond to this comment.

[2017-04-24 19:37] eileenchoe commented on #426
@dondi @kdahlquist thanks for the feedback. I have class until 2, so I'll be free shortly after to start going through your suggestions and making changes. @kdahlquist I'm not sure if Overleaf will work because I don't see an option to import the ACM template that is needed. I think it will be fine to copy the text into a wiki for content edits.

[2017-04-24 19:58] kdahlquist commented on #426
I have class from now until 5:00, so I won't be
able to work on it until about 9:00 tonight after
my son goes to bed...Post a comment on this issue
when you've got something for us to look at.

At 12:37 PM 4/24/2017, you wrote:

[2017-04-24 23:02] eileenchoe commented on #426
Working on abstract with @NAnguiano right now. We've decided that Nicole will submit the abstract because for submission into the ACM Student Poster Competition, the submitter must be the primary contributor of the work. The deadline to submit is 3PM tomorrow. I have class starting at 10AM and Nicole has class starting at 11AM. We are willing to meet in the morning to finalize submission materials

[2017-04-25 00:15] kdahlquist commented on #426
I would be interested in getting @dondi's take on
this.  Eileen, since you are the one presenting
at the conference, I'm still OK with you being
the primary author, even though you came to the
project late.  It is you who will be "judged" at
the conference, sinc you are the one presenting the poster.

I'll take a look at whatever you guys have later
tonight and make tweaks to the language as
appro

[2017-04-25 00:18] eileenchoe commented on #426
Included options for the sample representative image in the "representative images" folder, cropped and sized per guidelines specified [here](http://s2017.siggraph.org/representative-image-guidelines). They also request copyright info ("Please also specify copyright and image credits for each image. The file-upload manager offers an input field for this optional information."). What is the copyrig

[2017-04-25 00:20] eileenchoe commented on #426
Also I was under the impression that @NAnguiano will also be attending the conference to present if the poster is selected?

[2017-04-25 01:08] dondi commented on #426
Just a note that I am working on the LaTeX issues right now. I too was under the impression that @eileenchoe would be the presenter because we weren’t making any assumptions about @NAnguiano’s availability/eligibility after graduation. I can discuss this with @kdahlquist to look at possibilities.

Copyright info is all ours, I would imagine. The figures are all created by our group and our softwar

[2017-04-25 02:24] dondi commented on #426
OK so I scanned the web for instructions and ultimately I settled on following this one because it has the most recent date (last published April 9, 2017): http://www.acm.org/binaries/content/assets/publications/consolidated-tex-template/acmart.pdf

Page 10 of that document acknowledges that shared affiliations can take up a lot of space, but ultimately prefers that over any kind of special format

[2017-04-25 03:30] dondi commented on #426
Technical fixes done. Going into content-reading now.

@kdahlquist In terms of editing this, I checked out how it looks in the web-based GitHub editor and it looks fairly manageable to edit the source file (_siggraph-abstract-review.tex_), especially since you’re pretty accustomed to having markup mixed in. The only disadvantage I see is that long lines are not automatically wrapped. It _is_ safe

[2017-04-25 03:34] dondi commented on #426
Scratch that, I went ahead and did hard linebreaks. The file should be pretty editable within the web editor now.

[2017-04-25 03:47] kdahlquist commented on #426
OK, I'm cool with editing on GitHub web.  However, is there a way I can compile it to see what it looks like once I've made a change?

[2017-04-25 03:48] kdahlquist commented on #426
Also, don't forget that the GitHub web editor has a soft wrap feature (which I use all the time!).

[2017-04-25 03:49] dondi commented on #426
The preview generation, unfortunately, will need a LaTeX rebuild. I can do that on and off this evening; not an ideal workflow but probably unavoidable if Overleaf can’t use custom templates.

Ack, I forgot about the soft wrap! I should undo the hard wrapping then…much better to work with the soft wrap. Stand by, I have to back out the commit that applied the hard wrapping…

[2017-04-25 03:53] dondi commented on #426
OK, soft wrapping restored.

I have some pending edits; however I will pull regularly in case you are also editing. I’ll merge any conflicts and will signal when I’ve pushed a new version from my end.

[2017-04-25 03:56] kdahlquist commented on #426
Sorry, started editing, not too much though.  I'll wait for your next comment before I work on it again.

[2017-04-25 03:58] dondi commented on #426
That’s fine, keep working. I’ll pull before I send my own edits.

[2017-04-25 04:21] kdahlquist commented on #426
I got Overleaf to work.  I had to

* sign up for an account
* click on Files > Upload from > Computer
* I then just uploaded the contents of the SIGGRAPH directory and set "siggraph-abstract-review.tex" as the main file in the directory tree on the left.

Theoretically, Overleaf supports direct connections to GitHub, but that didn't work for me.

Now I can at least see the whole document compiled,

[2017-04-25 04:23] dondi commented on #426
Sounds good. Let me know when you’re at a pause, then I can pull your edits and merge mine, then finally upload the combined content. I’m largely done.

[2017-04-25 04:24] kdahlquist commented on #426
Go ahead and pull.  I just did some tweaks to the abstract and that's it so far.

To answer the copyright question, use the Creative Commons Attribution Non-Commercial-Share Alike 3.0 Unported License that we use for the website.  If you need to give a name to attribute the license to, say "The Authors".

[2017-04-25 04:35] kdahlquist commented on #426
I looked at the .bib file and the citation to the PeerJ article is given as type {misc} instead of {article}, which it should be.  I deleted the reference to Schade from the Figure 1 legend, so we don't need that reference anymore.

Depending on how much room @dondi's changes are saving us, I think we can just get rid of the whole architecture section, streamline the intro/motivation, and still fi

[2017-04-25 04:38] dondi commented on #426
OK, merged and pushed. The hard linebreaks had managed to sneak back in so it took a little longer for me to merge. But the soft breaks have been restored, and as far as I can tell both sets of edits are intact.

Unfortunately my changes do not gain much space; there’s not much we can do when the repeated affiliations take up nearly an entire page. I don’t know if the reviewers will take that into

[2017-04-25 04:40] kdahlquist commented on #426
Do you want me to wait for the bibliography or can I just start on the main text?

[2017-04-25 04:41] dondi commented on #426
Oops, yes, the file is separate so you can get into the main text immediately.

[2017-04-25 04:43] kdahlquist commented on #426
Do we have to say "Department of", that would save us a couple lines for the EECS people?  Likewise, maybe we need to shorten the title by a word so that we don't use that third line.  We could just start with GRNsight v2: instead of New features for...

[2017-04-25 04:47] dondi commented on #426
All of those sound good to me.

The bibliography has been updated. Not sure if Overleaf catches that automatically, but the updated PDF reflects the changes.

I noticed that we've lost the Pavlopoulos citation. Should we bring that back in? Seems like a good indicator that we did some due diligence first. Then again, we did that for v1 so might not be as relevant here.

[2017-04-25 04:49] kdahlquist commented on #426
I'm going to slash and burn to get this thing down to 2 pages.  Let's see what we need after that.  I actually want to work in a citation to the 2015 Bulletin for Math Bio paper, but we'll see.

[2017-04-25 04:51] dondi commented on #426
Got it; slash and burn away ✂️🔥

[2017-04-25 05:56] kdahlquist commented on #426
I got it down to almost 2 pages by cutting and getting rid of Fig. 2 (I just commented it out for now).  Only the references are on the third page now.  And actually, I think the only needed reference is to PeerJ.

I've got other stuff I need to do right now; I can take a brief look in the morning, but I have class to get ready for and I don't get out until 11.

[2017-04-25 06:04] kdahlquist commented on #426
Actually, I don't think I have any more time for this.  Sorry...

[2017-04-25 06:31] eileenchoe commented on #426
@kdahlquist @dondi thanks so much for putting time into this so late. The specification for authors does not explicitly require the department, removing this saves a few lines. I'll continue to cut it down, and get the other submission materials in place to submit tomorrow morning.

[2017-04-25 06:39] dondi commented on #426
@eileenchoe Last bit for the night…I commented out the department and boom we are within two pages 🙂 Though now those repeated identical affiliations are really sticking out…still, I will make that ACM’s problem, not ours, again based on what is stated in http://www.acm.org/binaries/content/assets/publications/consolidated-tex-template/acmart.pdf

I cleaned up a couple of loose ends—there was a da

[2017-04-25 06:48] eileenchoe commented on #426
Great! Although its too bad that the normalization figure couldn't make it on there...

Few submission related questions regarding the reviewer and keyword for our abstract:

<img width="678" alt="screen shot 2017-04-24 at 11 45 30 pm" src="https://cloud.githubusercontent.com/assets/16827883/25372016/7e444552-2948-11e7-87d2-16efa39de32d.png">
<img width="586" alt="screen shot 2017-04-24 at 11 45 4

[2017-04-25 07:04] eileenchoe commented on #426
So there was a bit of extra space after taking out the departments. By condensing a sentence here and there in the introduction and conclusion, I've managed to get Figure 2 back in and still keep it at two pages!

[2017-04-25 07:09] eileenchoe commented on #426
Additionally, here's a draft of the 1-sentence summary statement (max 50 words):
We present new visualization and layout features in v2 of GRNsight, a web application and service for the interactive visualization of small- to medium-scale gene regulatory networks,  giving the user more control over the visual display of the weighted or unweighted network graph. (44 words)

[2017-04-25 15:53] kdahlquist commented on #426
For the questions:
* University Professor
* most relevant keyword: Research
* secondary: display and UI/Tools/Systems

[2017-04-25 15:53] kdahlquist commented on #426
summary is fine

[2017-04-25 15:57] kdahlquist commented on #426
The PeerJ article is still not referenced correctly in the .bib file.  I don't have time to fix it right now, but it should have the same fields as the other articles.

[2017-04-25 16:22] kdahlquist commented on #426
tried to fix the PeerJ citation and made two very minor edits; as long as the citation compiles correctly now, I think it's OK to submit.

[2017-04-25 18:23] eileenchoe commented on #426
Abstract submission is complete! :) We will know mid-May if the abstract is accepted!

[2017-04-25 23:45] kdahlquist commented on #372
The rest of your draft is ready to pick up from my bulletin board.  Closing this now.

[2017-04-25 23:45] #372 closed

[2017-04-25 23:46] kdahlquist commented on #426
Good work. Lowering the priority until we hear the good news!

[2017-04-26 05:10] kdahlquist commented on #430
@NAnguiano and @yshin4, any progress to report after today's work session?

[2017-04-26 22:56] ebachoura commented on #431
https://www.when2meet.com/?6179582-Vgcvd

[2017-04-26 23:09] ebachoura commented on #431
@yshin4 Could you put in your availability for next semester?

[2017-04-26 23:48] dondi commented on #264
@anuvarsh expects to have this finished by tonight. @dondi discussed the issue of minimum/maximum vs. single normalization with her and it was concluded that a standardized minimum of zero should suffice and will in fact be easier to code. @dondi can discuss the potential difference in visualization with @kdahlquist but the impact is expected to be minimal.

[2017-04-26 23:50] yshin4 commented on #431
done

[2017-04-26 23:57] dondi commented on #355
@mihirsamdarshi was having issues with making the warning appear; @dondi and @NAnguiano provided guidance for how to do that. @mihirsamdarshi will also implement a unit test then issue a pull request when this is ready.

ETA for the pull request is April 27 Thursday night.

[2017-04-27 00:11] dondi commented on #430
#417 has been tabled to priority 0.5 so that @eileenchoe and @ebachoura can focus on debugging the combinatorics of @NAnguiano's full feature set.

[2017-04-27 00:19] dondi commented on #363
@ebachoura was stuck on how to handle errors reported by the lower-level `parseString` function and @dondi pointed out a strategy. He will now be able to return an error triggered at this point.

[2017-04-27 00:22] dondi commented on #430
@NAnguiano expects a new pull request for her features tonight.

[2017-04-27 01:46] eileenchoe commented on #362
Updated the documentation to reflect our new strict interpretation of the relationship type for weighted networks (must be "pd"). As @kdahlquist suggested, changes are commented out for now, then should be uncommented upon v2 release #422

[2017-04-27 02:27] eileenchoe commented on #443
Problem was that weights for display were being searched over the .svg class selector instead of specifically the .link selector. Submitted PR #457

[2017-04-27 02:37] ebachoura commented on #431
Sorry @yshin4 & @eileenchoe but could you fill it out one more time? I just changed some of my classes and I can't log back in to change the times on the old one. https://www.when2meet.com/?6179895-M2tnb

[2017-04-27 02:45] NAnguiano commented on #443
@eileenchoe fixed this. This is up on the live beta now for testing :)

[2017-04-27 03:39] anuvarsh commented on #264
Normalization is now responding to user input data. There is some weird functionality where if the user tries to normalize the data to a number smaller than the maximum value in the network, d3 no longer scales the data to the range.

![image](https://cloud.githubusercontent.com/assets/8509674/25466911/2c864ba6-2ac0-11e7-838f-38c4ccc9a279.png)

Initial array (adjustedWeights): [0.005287, 0.00263,

[2017-04-27 03:41] mihirsamdarshi commented on #355
Since creating the warning, while running through the pull request checklist, I'm having a lot more trouble than I anticipated this taking, I am trying to get this issue done by tonight.

[2017-04-27 04:16] mihirsamdarshi commented on #355
ok, well I fixed the issue with the spreadsheet, but I turned all the unweighted values pink. Time to fix that.

[2017-04-27 04:48] kdahlquist commented on #264
I don't have any insight into @anuvarsh's last comment, but I just wanted to say that I had thought since the beginning that the minimum was 0, so was confused why it was anything but that.  The documentation I wrote for the feature assumes this, actually.  So this change is actually encoding the original spec.

It just goes to show that there are always hidden assumptions to tease out.  Looking f

[2017-04-27 04:51] kdahlquist commented on #443
Looks fixed to me.  Closing.

[2017-04-27 04:51] #443 closed

[2017-04-27 04:52] mihirsamdarshi commented on #355
I fixed it y'all. Just need to make the test now, I have a meeting to attend, however I intend to have this all done by the ETA of tomorrow night.

[2017-04-27 19:54] NAnguiano commented on #264
@anuvarsh I quickly looked at this and I think I found the issue.

The normalized weights aren't actually being used anywhere. The original weights are used to set the weights of the links so they're correct on mouseover. But because of that, the original weights are what are used to draw the graph. So as a result, even though you're limiting the values to be in a range from 0 to 0.5, it's still t

[2017-04-27 19:56] kdahlquist commented on #264
I just wanted to make a note that the file you should use for testing should be an artificially constructed file with weight values that chosen specifically for testing purposes.

[2017-04-27 23:29] anuvarsh commented on #264
@NAnguiano, if possible, could you push that to my branch? I tried to add that to my code according to your picture and description but about 10 new issues came up.

Updates for @kdahlquist and @dondi, yesterday night when I was working on this last little bit, I reached a hurdle that made me realize that I had to go back and basically completely reconstruct how I was going to go about this proble

[2017-04-28 00:22] NAnguiano commented on #264
@anuvarsh Sure! I pushed it. I also quickly found and fixed the issue with the repressor bars. This is what the 0.5 normalized graph looks like now.
![screen shot 2017-04-27 at 5 22 00 pm](https://cloud.githubusercontent.com/assets/6444156/25509466/126465f6-2b6e-11e7-9c51-cfd572bdad59.png)

[2017-04-28 02:57] NAnguiano commented on #417
I'm not sure if this is related to this or not, but I managed to get this error to show up while testing pull request #458. I loaded file adjacency-matrix-modifications > extra-column-end-of-sheet-input.xlsx.

![screen shot 2017-04-27 at 7 53 48 pm](https://cloud.githubusercontent.com/assets/6444156/25512536/6308e35a-2b83-11e7-9a74-0819e6a3c939.png)

This isn't a huge bug, but "undefined2" doesn't

[2017-04-28 03:08] anuvarsh commented on #417
Errors and warnings present the letter and number of the row and column. It looks like it's only catching the number and not the letter.

[2017-04-28 03:14] anuvarsh commented on #264
Wow! Yay! Thank you! Now working on making sure extreme values are handled.

[2017-04-28 03:17] anuvarsh commented on #264
@kdahlquist, should we restrict the values a user can normalize data with to be within some parameters? If so, any recommendations on what those parameters should be?

I thought that we should allow all numbers greater than 0, but I can see how there might be an argument to set a minimum value that is slightly higher than 0, and also potentially setting a maximum value.

[2017-04-28 03:18] NAnguiano commented on #355
To summarize what I said on PR #457:
- 4 test failures (I confirmed that the one timeout is because my computer is slow)
![screen shot 2017-04-27 at 7 59 43 pm](https://cloud.githubusercontent.com/assets/6444156/25512640/19c226ba-2b84-11e7-8422-b3146d72f816.png)
- Loading the file in the original post of this issue states it causes 25 issues, but nothing shows up in the warnings modal
![screen sho

[2017-04-28 03:36] kdahlquist commented on #264
I thought we didn't need the minimum value
anymore, since it is always going to be zero.

We probably do need a maximum for the maximum
value.  I'm going to arbitrarily suggest
1000.  That should be sufficiently large without
being insane.  Please make this easily changeable
in the code so if we need to change it later, it's not a big deal.

At 08:17 PM 4/27/2017, you wrote:

[2017-04-28 03:56] kdahlquist commented on #264
This is how I think that the normalization is/should be working.

1. GRNsight finds all the nonzero weights.
2. It takes the absolute value (to get rid of the negative signs).
3. It then finds the maximum value
4. It divides every other non-zero weight by this maximum, returning the normalized weight values, which are now all going to be >0 and <=1 for the positive weights or <0 and >=(-1) for the

[2017-04-28 04:20] dondi commented on #264
I agree with this, and the normalization value essentially customizes that maximum. @anuvarsh please describe a scenario where a custom minimum needs to be selected so we can understand that need better. After the Wednesday meeting I thought that had been settled. Thanks!

[2017-04-28 04:57] NAnguiano commented on #396
I think everything on this issue is done and included in PR #459.

[2017-04-28 05:00] NAnguiano commented on #411
I think everything here is done as well and in PR #459. I am particularly enjoying the Fixed to Window option. Enough that I think it may be worth it to have that as the default option rather than the sizes.

[2017-04-28 05:02] NAnguiano commented on #399
The sun button now centers without changing the zoom in PR #459.

The zoom slider has been behaving really unpredictably. I'm pretty sure I'm going to need to change the way zoom is currently being done, because I'm not getting the behavior from it that I want. I'm continuing work on that, but I wanted to get the features in issues #411 and #396 out just in case this took me longer than anticipate

[2017-04-28 05:45] anuvarsh commented on #264
I'm sorry, I did a poor job clarifying.

We are only taking in "maximum" normalization values from the user. This "maximum" value acts as the upper value of the range we want the matrix data to fit into. My question was in regards to the smallest "maximum" value (or normalization favor/ range) we would allow. Is the user allowed to input something like 10^-12 as a normalization factor?

Currently

[2017-04-28 06:10] dondi commented on #264
Ah OK I understand now. So to paraphrase, we are looking for the acceptable range of the normalization value. @kdahlquist has chimed in 1000 on the high end.

With that in mind, I don’t see any reason not to allow a “minimum maximum” of zero. This effectively turns off thickness visualization on the GRN because all edge values will land in the same “bin.” This might actually be an interesting mode

[2017-04-28 08:55] mihirsamdarshi commented on #355
Ah, I see, in the JSON, 24 warnings for incorrectly named sheet show up, however, none of them are showing up in the modal. I'll also work on the 4 test failures, which are weird because I didn't touch code that should have affected those tests, and they had been passing on my machine.

[2017-04-28 14:49] anuvarsh commented on #264
Sounds good to me! Working on that now.

[2017-04-28 18:10] kdahlquist commented on #264
I agree with @dondi.  Sorry for the previous misunderstanding.

[2017-04-28 18:37] kdahlquist commented on #399
I agree with the incremental PR approach.  I'll take a look at the functionality as soon as we can get the PR through our approval process.

[2017-04-28 23:19] kdahlquist commented on #373
I'm sure @anuvarsh is glad to see this one closed!

[2017-04-28 23:19] #373 closed

[2017-04-28 23:48] yshin4 commented on #392
Note for me when I return:

The position of the arrowheads can be modified by changing the refX attributes of the marker in the graph.js file. Depending on how high or low the value is the tip of the arrowheads gets either hidden beneath the box or gets off centered from the self pointing circle (stroke)

[2017-04-28 23:49] yshin4 commented on #188
Seems like I have to adjust values just like refX to be in a good ratio, but I haven't looked at this problem yet. Will be getting back to it next semester.

[2017-04-29 00:01] yshin4 commented on #455
I'm not sure if it is caused by the same reason, but I also get a error when I try to upload any files to the graph.

![image](https://cloud.githubusercontent.com/assets/16246811/25551066/56dfcb0a-2c34-11e7-9976-34cbaf1cd221.png)

[2017-04-29 00:02] yshin4 commented on #318
Got an error and can't upload any files to the website on my fork server. #455

[2017-04-29 00:49] NAnguiano commented on #417
@eileenchoe Weirdness is going on with the test suite. There's an error in the errors array that is straight up just half finished and doesn't actually seem to be used anywhere. It's called "outsideCellError". I'm worried that this testing problem may run a bit deeper than it appears even now...

![screen shot 2017-04-28 at 5 48 31 pm](https://cloud.githubusercontent.com/assets/6444156/25551526/eb

[2017-04-29 01:18] NAnguiano commented on #406
Beta is refreshed from PR #459.

[2017-04-29 04:36] NAnguiano commented on #396
@ebachoura @eileenchoe You guys are up now to break my code! The main permutations that would need to be checked are around the Fixed/Adaptive checkbox, as well as the size changing. My initial thought tells me that zooming/scrolling won't be a big issue until I refine and fix the zoom and scroll functionality (#399), but the stuff from #411 and #396 is fair game.

[2017-04-29 04:49] kdahlquist commented on #411
I'm looking at beta v2.0.14.  Just a small issue in the labels:

Instead of (1104x648px), it should say (1104 X 648 pixels)

I think there's room for that.

[2017-04-29 04:52] NAnguiano commented on #411
Like this?
![screen shot 2017-04-28 at 9 51 45 pm](https://cloud.githubusercontent.com/assets/6444156/25552999/ea57d2a6-2c5c-11e7-8159-3eb068209cf8.png)

[2017-04-29 04:55] kdahlquist commented on #411
Yes, exactly.  Also, while you're at it, can you tighten up the vertical spacing?  Right now when I'm using my laptop and got the menu bar flush with the top of my browser screen, the options for Normalization are off the bottom of my screen.  If we tighten the vertical space, there's a chance it will all fit on one screen's worth of real estate.

[2017-04-29 05:12] NAnguiano commented on #411
Found and fixed a bug where whenever the window was resized it would switch it to Fit to Window.. oops! As for that vertical spacing, @kdahlquist what do you think of this?
![screen shot 2017-04-28 at 10 10 23 pm](https://cloud.githubusercontent.com/assets/6444156/25553092/92e6ee78-2c5f-11e7-8b65-6c7d9994b8c1.png)

Here it is in reference with the UI, on my 13" laptop.
![screen shot 2017-04-28 at

[2017-04-29 05:14] kdahlquist commented on #411
Sure, looks good.  Won't be able to give a final comment until I can see it "live".  By the way, @anuvarsh, I'm pretty sure we don't need the "minimum" field for the normalization factor anymore.  I don't know if it will mess up anything that she'd doing if @NAnguiano takes it out.

[2017-04-29 05:30] NAnguiano commented on #411
I've made some changes to the structure of the sidebar in the code, so it may cause some merge conflicts regardless. I can remove it now, but it will ultimately be removed when @anuvarsh merges her fork in. I've made a PR with the visual changes as well as that bug fix.

[2017-04-29 05:43] kdahlquist commented on #396
There's a lot of good times to be had by loading a demo and just clicking and unclicking the "restrict graph to viewport" check box a lot.

So, let's ask it this way, what is the intended behavior?
* Default behavior is to have it unclicked, i.e., adaptive bounding box--I'm OK with this choice.
* Does checking/unchecking the box automatically trigger a reload?
    * Clearly, if the graph has moved

[2017-04-29 05:49] kdahlquist commented on #396
OK, another observation.

There seems to be a slight tendency for an adaptive graph to drift downwards instead of upwards.  By playing around with the sliders, I can eventually get the graph to go off the top of the viewport, but when it is just loading, it seems to want to go down instead of up, in fact leaving "white space" to the top of the viewport, in favor of drifting beyond the viewport at

[2017-04-29 05:51] anuvarsh commented on #411
The minimum box isn't there anymore in my branch. The newest version of normalization has not been merged to beta yet because of all of the bugs. Once I issue a pull request the extra box will be gone.

[2017-04-29 05:59] NAnguiano commented on #396
It doesn't actually reload - the force just restarts. So any locked nodes will remain locked. They'll just be pushed by the bounding box back in bounds if they were locked out of bounds. It seems to reload because the dramatic change in force and position sends all the unlocked nodes into a frenzy for a bit. Adaptive graphs are almost always larger than fixed ones (especially with the current size

[2017-04-29 06:00] kdahlquist opened #461 ""Fit to window" doesn't fit to window"
I thought it might be easier if we start making these issues more granular to individual behaviors.

When I select "Fit to window", it doesn't.

I expect that the viewport will "snap" to the lower right corner of my browser.

Instead, I actually get a really long viewport with scroll bars.

Since I have my browser window maximized, "fit to window" should not really make a big change, actually.  It

[2017-04-29 06:05] kdahlquist commented on #396
Thanks for the explanation.  To summarize, it's not a reload, but a re-application of the force.  So I think my questions still remeain, but just substituting applying the force instead of reloading (if that's possible).

I suspected that the top and left behaved differently, but wasn't sure.  That is something that's not urgent, so I wouldn't necessarily spend too much time messing around with it